@media only screen and (min-width: 641px) and (max-width: 1920px) {
  .reset--main {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    max-width: 1086px;
    width: 100%;
    & .reset--container {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      & .reset__verify,
      .reset__success {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        & .verify--title {
          & .verify__icon {
            height: 10em;
            width: 10em;
            background-color: $p-blue;
            & span {
              color: $p-white;
              font-size: 10em;
              line-height: 1em;

            }
          }
        }
      }
    }
  }
}
