.dashboard__reviews-container {
  padding: 0 2em 4em 2em;
  & .reviews__msg {
    padding: 2em;
  }

  & .reviews__qty {
    @include prefixflex();
    justify-content: center;
    align-items: center;
  }

  & .reviews__header {
    @include prefixflex();
    justify-content: center;
    align-items: center;
  }

  & .reviews__product--info {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    & .info--desc {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-self: flex-start;
      width: 100%;
      padding: 2em;
      & .desc--main-title,
      .desc--sec-title,
      .desc--price {
        @include prefixflex();
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 1em;
      }
      & .desc--product-details {
        min-height: 5.5em;
        width: 100%;
        padding: 2em;
      }
    }
  }
}
