.contact-us {
  max-width: 1086px;
  width: 100%;
  padding-bottom: 100px;
}

.contact-us.contact-us__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-us__container.container--header {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.main__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  height: 8em;
}
.main__title.tittle--header {
  font-size: 5em;
  font-weight: 200;
  letter-spacing: 0.01em;
  color: #365899;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.main__contact-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-us__submit--button:disabled {
  background-image: -webkit-linear-gradient(270deg, #9E9EAD, #9E9EAD);
  background-image: linear-gradient(180deg, #9E9EAD, #9E9EAD);
  cursor: not-allowed;
}
.contact-us__submit--button:hover:disabled {
  background-image: -webkit-linear-gradient(270deg, #9E9EAD, #9E9EAD);
  background-image: linear-gradient(180deg, #9E9EAD, #9E9EAD);
  cursor: not-allowed;
}

.contact-us__submit--button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 248.391px;
  height: 59.9375px;
  margin-top: 5px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(252, 10, 29, .99), rgba(252, 10, 29, .99));
  background-image: linear-gradient(180deg, rgba(252, 10, 29, .99), rgba(252, 10, 29, .99));
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.contact-us__loading--button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 248.391px;
  height: 59.9375px;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #365899, #365899);
  background-image: linear-gradient(180deg, #365899, #365899);
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);*/
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.contact-us__success--button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 248.391px;
  height: 59.9375px;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #61AA2A, #61AA2A);
  background-image: linear-gradient(180deg, #61AA2A, #61AA2A);
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);*/
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.contact-us__submit--button:hover {
  background-image: -webkit-linear-gradient(270deg, #365899, #365899), -webkit-linear-gradient(270deg, rgba(252, 10, 29, .99), rgba(252, 10, 29, .99));
  background-image: linear-gradient(180deg, #365899, #365899), linear-gradient(180deg, rgba(252, 10, 29, .99), rgba(252, 10, 29, .99));
}

.contact-us__recaptcha--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.email__label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
  font-weight: 500;
}

.message__label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
  font-weight: 500;
}

.contact-us__send-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-size: 16px;
}
.name__input {
  border: 1px solid #9e9ea5;
  border-radius: 4px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
}

.message__input {
  border: 1px solid #9e9ea5;
  border-radius: 4px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
  resize: vertical;
}

.email__input {
  border: 1px solid #9e9ea5;
  border-radius: 4px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
}

span.form-error.is-visible {
  color: #FC2525;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  padding: 1em 0;
}

.name__input.is-invalid-input:not(:focus) {
  background-color: rgba(236, 88, 64, 0.1);
  border: 1px solid #ec5840;
}
.email__input.is-invalid-input:not(:focus) {
  background-color: rgba(236, 88, 64, 0.1);
  border: 1px solid #ec5840;
}
.message__input.is-invalid-input:not(:focus) {
  background-color: rgba(236, 88, 64, 0.1);
  border: 1px solid #ec5840;
}

.name__label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 16px;
  font-weight: 500;
}

.contact-us__container {
  width: 600px;
}

.contact-us__send-copy--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-us__submit--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.contact-us__send-copy--container.container--checkbox {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-us__error {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 32em;
  background-color: rgb(218, 203, 201);
  border: 2px solid #EC5840;
}
.error-hard__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.error-hard__title h2 {
  margin-left: .25em;
  color: #FF0000;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}
.error-hard__title .error-icon {
  color: #FF0000;
  font-size: 5em;
  font-weight: 200;
  line-height: 1.25em;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}
.contact-us__error--message {
  padding: 5px;
  text-align: center;
  color: #FF0000;
  font-size: 1.6em;
  line-height: 1.21em;
  font-weight: 200;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}


.main__contact-us-form {
  display: block;
  padding: 30px;
  background-image: -webkit-linear-gradient(270deg, #d8d8d8, #d8d8d8);
  background-image: linear-gradient(180deg, #d8d8d8, #d8d8d8);
}

.success-message {
  max-width: 600px;
  border: 2px solid #417505;
  background-color: #417505;
  background-image: -webkit-linear-gradient(270deg, #26b44e, #26b44e);
  background-image: linear-gradient(180deg, #26b44e, #26b44e);
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 1;
}

.name__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.email__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.message__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.success-message__text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.error-message {
  max-width: 600px;
  border: 2px solid #670405;
  background-image: -webkit-linear-gradient(270deg, #c4292e, #c4292e);
  background-image: linear-gradient(180deg, #c4292e, #c4292e);
  box-shadow: 1px 1px 3px 0 #000;
}

.error-message__text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.button__fa-text {
  font-family: Fontawesome, sans-serif;
}
