.homepage-reviews {
  @extend .flex-center;
  flex-direction: column;
  height: 58em;
  width: 100%;
  margin-top: 4em;
  background-color: $p-grey;
  & h1.homepage-reviews-title {
    color: $p-red;
    line-height: 1.5em;
    margin: .57em auto 1.71em auto;
  }
  & .homepage-reviews-carousel-parent {
    @extend .flex-center;
    flex-direction: column;
    height: 30em;
    width: 100%;
    background-color: $p-blue;
    & .homepage-reviews-carousel-container {
      // @extend .flex-center;
      // flex-direction: column;
      height: 30em;
      width: 100em;
      // background-color: $s-grey;
      overflow: hidden;
      position: relative;
      & .homepage-reviews-carousel-slides {
        display: flex;
        position: absolute;
        background-color: $p-blue;
        // height: 30em;
        // left: -100em;
        transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
        & .homepage-reviews-carousel-alpha {
          @extend .flex-center;
          flex-direction: column;
          height: 30em;
          width: 100em;
          & .homepage-reviews-carousel-alpha-review {
            @extend .flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-alpha-review-body {
              display: flex;
              & .homepage-reviews-carousel-alpha-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-alpha-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-alpha-author-body {
              display: flex;
              & .homepage-reviews-carousel-alpha-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-alpha-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
        & .homepage-reviews-carousel-beta {
          @extend .flex-center;
          flex-direction: column;
          height: 30em;
          width: 100em;
          & .homepage-reviews-carousel-beta-review {
            @extend .flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-beta-review-body {
              display: flex;
              & .homepage-reviews-carousel-beta-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-beta-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-beta-author-body {
              display: flex;
              & .homepage-reviews-carousel-beta-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-beta-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
        & .homepage-reviews-carousel-gamma {
          @extend .flex-center;
          flex-direction: column;
          height: 30em;
          width: 100em;
          & .homepage-reviews-carousel-gamma-review {
            @extend .flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-gamma-review-body {
              display: flex;
              & .homepage-reviews-carousel-gamma-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-gamma-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-gamma-author-body {
              display: flex;
              & .homepage-reviews-carousel-gamma-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-gamma-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
        & .homepage-reviews-carousel-delta {
          @extend .flex-center;
          flex-direction: column;
          height: 30em;
          width: 100em;
          & .homepage-reviews-carousel-delta-review {
            @extend .flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-delta-review-body {
              display: flex;
              & .homepage-reviews-carousel-delta-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-delta-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-delta-author-body {
              display: flex;
              & .homepage-reviews-carousel-delta-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-delta-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
      }
    }
  }
  & .homepage-reviews-carousel-dots {
    height: 5em;
    width: 100%;
    margin-top: 2.5em;
    @extend .flex-center;
    & .homepage-reviews-carousel-dots-list {
      @extend .flex-center;
      list-style-type: none;
      & li {
        & .homepage-reviews-carousel-dots-list-each {
          height: 2.8em;
          width: 2.8em;
          border-radius: 50%;
          border: 1px solid $s-grey;
          background-color: $s-grey;
          margin-left: 1.7em;
          cursor: pointer;
          transition: background-color .3s ease-in-out;
          &:hover,
          &:active,
          &:focus {
            background-color: $p-red;
            outline: none;
          }
        }
      }
    }
  }
}
