@import './homepage_web_styles/home_web_header';
@import './homepage_web_styles/home_web_fastest_delivery';
@import './homepage_web_styles/home_web_how';
@import './homepage_web_styles/home_web_reviews';
@import './homepage_web_styles/home_web_popjuices';

.flex-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homepage {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $p-white;
  & .homepage__header--img-src {
    @extend .flex-center;
    flex-direction: column;
    width: 100%;
    background-image: $homepg-juices-pano;
    background-size: cover;
    background-position: center;
    & .header__nav-down--container {
      @include prefixflex();
      justify-content: flex-end;
      align-items: flex-end;
      flex: 1;
      & .header__nav-down {
        color: $p-red;
        text-shadow: 0px 3px 10px rgba(255,255,255, .5);
      }
    }
  }
}

// @media only screen and (min-width: 931px) {
//   .homepage__header--img-src {
//     min-height: 80rem;
//   }
// }
//
// @media only screen and (max-width: 930px) {
//   .homepage__header--img-src {
//     min-height: 73rem;
//   }
// }
