@import './homepage_web_styles/home_web_header';
@import './homepage_web_styles/home_web_fastest_delivery';
@import './homepage_web_styles/home_web_how';
@import './homepage_web_styles/home_web_reviews';
@import './homepage_web_styles/home_web_popjuices';

.flex-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homepage {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $p-white;
  & .homepage-header-img-src {
    @extend .flex-center;
    width: 100%;
    background-image: $homepg-juices-pano;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 931px) {
  .homepage-header-img-src {
    min-height: 80rem;
  }
}

@media only screen and (max-width: 930px) {
  .homepage-header-img-src {
    min-height: 73rem;
  }
}
