// $homepg-pano-margin-top: percentage($)
.flex-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homepage {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // padding: 1em;
  background-color: $p-white;
  & .homepage-header-img-src {
    @extend .flex-center;
    width: 100%;
    background-image: $homepg-juices-pano;
    background-size: cover;
  }
  & .homepage-header-innner-container {
    @extend .flex-center;
    flex-direction: column;
    width: 76.5em;
    height: 28em;
    border: 2px solid $p-red;
    background-color: rgba(1,1,1, 0.5);
    & .homepage-header-inner-container-img-src {
      content: $logo-one-line;
      width: 40em;
    }
    & .hompage-header-title-1 {
      color: $p-white;
      line-height: 2.5em;
    }
    & .hompage-header-title-2 {
      color: $p-white;
      line-height: 1.5em;
    }
  }
  & .homepage-fastest-delivery {
    @extend .flex-center;
    flex-direction: column;
    height: 47em;
    width: 100%;
    margin-top: 2em;
    background-color: #EFEFF0;
    & h1.homepage-fastest-delivery-title {
      color: $p-red;
      line-height: 1.5em;
      margin: .45em;
    }
    & .homepage-fastest-delivery-description-container {
      @extend .flex-center;
      height: 31em;
      width: 100%;
      margin-bottom: 5em;
      & .homepage-fastest-delivery-description-image {
        content: $img-fastest;
        width: 46em;
        height: 30.5em;
        margin: 1.1em;
      }
      & .homepage-fastest-delivery-description-message-container {
        @extend .flex-center;
        flex-direction: column;
        width: 43em;
        height: 27.5em;
        margin: 1.1em;
        padding: 1.5em;
        background-color: $p-white;
        @include prefixed(box-shadow, 3px 3px 3px rgba(1,1,1,.25));
        & h3 {
          color: $p-red;
          font-size: 22px;
          line-height: 2.045em;
          font-weight: bold;
        }
        & .homepage-fastest-delivery-description-message-body {
          @extend .flex-left;
          height: 23.3em;
          width: 42.6em;
          flex-direction: column;
          & p {
            font-size: 1.6em;
            line-height: 1.27em;
          }
        }
        & .homepage-fastest-delivery-description-message-buy-btn {
          display: block;
          width: 7.33em;
          height: 2.66em;
          color: $p-white;
          font-size: 1.5em;
          font-family: $p-font;
          font-weight: bold;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          margin-top: -30px;
          margin-right: -320px;
          border: none;
          cursor: pointer;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
      }
    }
  }
  & .homepage-how {
    @extend .flex-center;
    flex-direction: column;
    height: 66em;
    margin-top: 4em;
    & h1.homepage-how-title {
      color: $p-red;
      line-height: 1.5em;
      margin: .45em;
    }
    & .homepage-how-carousel-container {
      height: 57.2em;
      width: 94.1em;
      background-color: pink;
      & .homepage-how-carousel-left-arrow, .homepage-how-carousel-right-arrow {
        @extend .flex-center;
        height: 9em;
        width: 6em;
        background-color: rgba(1,1,1,.75);
        & span {
          color: $p-white;
        }
      }
      & .homepage-how-carousel-couple {
        & .homepage-how-carousel-couple-image {
          @extend .flex-bottom;
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-couple;
          background-position: cover;
          background-repeat: no-repeat;
          & .homepage-how-carousel-couple-description-container {
            @extend .flex-center;
            height: 15.5em;
            width: 72.5em;
            background-color: rgba(1,1,1,.75);
            margin-bottom: 3em;
            margin-bottom: 3em;
            & p {
              max-width: 680px;
              max-width: 680px;
              text-align: center;
              color: $p-white;
              font-size: 20px;
              font-weight: 400;
              line-height: 2em;
            }
          }
        }
      }
      & .homepage-how-carousel-distro {
        & .homepage-how-carousel-distro-image {
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-distro;
          background-position: cover;
          background-repeat: no-repeat;
        }
        & .homepage-how-carousel-distro-description-container {
          @extend .flex-center;
          height: 15.5em;
          width: 72.5em;
          // padding: 38em 6.4em 3em 6.4em;
          background-color: rgba(1,1,1,.75);
          margin-bottom: 3em;
          & p {
            max-width: 680px;
            text-align: center;
            color: $p-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 2em;
          }
        }
      }
      & .homepage-how-carousel-warehouse {
        & .homepage-how-carousel-warehouse-image {
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-warehouse;
          background-position: cover;
          background-repeat: no-repeat;
        }
        & .homepage-how-carousel-warehouse-description-container {
          @extend .flex-center;
          height: 15.5em;
          width: 72.5em;
          // padding: 38em 6.4em 3em 6.4em;
          background-color: rgba(1,1,1,.75);
          margin-bottom: 3em;
          & p {
            max-width: 680px;
            text-align: center;
            color: $p-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 2em;
          }
        }
      }
      & .homepage-how-carousel-flight {
        & .homepage-how-carousel-flight-image {
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-flight;
          background-position: cover;
          background-repeat: no-repeat;
        }
        & .homepage-how-carousel-flight-description-container {
          @extend .flex-center;
          height: 15.5em;
          width: 72.5em;
          // padding: 38em 6.4em 3em 6.4em;
          background-color: rgba(1,1,1,.75);
          margin-bottom: 3em;
          & p {
            max-width: 680px;
            text-align: center;
            color: $p-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 2em;
          }
        }
      }
      & .homepage-how-carousel-truck {
        & .homepage-how-carousel-truck-image {
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-truck;
          background-position: cover;
          background-repeat: no-repeat;
        }
        & .homepage-how-carousel-truck-description-container {
          @extend .flex-center;
          height: 15.5em;
          width: 72.5em;
          // padding: 38em 6.4em 3em 6.4em;
          background-color: rgba(1,1,1,.75);
          margin-bottom: 3em;
          & p {
            max-width: 680px;
            text-align: center;
            color: $p-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 2em;
          }
        }
      }
      & .homepage-how-carousel-delivery {
        & .homepage-how-carousel-delivery-image {
          @extend .flex-bottom;
          height: 57.2em;
          width: 94.1em;
          background-image: $img-carousel-delivery;
          background-position: cover;
          background-repeat: no-repeat;
        }
        & .homepage-how-carousel-delivery-description-container {
          @extend .flex-center;
          flex-direction: column;
          height: 16.5em;
          width: 72.5em;
          background-color: rgba(1,1,1,.75);
          margin-bottom: 3em;
          & p {
            max-width: 680px;
            text-align: center;
            color: $p-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 2em;
          }
          & a.homepage-how-carousel-delivery-buy-btn {
            @extend .flex-center;
            width: 10.66em;
            height: 2.66em;
            color: $p-white;
            font-size: 1.5em;
            font-family: $p-font;
            font-weight: bold;
            letter-spacing: .02em;
            background-color: $p-red;
            z-index: 1;
            margin-top: 1em;
            text-decoration: none;
            @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 3840px) {
  .homepage-header-img-src {
    min-height: 800px;
  }
}
@media only screen and (max-width: 1920px) {
  .homepage-header-img-src {
    min-height: 640px;
  }
}
@media only screen and (max-width: 1200px) {
  .homepage-header-img-src {
    min-height: 500px;
  }
}
@media only screen and (max-width: 1088px) {
  .homepage-header-img-src {
    min-height: 400px;
  }
}
