<body data-ix="dropdown-test">
  <div class="navbar">
    <div class="navbar-container">
      <a class="navbar__hamburger-container w-inline-block" data-ix="mobile-navbar-ppic-fade-in" href="#">
        <div class="hamburger-btn-top"></div>
        <div class="hamburger-btn-mid"></div>
        <div class="hamburger-btn-bottom"></div>
      </a>
      <div class="navbar__action-section"><a class="navbar__logo-container w-inline-block" href="/"><img class="image" sizes="(max-width: 767px) 31vw, (max-width: 991px) 20vw, 766px" src="images/nj2jp-small-logo-2-white_shadow.png" srcset="images/nj2jp-small-logo-2-white_shadow-p-500.png 500w, images/nj2jp-small-logo-2-white_shadow.png 766w"></a>
        <div class="action-section__right-side">
          <div class="user-icon" data-ix="mobile-navbar-ppic-fade-in"><img class="image-2" sizes="(max-width: 479px) 35px, (max-width: 991px) 50px, (max-width: 1092px) 100vw, 1092px" src="images/social-media-PP.jpg" srcset="images/social-media-PP-p-800.jpeg 800w, images/social-media-PP-p-1080.jpeg 1080w, images/social-media-PP.jpg 1092w"></div>
          <a class="mycart__container w-inline-block" href="/cart">
            <div class="cart-icon__container">
              <div class="text-block">FA</div>
            </div>
            <div class="cart-qty__container">
              <div class="text-block">0</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-expanded__container">
    <div class="expanded-header__container">
      <div class="greetings__container" data-ix="mobile-navbar-authorization-change-enter">
        <h3 class="heading">Hi, Toby</h3>
      </div>
      <div class="greetings__container not-logged-in" data-ix="mobile-navbar-authorization-change-enter">
        <h3 class="heading">Login <em>FA</em></h3>
      </div>
      <div class="expanded-status__logging-in greetings__container" data-ix="mobile-navbar-authorization-change-enter">
        <h3 class="logging-in"><em class="italic-text-2">Logging In...</em> <em class="italic-text-3">FA</em></h3>
      </div>
      <div class="greetings__container successsfully-logged-in" data-ix="mobile-navbar-authorization-change-exit">
        <h3 class="success-title"><em>FA</em> Success!</h3>
      </div>
      <div class="error-loggin-in greetings__container" data-ix="mobile-navbar-authorization-change-exit">
        <h3 class="error-title"><em>FA</em> Error!</h3>
        <h4 class="error-subtitle">There was a problem loggin you in.<br>Please try again later.</h4>
      </div>
    </div>
    <div class="expanded-content__container">
      <div class="expanded-section__container">
        <div class="section-title__container">
          <h3 class="expanded-nav-title-focused" data-ix="dropdown-test">Language</h3>
          <h3 class="expanded-nav-title-normal" data-ix="dropdown-test">Language</h3>
          <div class="dropdown-button__container">
            <div class="minus-icon">-</div>
            <div class="plus-icon">+</div>
          </div>
        </div>
        <div class="dropdown-content">
          <div class="option__container">
            <div class="language-flag"><img sizes="(max-width: 991px) 30px, 440px" src="images/japan_flag.png" srcset="images/japan_flag-p-500.png 500w, images/japan_flag-p-800.png 800w, images/japan_flag-p-1080.png 1080w, images/japan_flag-p-1600.png 1600w, images/japan_flag-p-2000.png 2000w, images/japan_flag-p-2600.png 2600w, images/japan_flag.png 3543w" width="440"></div>
            <div class="language-title">
              <div class="text-block-2">Japanese</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-flag"><img sizes="(max-width: 991px) 30px, 440px" src="images/us_flag.png" srcset="images/us_flag-p-500.png 500w, images/us_flag-p-800.png 800w, images/us_flag-p-1080.png 1080w, images/us_flag-p-1600.png 1600w, images/us_flag-p-2000.png 2000w, images/us_flag-p-2600.png 2600w, images/us_flag-p-3200.png 3200w, images/us_flag.png 6065w" width="440"></div>
            <div class="language-title">
              <div class="text-block-2">English</div>
            </div>
          </div>
        </div>
      </div>
      <div class="expanded-section__container">
        <h3 class="expanded-nav-title-normal">juices</h3>
        <div class="dropdown-content">
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Keylime Pie</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Pina Colada</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Papple Berry</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Fruity Bamm-Bamm</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">French Vanilla Mocha</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Strawberries N' Cream</div>
            </div>
          </div>
        </div>
      </div>
      <div class="expanded-section__container">
        <h3 class="expanded-nav-title-normal">MEDIA</h3>
        <div class="dropdown-content">
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Contact us</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Vape News</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">User Stories</div>
            </div>
          </div>
          <div class="option__container">
            <div class="language-title">
              <div class="text-block-2">Product Reviews</div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-media__container">
        <h3 class="social-media__title">CONNECT WITH US</h3>
        <div class="media-btns__container">
          <a class="social-media-btn w-inline-block" href="#">
            <div>FA</div>
          </a>
          <a class="social-media-btn w-inline-block" href="#">
            <div>FA</div>
          </a>
          <a class="social-media-btn w-inline-block" href="#">
            <div>FA</div>
          </a>
          <a class="social-media-btn w-inline-block" href="#">
            <div>FA</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
