<div className="product-page__4-bottles-modal">
  <div className="_4-bottles-modal__content-container">
    <div className="content-container__exit-btn">
      <div className="exit-btn__btn-container" data-ix="product-page-exit-button-hover">
        <button className="btn-container__exit-btn w-inline-block" data-ix="product-page-close-4-bottles-modal">
          <div className="exit-btn__alt" data-ix="product-page-exit-button-hover"></div>
          <div className="exit-btn__text"></div>
        </button>
      </div>
    </div>
    <div className="content-container__hdr-container">
      <h1 className="hdr-container__hdr-text">Lets Make a Deal!</h1>
    </div>
    <div className="content-container__sub-hdr-container">
      <div className="sub-hdr-container__blurb-text"><strong className="blurb-text__bold-text">BUY 4 BOTTLES</strong>&nbsp;and we'll slice&nbsp;<strong className="blurb-text__bold-text">25% OFF</strong>&nbsp;the price.</div>
    </div>
    <div className="content-container__example-container">
      <div className="example-container__section-hdr">
        <div className="section-hdr__example-blurb">Example:</div>
      </div>
      <div className="example-container__product-table">
        <div className="product-table__top-row">
          <div className="top-row__table-hdr">
            <div className="table-hdr__hdr-blurb">QTY</div>
          </div>
          <div className="top-row__table-hdr">
            <div className="table-hdr__hdr-blurb">Description</div>
          </div>
          <div className="top-row__table-hdr">
            <div className="table-hdr__hdr-blurb">Price</div>
          </div>
        </div>
        <div className="product-table__content-row">
          <div className="content-row__content-container">
            <div className="content-container__blurb-text">4</div>
          </div>
          <div className="content-row__content-container">
            <div className="content-container__body-text">
              <div className="body-text__product-title">
                <div className="product-title__blurb-text">Fruity Bamm-Bamm</div>
              </div>
              <div className="body-text__nicotine-description">
                <div className="nicotine-description__blurb-text">Nicotine Strength:&nbsp;6mg</div>
              </div>
              <div className="body-text__sku">
                <div className="sku__blurb-text">SKU: NJ2JP0001</div>
              </div>
            </div>
          </div>
          <div className="content-row__content-container">
            <div className="content-container__blurb-text">$ 120.00</div>
          </div>
        </div>
        <div className="product-table__order-summary">
          <div className="order-summary__order-text">
            <p className="order-text__blurb">Sub Total<br>Tax<br><em className="blurb__red-text red-text--order-text">Discount</em><br>Free International Shipping<br>Grand Total</p>
          </div>
          <div className="order-summary__order-cost">
            <p className="order-cost__blurb">$ 120.00<br>$ 10.10<br><em className="blurb__red-text red-text--order-text">25% OFF = $ -32.52</em><br><em>$0.00</em><br><em className="blurb__total-text--mobile-position">$97.57</em></p>
          </div>
        </div>
      </div>
    </div>
    <div className="content-container__action-btn">
      <div className="action-btn__top-text">
        <div className="top-text__blurb">Oh!</div>
      </div>
      <div className="action-btn__btn-row">
        <div className="btn-row__shipping-text">
          <div className="shipping-text__blurb">Did we mention you get&nbsp;<em className="shipping-text__red-text">FREE</em>&nbsp;International Shipping!?</div>
        </div>
        <div className="btn-row__btn-container" data-ix="product-page-action-button-hover">
          <a className="btn-container__action-btn w-inline-block" href="#">
            <div className="action-btn__blurb-text">Lets Do It!</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
