& .manage-login__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @import './userDashboard_sidebar_styles_web';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
      & .manage-login__title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        height: 7.5em;
        padding-left: 3em;
        border-bottom: 1px solid rgba(0,0,0,.15);
      }
      & .manage-login__body {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .manage-login__header {
          height: 9em;
          margin: 2em auto;
          padding: 2em;
          text-align: center;
          & p {
            font-size: 1.8em;
          }
        }
      }

      & .manage-login__methods--container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        & .methods__title {
          align-self: flex-start;
          padding: 0 0 2em 0;
        }
        & .methods--container {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          width: 100%;
          & .methods__email-password {
            width: 50%;
            & .email-password--container {
              font-size: 1.8em;
            }
          }
          & .methods__social-login {
            width: 50%;
            margin-left: 2em;
          }
        }
      }

      & .newsletter__action-section--container {
        @include prefixflex();
        justify-content: space-around;
        align-items: center;
        padding: 2em auto;
      }


    }
  }
}
