& .orders__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @import './userDashboard_sidebar_styles_web';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
    }
  }
}
