.orders__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @import './userDashboard_sidebar_styles_web';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
      & .dashboard--title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        padding-left: 3em;
        height: 7.5em;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
      & .dashboard__tabs {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.1);
        & .tabs--completed-orders,
        .tabs--open-orders,
        .tabs--order-tracking {
          border: 0;
          margin: 1.5em 0 0 2em;
          min-height: 4em;
          min-width: 12em;
          padding: .5em;
          background-color: $p-red;
          cursor: pointer;
          & p {
            color: $p-white;
            font-weight: 200;
          }
        }
        & .tabs--completed-orders {
          min-width: 16em;
        }
      }
      @import './userDashboard_web_orders_styles/openOrders.scss';
      @import './userDashboard_web_orders_styles/closedOrders.scss';
      @import './userDashboard_web_orders_styles/orderTracking.scss';
    }
  }
}
