.admin-dash__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  & .body__sidebars {
    @include prefixflex();
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @import './adminDashboard_sidebar_styles_web';
  }
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
      padding-bottom: 2em;
      & .dashboard--title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        padding-left: 3em;
        height: 7.5em;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
      & .dashboard__header {
        & .dashboard__stats--container {
          border-bottom: 1px solid rgba(0,0,0,.1);
          & .stats--list {
            @include prefixflex();
            justify-content: space-between;
            align-items: center;
            padding: 1em 0em;
            list-style-type: none;
            width: 100%;
            & .list--stat {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              min-height: 8em;
              width: 18%;
              padding: 1em 0em;
              background-color: $p-white;
              box-shadow: 0px 2px 10px rgba(0,0,0,.25);
              margin: 0 1em;
              & div {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & h3 {
                  text-align: center;
                  font-weight: bold;
                  padding-bottom: .5em;
                }
                & p {
                  font-weight: 200;
                }
              }
              & .stat--bounce-rate {
                & h3, p {
                  color: $p-red;
                }
              }
            }
          }
        }
      }
      & .dashboard__login-methods--container {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          width: 100%;
          & .login-methods--social {
            @include prefixflex();
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            & .login-methods--social {
              @include prefixflex();
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              height: 50%;
              width: 90%;
              & .login-methods--social-list {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                & .social-list--item {
                  @include prefixflex();
                  justify-content: center;
                  align-items: center;
                  height: 7.5em;
                  width: 7.5em;
                  margin: 1em 0 1em 1.5em;
                  background-color: $p-grey;
                  & span {
                    font-size: 6em;
                    color: $s-grey;
                    line-height: 1em;
                  }
                }
                & .social-list--item.active.facebook {
                  background-color: $p-blue;
                  & span {
                    color: $p-white;
                  }
                }
                & .social-list--item.active.twitter {
                  background-color: #4990E2;
                  & span {
                    color: $p-white;
                  }
                }
                & .social-list--item.active.instagram {
                  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                  & span {
                    color: $p-white;
                  }
                }
                & .social-list--item.active.google {
                  background-color: blue;
                  & span {
                    color: $p-white;
                  }
                }
              }
              & .social-login__edit-btn {
                @include prefixflex();
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                & button {
                  margin: .5em 0 .5em 0;
                }
              }
            }
          }
          & .login-methods--password {
            @include prefixflex();
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            height: 20.5em;
            & .password__input {
              @include prefixflex();
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              padding-top: 2em;
              & label {
                color: $p-blue;
                font-family: $p-font;
                font-size: 1.8em;
                font-weight: 400;
                margin-bottom: .5em;
              }
              & input {
                height: 1.67em;
                width: 100%;
                font-weight: 200;
                font-family: $p-font;
                font-size: 1.8em;
                padding-left: .5em;
                border: 1px solid rgba(0,0,0,.25);
                color: $p-blue;
              }
            }
            & .password__edit-btn {
              @include prefixflex();
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              padding-top: 2em;
              width: 100%;
              height: 100%;
              & button {
                margin: .5em 1em .5em auto;
              }
            }
          }
          & .bottom-third--login-methods {
            height: 44em;
          }
        }
      & .dashboard__contact-info--container {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.1);
        & .contact-info {
          @include prefixflex();
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          width: 50%;
          height: 20.5em;
          & .contact-info__info {
            margin-left: 1em;
            height: 7.5em;
          }
          & .contact-info__edit-btn {
            @include prefixflex();
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            & button {
              margin-right: 4.5em;
            }
          }
        }
      }
      & .dashboard__reports {
        & .reports__body {
          & .body__header {
            @include prefixflex();
            & .header--list {
              @include prefixflex();
              list-style-type: none;
              padding: 0;
              margin: 0;
              & li {
                margin: 0 1em 0 2em;
                & .option--type,
                .option--periodicity {
                  @include prefixflex();
                  & .type__ddn--container,
                  .periodicity__ddn--container {
                    position: relative;
                    & .type__ddn--readout,
                    .periodicity__ddn--readout {
                      @include prefixflex();
                      & input.readout--msg {
                        @include prefixflex();
                        font-size: 1.4em;
                        background-color: $p-white;
                        border: 1px solid $p-grey;
                        padding: 0 0 0 .5rem;
                        border-radius: 0;
                        height: 2.9rem;
                        width: 16rem;
                      }
                      & button.readout--btn {
                        height: 3.1rem;
                        width: 3rem;
                        background-color: $p-red;
                        padding: 0;
                        border: 0;
                        cursor: pointer;
                        & .flex-btn-parent {
                          @include prefixflex();
                          & span {
                            font-size: 2rem;
                            color: $p-white;
                          }
                        }
                      }
                    }
                    & .type__ddn--content {
                      @include prefixflex();
                      background-color: $p-white;
                      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                      box-sizing: border-box;
                      padding: 1em 0 1em 1em;
                      & .ddn--content__list {
                        @include prefixflex();
                        flex-direction: column;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        & .list--option {
                          @include prefixflex();
                          padding: .3rem;
                          cursor: pointer;
                          &:hover,
                          &:active,
                          &:focus {
                            & p {
                              color: $p-white;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
