@media only screen and (max-width: 640px) {
  .sign-in--main {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    max-width: 640px;
    width: 100%;
    .sign-in--container {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 140em;
      max-width: 64em;
      width: 100%;
      margin: 2em auto 2em auto;
      padding-bottom: 2em;
      background-color: $s-white;
      & .sign-in__title {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        height: 6.5em;
        width: 31.5em;
        margin-top: 2.5em;
        & h1 {
          font-weight: 200;
        }
      }
      & .sign-in__error {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        & .error--icon {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          background-color: $p-red;
          height: 4.5em;
          width: 4.5em;
          span {
            color: $p-white;
            font-size: 3em;
            @include prefixed(transform, rotate(45deg));
          }
        }
        & h5 {
          margin-top: 1em;
          padding-left: .5em;
          color: $p-red;
          font-weight: 200;
        }
      }
      & .sign-in__form {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        & .form--email,
        .form--password {
          @include prefixflex();
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          margin-top: 2em;
          & .email__input--label,
          .password__input--label {
            color: $p-blue;
            font-size: 1.4em;
            font-family: $p-font;
            font-weight: 200;
            & .required-star {
              color: $p-red;
            }
          }
          & .email__input--email,
          .password__input--password {
            max-width: 25.8em;
            min-width: 22.08em;
            height: 2.91em;
            margin-top: .7em;
            border: 1px solid $p-grey;
            font-family: $p-font;
            color: $p-blue;
            font-size: 1.2em;
            padding-left: 1em;
          }
        }
      }
      & .form--login-btn {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        padding: 3em;
        & .login-btn {
          height: 3.12em;
          width: 15.62em;
          color: $p-white;
          font-family: $p-font;
          font-weight: 400em;
          font-size: 1.6em;
          background-color: $p-red;
          border: none;
          cursor: pointer;
          box-shadow: 3px 3px 3px rgba(0,0,0,.25);
        }
      }
      & .sign-in__social--container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .social--title {
          @include prefixflex();
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          height: 6em;
          width: 30em;
          margin-bottom: 2em;
          & .social--title-list {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & .title-left-break,
            .title-right-break {
              // height: 2em;
              width: 11.5em;
              border-bottom: 1px solid rgba(0,0,0,.2);
            }
            & .title-or {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 4em;
              width: 7em;
              & p {
                text-transform: uppercase;
                color: $p-blue;
                font-weight: 200em;
                font-size: 1.6em;
              }
            }
          }
          & .social--title-msg {
            & p {
              color: $p-blue;
              font-weight: 200;
            }
          }
        }
        & .social--btns__list {
          margin-bottom: 2em;
          & .list--container {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & .list--option:nth-child(1) {
              margin: 0;
            }
            & .list--option {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 8em;
              width: 8em;
              background-color: $p-blue;
              transition: all .3s ease-in-out;
              cursor: pointer;
              margin-left: .5em;
              box-shadow: 3px 3px 3px rgba(0,0,0,.25);
              &:hover,
              &:active,
              &:focus {
                background-color: $p-red;
              }
              & span {
                color: $p-white;
                font-size: 4.5em;
              }

            }
          }
          & .list__forgot-msg {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            padding: 1em;
            margin-top: 1em;
            & a {
              color: $p-blue;
              font-size: 1.4em;
              font-weight: 200;
              cursor: pointer;
              text-decoration: none;
              font-family: $p-font;
              &:hover,
              &:focus,
              &:active {
                color: $p-red;
                text-decoration: underline;
              }
            }
          }
        }
      }
      & .sign-in__action-btns {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .action-btns__register,
        .action-btns__back-to-home {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          margin-top: 1em;
          & button {
            height: 3.12em;
            width: 15.62em;
            color: $p-white;
            font-size: 1.6em;
            font-weight: 400;
            font-family: $p-font;
            border: none;
            background-color: $p-red;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgba(0,0,0,.25);
            & .flex-btn-parent {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              font-family: $p-font;
              & span {
                font-size: 1.56em;
              }
            }
          }
        }
      }
    }
  }

}
