<body>
  <div class="navbar-big">
    <div class="navbar-big__nav-section">
      <div class="nav-section__navbar-content">
        <div class="navbar-content__logo-container">
          <img class="logo-container__nav-img-sml" sizes="(max-width: 767px) 100vw, (max-width: 991px) 146px, 15vw" src="images/nj2jp_web_friendly.png" srcset="images/nj2jp_web_friendly-p-500.png 500w, images/nj2jp_web_friendly-p-800.png 800w, images/nj2jp_web_friendly-p-1080.png 1080w, images/nj2jp_web_friendly.png 1509w" width="383">
        </div>
        <div class="navbar-content__action-section">
          <div class="action-section__navbar-action-top">
            <div class="nav-action-top__left-side">
              <a class="left-side__language-switcher w-inline-block" href="#">
                <div class="language-switcher__img-container"><img class="img-container__navbar-language-img" src="images/english-flag.png"></div>
                <div class="language-switcher__blurb-container">
                  <p class="blurb-container__navbar-language-blurb">ENGLISH</p>
                </div>
                <div class="language-switcher__arrow-container">
                  <p class="arrow-container__nav-language-arrow" data-ix="nav-b-language-arrow-bounce"></p>
                </div>
              </a>
              <a class="left-side__alt-language w-inline-block" href="#">
                <div class="alt-language__language-container">
                  <div class="language-container__img-container"><img class="img-container__navbar-language-img" src="images/nihongo-flag-border.png"></div>
                  <div class="language-container__blurb-container">
                    <p class="blurb-container__alt-nav-language">JAPANESE</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="navbar-action-top__right-side">
              <div class="right-side__logged-section" data-ix="nav-b-logged-section-load">
                <div class="logged-section__login-prompt">
                  <div class="logged-section__login-prompt">
                    <p class="login-prompt__nav-s-login">Login</p>
                  </div>
                </div>
                <div class="logged-section__usr-icon"><img class="usr-icon__nav-s-img" src="images/default-avatar-150px.png"></div>
              </div>
              <a class="right-side__mycart-container w-inline-block" data-ix="nav-b-cart-hover" href="/cart">
                <div class="mycart-container__mycart-title">
                  <div class="mycart-title__blurb">my cart</div>
                </div>
                <div class="mycart-container__mycart-qty">
                  <div class="mycart-qty__blurb">0</div>
                </div>
              </a>
            </div>
          </div>
          <div class="action-section__navbar-action-bottom">
            <div class="navbar-action-bottom__nav-container">
              <a class="nav-container__hdr-section w-inline-block" data-ix="nav-b-juice-hover" href="#">
                <div class="hdr-section__option--title">Juices</div>
              </a>
              <div class="nav-container__hdr-section" data-ix="nav-b-media-hover">
                <div class="hdr-section__option--title">Media</div>
              </div>
              <div class="nav-container__hdr-section" data-ix="nav-b-info-hover">
                <div class="hdr-section__option--title">info</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-big__juice-dropdown">
      <div class="juice-dropdown__floating-juice-container" data-ix="nav-b-juice-hover">
        <div class="floating-juice-container__top-section">
          <div class="top-section__juice-hdr">
            <h2 class="juice-hdr__hdr-blurb">Mission Statement</h2>
          </div>
          <div class="top-section__juice-blurb">
            <p class="paragraph">N2JP prides itself on offering our customers top quality products and service. We want your experiences doing business with us to be so good, that we become your #1 choice for all your vape juice needs. Our customers love us, and we plan on making sure you do to. You’ll find all our juice offers below. If you have any questions, don’t hesitate to ask us. Enjoy your experience “making the switch.”</p>
          </div>
        </div>
        <div class="floating-juice-container__middle-section">
          <div class="middle-section__section-hdr">
            <h2 class="section-hdr__flavor-hdr">Choose A Flavor!</h2>
          </div>
          <div class="middle-section__card-container">
            <a class="card-container__juice-card juice-card--1 w-inline-block" href="#">
              <div class="hdr-container--1 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--1">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--1"><img class="card-img--1 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
            <a class="card-container__juice-card juice-card--2 w-inline-block" href="#">
              <div class="hdr-container--2 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--2">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--2"><img class="card-img--2 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
            <a class="card-container__juice-card juice-card--3 w-inline-block" href="#">
              <div class="hdr-container--3 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--3">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--3"><img class="card-img--3 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
            <a class="card-container__juice-card juice-card--4 w-inline-block" href="#">
              <div class="hdr-container--4 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--4">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--4"><img class="card-img--4 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
            <a class="card-container__juice-card juice-card--5 w-inline-block" href="#">
              <div class="hdr-container--5 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--5">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--5"><img class="card-img--5 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
            <a class="card-container__juice-card juice-card--6 w-inline-block" href="#">
              <div class="hdr-container--6 juice-card__hdr-container">
                <h4 class="hdr-container__juice-card-hdr juice-card-hdr--6">French Vanilla Mocha</h4>
              </div>
              <div class="juice-card__juice-img juice-img--6"><img class="card-img--6 juice-img__card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            </a>
          </div>
        </div>
        <div class="floating-juice-container__bottom-section">
          <div class="buttbottomon-section__btn-container"><a class="btn-container__reccomend-btn w-button" href="#">Recommend Juice</a></div>
          <div class="bottom-section__register-blurb" data-ix="nav-b-juice-register-hover">
            <p class="register-blurb__blurb-text">GET 10% OFF <strong class="blurb-text__register-bold-text">WHEN YOU BECOME A MEMBER</strong></p>
          </div>
        </div>
        <div class="floating-juice-container__nav-b-menu-box"></div>
      </div>
    </div>
    <div class="navbar-big__media-dropdown">
      <div class="media-dropdown__floating-media-container" data-ix="nav-b-media-hover">
        <div class="floating-media-container__top-section">
          <a class="top-section__media-hdr w-inline-block" href="#">
            <h3 class="media-hdr__section-text section-text--contact-us">Contact Us</h3>
          </a>
          <a class="top-section__media-hdr w-inline-block" href="#">
            <h3 class="media-hdr__section-text section-text--juice-reviews">Juice Reviews</h3>
          </a>
          <div class="top-section__media-hdr" data-ix="nav-s-media-review-hdr-hover-2">
            <a class="top-section__media-hdr w-inline-block" href="#">
              <h3 class="media-hdr__section-text section-text--vape-news">Vape News</h3>
            </a>
          </div>
          <a class="top-section__media-hdr w-inline-block" href="#">
            <h3 class="media-hdr__section-text section-text--usr-stories">User Stories</h3>
          </a>
        </div>
        <div class="floating-media-container__middle-section"><a class="middle-section__contact--img-container w-inline-block" href="#"><img class="img-container__media-section-img media-section-img--contact-us" data-ix="nav-s-media-hdr-hover-2" src="images/navbar_web_media_contactUs.png"></a><a class="middle-section__reviews--img-container w-inline-block" href="#"><img class="img-container__media-section-img media-section-img--juice-reviews" data-ix="nav-s-media-img-hover" src="images/navbar_web_media_juiceReviews.png"></a><a class="middle-section__news--img-container w-inline-block" href="#"><img class="img-container__media-section-img media-section-img--vape-news" data-ix="nav-s-media-img-hover" src="images/navbar_web_media_vapeNews.png"></a><a class="middle-section__stories--img-container w-inline-block" href="#"><img class="img-container__media-section-img media-section-img--usr-stories" src="images/navbar_web_media_userStories.png"></a></div>
        <div class="foating-media-container__bottom-section">
          <div class="bottom-section__inner-container">
            <a class="inner-container__media-icon media-icon__fb w-inline-block" data-ix="nav-b-media-social-hover" href="#">
              <p class="media-icon__fa-icon"></p>
            </a>
            <a class="inner-container__media-icon media-icon__twitter w-inline-block" data-ix="nav-b-media-social-hover" href="#">
              <p class="media-icon__fa-icon"></p>
            </a>
            <a class="inner-container__media-icon media-icon__insta w-inline-block" data-ix="nav-b-media-social-hover" href="#">
              <p class="media-icon__fa-icon"></p>
            </a>
          </div>
        </div>
        <div class="floating-media-container__nav-b-menu-box"></div>
      </div>
    </div>
    <div class="navbar-big__info-dropdown">
      <div class="info-dropdown__floating-info-container" data-ix="nav-s-info-hover">
        <div class="floating-info-container__left-section">
          <div class="left-section__menu-container"><a class="menu-container__link-blurb" href="#">About</a><a class="menu-container__link-blurb" href="#">FAQs</a><a class="menu-container__link-blurb" href="#">Contact Us</a></div>
        </div>
        <div class="floating-info-container__right-section">
          <div class="right-section__menu-container"><a class="menu-container__link-blurb" data-ix="new-interaction" href="#">Shipping Policy</a></div>
          <div class="right-section__menu-container"><a class="menu-container__link-blurb" href="#">Return Policy</a></div>
          <div class="right-section__menu-container"><a class="menu-container__link-blurb" href="#">Privacy Policy</a></div>
          <div class="right-section__menu-container"><a class="menu-container__link-blurb" href="#">Terms &amp; Conditions</a></div>
          <div class="right-section__menu-container"><a class="menu-container__link-blurb" href="#">Nicotine Disclaimer</a></div>
        </div>
        <div class="floating-info-container__nav-b-menu-box"></div>
      </div>
    </div>
    <div class="navbar-big__cart-dropdown">
      <div class="cart-dropdown__nav-b-cart-container" data-ix="nav-b-cart-hover">
        <a class="floating-cart-container__promotion-box w-inline-block" href="#">
          <p class="promotion-box__promotion-blurb">BUY 4 BOTTLES</p>
          <p class="promotion-box__promotion-blurb">GET 25% OFF</p>
        </a>
        <div class="floating-cart-container__recently-added">
          <p class="recently-added__blurb-text">Recently Added Item(s)</p>
        </div>
        <div class="floating-cart-container__product-stage">
          <div class="product-stage__product-list-card">
            <div class="product-list-card__img-container"><img class="img-container__cart-card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            <div class="product-list-card__product-info">
              <div class="product-info__product-title">
                <p class="product-title__nav-cart-blurb">French Vanilla Mocha</p>
              </div>
              <div class="product-info__qty-price">
                <p class="qty-price__nav-cart-blurb">1 x $ 30.00</p>
              </div>
              <div class="product-info__nicotine">
                <p class="nicotine__nav-cart-blurb">8 mg</p>
              </div>
            </div>
            <div class="product-list-card__card-btn">
              <div class="card-btn__nav-cart-edit">
                <p class="nav-cart-edit__fa-text"></p>
              </div>
              <div class="card-btn__nav-cart-delete">
                <p class="nav-cart-delete__fa-text"></p>
              </div>
            </div>
          </div>
          <div class="product-stage__product-list-card">
            <div class="product-list-card__img-container"><img class="img-container__cart-card-img" src="images/nj2jp-fvm-small-shadow.png"></div>
            <div class="product-list-card__product-info">
              <div class="product-info__product-title">
                <p class="product-title__nav-cart-blurb">French Vanilla Mocha</p>
              </div>
              <div class="product-info__qty-price">
                <p class="qty-price__nav-cart-blurb">1 x $ 30.00</p>
              </div>
              <div class="product-info__nicotine">
                <p class="nicotine__nav-cart-blurb">8 mg</p>
              </div>
            </div>
            <div class="product-list-card__card-btn">
              <div class="card-btn__nav-cart-edit">
                <p class="nav-cart-edit__fa-text"></p>
              </div>
              <div class="card-btn__nav-cart-delete">
                <p class="nav-cart-delete__fa-text"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="floating-cart-container__loading-stage">
          <div class="loading-stage__loading-blurb">
            <p class="loading-blurb__nav-cart-blurb">Loading... <em class="nav-cart-blurb__fa-spinner"></em></p>
          </div>
        </div>
        <div class="floating-cart-container__empty-stage">
          <div class="empty-stage__empty-blurb">
            <p class="empty-blurb__nav-cart-blurb">Your Cart Is Currently Empty</p>
          </div>
        </div>
        <div class="floating-cart-container__total-price-card">
          <div class="total-price-card__total-blurb">
            <p class="total-blurb__card-blurb">TOTAL PRICE</p>
          </div>
          <div class="total-price-card__total-price">
            <p class="total-price__cart-price">$ 30.00</p>
          </div>
        </div>
        <div class="floating-cart-container__btn-section"><a class="btn-section__checkout-btn w-button" href="#">Checkout</a><a class="btn-section__view-cart-btn w-button" href="#">View Cart</a></div>
      </div>
    </div>
  </div>
</body>
