##########################################################################
################################## CLIENT ################################
##########################################################################

#--------------------------------- Domains
****---------PROD----------****
BASE_URL_PROD=
****---------TSH----------****
BASE_URL_TSH=

#---------------------------- Environments
****---------PROD----------****
NODE_ENV_PROD=
SQUARE_ENV_PROD=
LAMBDA_ENV_PROD=
SAGAWA_ENV_PROD=
****---------TSH----------****
NODE_ENV_TSH=
SQUARE_ENV_TSH=
LAMBDA_ENV_TSH=
SAGAWA_ENV_TSH=

#---------------------------------- Emails
****---------PROD----------****
CTO_EMAIL_PROD=
CEO_EMAIL_PROD=
CDO_EMAIL_PROD=
DISTRO_EMAIL=
****---------TSH----------****
CTO_EMAIL_TSH=
CEO_EMAIL_TSH=
CDO_EMAIL_TSH=
DISTRO_EMAIL_TSH=

#--------------------------------- GraphQL
****---------PROD----------****
CLIENT_GRAPHQL_URL_PROD=
****---------TSH----------****
CLIENT_GRAPHQL_URL_TSH=

#---------------------- CF Distribution ID
****---------PROD----------****
DISTRIBUTION_ID_PROD=
****---------TSH----------****
DISTRIBUTION_ID_TSH=

#---------------------------------- Auth0
# As of April 2017
# ----------------
****---------PROD----------****
AUTH0_CLIENT_ID_PROD=
AUTH0_DOMAIN_PROD=
AUTH0_SECRET_KEY_PROD=
AUTH0_REDIRECT_PROD=
****---------TSH----------****
AUTH0_CLIENT_ID_TSH=
AUTH0_DOMAIN_TSH=
AUTH0_SECRET_KEY_TSH=
AUTH0_REDIRECT_TSH=

#---------------------- Recaptcha API Key
# As of April 2017
# ----------------
****---------PROD----------****
RECAPTCHA_KEY_PROD=
RECAPTCHA_SECRET_KEY_PROD=
****---------TSH----------****
RECAPTCHA_KEY_TSH=
RECAPTCHA_SECRET_KEY_TSH=

#----------------------------------- Line
# As of April 2017
# -----------------
****---------PROD----------****
LINE_REDIRECT_URI_PROD=
LINE_CHANNEL_ID_PROD=
LINE_CHANNEL_SECRET_PROD=
LINE_STATE_PROD=
****---------TSH----------****
LINE_REDIRECT_URI_TSH=
LINE_CHANNEL_ID_TSH=
LINE_CHANNEL_SECRET_TSH=
LINE_STATE_TSH=

#-------------------------------- Facebook
# As of April 2017
# ----------------
****---------PROD----------****
FACEBOOK_APP_ID_PROD=
****---------TSH----------****
FACEBOOK_APP_ID_TSH=

#--------------------------------- Square
# As of Aug 2017
# ---------------
****---------PROD----------****
US_SQUARE_APPLICATION_ID_PROD=
JP_SQUARE_APPLICATION_ID_PROD=
****---------TSH----------****
US_SQUARE_APPLICATION_ID_TSH=
JP_SQUARE_APPLICATION_ID_TSH=

##########################################################################
################################## SERVER ################################
##########################################################################

#-------------------------------- TEST API
# As of August 2017
# ------------------
TEST_API_PASSWORD=
