extends:
  eslint-config-airbnb
plugins:
  - react
  - babel
parser:
  babel-eslint
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true

env:
  es6: true
  browser: true
  node: true
  jquery: true
  mocha: true

rules:
  prefer-const: 1
  one-var: 0
  max-len:
    - 0
    - 100
    - ignoreComments: true
      ignoreTrailingComments: true
      ignoreStrings: true
      ignoreUrls: true
      ignoreTemplateLiterals: true
  react/jsx-boolean-value: 1
  react/sort-comp: 0
  react/no-unused-prop-types: 0
  no-param-reassign:
    - 0
    - props: false
  react/prefer-stateless-function:
    - 2
    - ignorePureComponents: true
  react/jsx-filename-extension: 0
  import/no-extraneous-dependencies:
    - 2
    - devDependencies: true
  no-irregular-whitespace:
    - 1
    - skipStrings: true
      skipComments: true
      skipTemplates: true
  no-useless-escape: 0
  jsx-a11y/no-static-element-interactions: 1
  jsx-a11y/anchor-has-content: 0
  camelcase: 1
  linebreak-style: 0
  no-underscore-dangle:
    - 0
    - allow: _id
  no-use-before-define:
    - 2
    - functions: false
      classes: true
