# nodeJS stuff
node_modules

# Build files
dist
public

# serverless
.serverless
config.yml
config.dev.yml
config.tsh.yml
config.prod.yml
config.json

# miscellaneous
.DS_Store
.sass-cache
.env
.env.dev
.env.prod
.env.tsh
npm-debug.log
_syntax_tests.js
