.splash-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  /*background-image: $homepg-juices-pano;*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*width: 100%;
  height: 900px;
  max-height: 900px;
  max-width: 1848px;*/
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url('../../../../images/nj2jp-splash-blackPano-web-centered.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}

.test-section {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.test-section.splash-page-divider {
  background-color: #d8d8d8;
}

.test-section.splash-section__how {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fastest-delivery__blurb-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1080px;
  padding-top: 30px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading {
  color: #fff;
}

.header-container__header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 9px #000;
}

.header-container__header.header--2 {
  color: #fff;
  font-size: 35px;
  line-height: 1em;
}

.splash-img__header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 785px;
  max-width: 1921px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 45px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.header__text:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.header__text.heading--alt {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 45px;
}

.header__text.heading--button {
  position: static;
  left: 183px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__text.heading--button:hover {
  color: #fc2525;
}

.header__text.heading--button:active {
  text-shadow: none;
}

.header__text.heading--white {
  color: #fff;
}

.container__blurb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.blurb__img {
  width: 100%;
  height: 100%;
}

.blurb-container__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-blurb__content--heading {
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 34px;
  font-weight: 700;
}

.blurb__content--text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-size: 20px;
  line-height: 25px;
  text-shadow: none;
}

.large__button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 248.391px;
  height: 59.9375px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  text-decoration: none;
}

.splash-reviews__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.splash-reviews__header.splash-page-divider__alt {
  height: 100%;
  background-color: #365899;
  text-align: justify;
}

.how-steps__outer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.how-steps__outer-container.divider--grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #d8d8d8;
}

.how-steps__outer-container.divider--gradient {
  background-image: -webkit-linear-gradient(270deg, #fff, #d8d8d8);
  background-image: linear-gradient(180deg, #fff, #d8d8d8);
}

.inner-container__left--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 100%;
  max-height: 486px;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #d8d8d8;
}

.inner-container__left--container.section-1--alt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: none;
}

.inner-container__left--container.section-1--white-background {
  width: 800px;
  height: 486px;
  max-height: 486px;
  max-width: 800px;
  background-color: #fff;
}

.inner-container__right--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 100%;
  max-height: 486px;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #d8d8d8;
  opacity: 1;
}

.inner-container__right--container.section-2--alt {
  background-image: -webkit-linear-gradient(270deg, #fff, #d8d8d8);
  background-image: linear-gradient(180deg, #fff, #d8d8d8);
}

.inner-container__right--container.container--gradient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 486px;
  max-height: 486px;
  max-width: 800px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-linear-gradient(270deg, #fff, #d8d8d8);
  background-image: linear-gradient(180deg, #fff, #d8d8d8);
}

.blurb__text {
  position: static;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 25px 60px 15px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-size: 24px;
  line-height: 38px;
}

.blurb__text.text--alt {
  width: 100%;
  padding-bottom: 25px;
}

.container__img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.divider__header {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fc2525;
  font-size: 34px;
}

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
}

.important-text {
  color: #fc2525;
  font-size: 34px;
}

.splash-expanding-how-steps {
  position: static;
  padding-top: 30px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider__button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.important-text-2 {
  color: #fc2525;
  font-size: 34px;
}

.important-text-3 {
  color: #fc2525;
  font-size: 34px;
}

.important-text-4 {
  color: #fc2525;
  font-size: 34px;
}

.text--number {
  font-family: 'Open Sans', sans-serif;
  color: #fc2525;
  font-size: 34px;
  line-height: 38px;
  font-weight: 700;
}

.slide-2 {
  background-color: #365899;
}

.splash-reviews__slider {
  height: 250px;
  padding-top: 30px;
  background-color: #365899;
}

.slide__blurb {
  display: block;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px 10px 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  font-style: normal;
  text-align: center;
}

.slide__blurb.slide__blurb--portrait {
  padding-right: 10px;
  padding-left: 10px;
}

.emphasized-text {
  font-family: Fontawesome, sans-serif;
}

.blurb--fa-text {
  position: relative;
  bottom: 12px;
  font-family: Fontawesome, sans-serif;
  color: #fc2525;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  text-indent: 0px;
}

.blurb--fa-text.fa-text--alt {
  font-size: 28px;
}

.blurb--fa-text.review-special-text {
  bottom: 12px;
}

.blurb--fa-text.fa-text--signature-dash {
  bottom: 3px;
}

.emphasized-text-3 {
  font-family: Fontawesome, sans-serif;
}

.mask__slide-1 {
  background-color: #365899;
}

.mask-slide__2 {
  background-color: #365899;
}

.mask-slide__3 {
  background-color: #365899;
}

.mask-slide__4 {
  background-color: #365899;
}

.header-container__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 840px;
  height: 400px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fc2525;
  background-color: rgba(0, 0, 0, .43);
}

.box__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 0px;
}

.box__header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.box__button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 248.391px;
  height: 59.9375px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  opacity: 1;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  background-color: #FC2525;
}

.box__button:hover {
  opacity: 1;
  -webkit-transform: perspective(1px) translate(0px, 0px);
  transform: perspective(1px) translate(0px, 0px);
}

.box__button.button--2 {
  position: relative;
  top: -53px;
  z-index: 2;
  background-color: #365899;
}

.box__alt-button {
  position: relative;
  top: -46px;
  z-index: 2;
  background-color: #365899;
}

.box__button--text {
  position: static;
  z-index: 2;
  margin-bottom: 0px;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}

.box__button--hover-slide {
  position: absolute;
  left: -34px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  width: 80%;
  height: 100%;
  background-color: #365899;
  opacity: 0.91;
}

.box__button--hover-slide:hover {
  opacity: 1;
}

.section {
  padding-top: 50px;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 250px;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff3d00;
}

.text-block {
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: 20px;
}

.button-interaction {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 110%;
  height: 35%;
  background-color: #339be2;
}

.butt-alt {
  position: absolute;
  bottom: 0px;
  width: 110%;
  height: 35%;
  background-color: #2e73a1;
}

.body {
  position: static;
}

.box__button--alt {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 50%;
  height: 100%;
  background-color: #fc2525;
}

.box__button--alt.alt--2 {
  left: 110px;
  right: 0px;
}

.box__button--alt-2 {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: #fc2525;
}

.large-button__text {
  position: absolute;
  z-index: 2;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.large__button--alt {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fc2525;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.button-container__button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 248.391px;
  height: 59.9375px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  text-decoration: none;
}

.button--text {
  position: absolute;
  z-index: 2;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.button-container__button-alt {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fc2525;
}

.flyout__footer--bubble {
  margin-right: 40px;
  padding-top: 30px;
  padding-right: 0px;
}

.flyout__footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.test {
  height: 600px;
}

.splash-section__header-container {
  width: 300px;
  height: 150px;
}

.inner-container__blurb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 100%;
  max-height: 486px;
  max-width: 800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-container__blurb.section-text--alt {
  height: 100%;
  background-color: transparent;
}

.inner-container__blurb.section-blurb--grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d8d8d8;
}

.content__text-container {
  width: 100%;
}

.box__img--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__promotion-container {
  position: relative;
  width: 420px;
  height: 100px;
  margin-right: 0px;
  margin-left: 30px;
  border-style: solid solid none;
  border-width: 2px;
  border-color: #fc2525;
  background-color: #fff;
  box-shadow: -2px -2px 20px 0 rgba(0, 0, 0, .6);
  text-decoration: none;
}

.blurb-container__img-container {
  width: 50%;
  padding-right: 10px;
}

.splash-reviews {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #365899;
}

.splash-fastest-delivery {
  display: block;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__button-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.splash-how {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.splash-news-reviews {
  display: block;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.container__how-arrow {
  position: relative;
  left: 237px;
  top: 76px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.how-arrow--image {
  position: static;
}

.subscribe-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid solid none;
  background-color: #fff;
  text-decoration: none;
}

.subscribe-content__header {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #365899;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.subscribe-content__sub-header {
  width: 100%;
  height: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fc2525;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.subscribe-content__blurb {
  margin-bottom: 0px;
  padding: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

.subscribe-content__button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 200px;
  height: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  color: #fff;
  text-decoration: none;
}

.button--test {
  position: relative;
  z-index: 2;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

.subscribe-content__button--alt {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fc2525;
}

.divider__section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flyout__footer--close-button {
  position: absolute;
  top: 1px;
  right: 5px;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.flyout__footer--close-button:hover {
  color: #fc2525;
}

.flyout__footer--close-button:active {
  text-shadow: none;
}

.flyout__footer-close-container {
  position: absolute;
  left: 444px;
  top: 5px;
}

.slider__nav {
  width: 100%;
  max-width: 1080px;
  padding-bottom: 20px;
}

.container__heading--moving {
  position: static;
  left: 187px;
  top: -5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 45px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.container__heading--moving:hover {
  color: #fc2525;
}

.container__heading--moving:active {
  text-shadow: none;
}

.promotion-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #365899;
}

.non-member__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 395px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exit-btn__container {
  position: relative;
  top: -2px;
  right: -2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc2525;
}

.exit-btn__container:hover {
  background-color: #365899;
}

.container__fa-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: left;
}

.tittle--header {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

.promotion-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365899;
}

.discount-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fc2525;
  font-size: 25px;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.register-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
}

.how__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.how__curious-person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 0px;
}

.curious-person__img {
  height: 100%;
  max-width: 100%;
}

.box__button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fastest-delivery__header {
  width: 100%;
  max-width: 1080px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.splash-container {
  position: relative;
}

.splash-reviews__header--text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.how-steps__inner-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d8d8d8;
}

.how-steps__inner-container.inner-container--gradient {
  background-image: -webkit-linear-gradient(270deg, #fff, #d8d8d8);
  background-image: linear-gradient(180deg, #fff, #d8d8d8);
}

.how-steps__inner-container.inner-container--white-background {
  position: relative;
  background-color: #fff;
}

.news-reviews__header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.place-holder-div__please-delete {
  height: 900px;
}

.nav-button {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.nav-button__container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-button__container.container--floating {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.container__nav-button {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fc2525;
}

.container__nav-button.nav-button--splash-image-position {
  bottom: 44px;
}

.container__nav-button.nav-button--floating-top {
  bottom: 422px;
}

.fake-header {
  height: 120px;
}

.splash-img__background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.nav-button__fa-chevron {
  padding-top: 0px;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.nav-button__fa-chevron:hover {
  color: #365899;
}

.text-container__header-button {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 45px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.text-container__header-button:hover {
  color: #fc2525;
}

.text-container__header-button:active {
  text-shadow: none;
}

.how__action-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.show-me__button {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 250px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc2525;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.show-me__text {
  position: relative;
  z-index: 2;
  text-decoration: none;
}

.show-me__button--alt-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
  background-color: #365899;
}

.show-me__button--alt-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-color: #365899;
}

html.w-mod-js *[data-ix="hide-on-load"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="hide-on-load-2"] {
  display: none;
  -webkit-transform: translate(0px, 250px);
  -ms-transform: translate(0px, 250px);
  transform: translate(0px, 250px);
}

html.w-mod-js *[data-ix="questionmark-tilt"] {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

html.w-mod-js *[data-ix="button-load-hover"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="staggered-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -45px);
  -ms-transform: translate(0px, -45px);
  transform: translate(0px, -45px);
}

html.w-mod-js *[data-ix="staggered-load-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -45px);
  -ms-transform: translate(0px, -45px);
  transform: translate(0px, -45px);
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-on-scroll"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="slide-on-scroll-left"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="slide-on-scroll-right"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="fastest-delivery-scroll"] {
  opacity: 0.2;
  -webkit-transform: translate(-1600px, 0px);
  -ms-transform: translate(-1600px, 0px);
  transform: translate(-1600px, 0px);
}

html.w-mod-js *[data-ix="fastest-delivery-fade-in-right"] {
  opacity: 0;
  -webkit-transform: translate(80px, 0px);
  -ms-transform: translate(80px, 0px);
  transform: translate(80px, 0px);
}

html.w-mod-js *[data-ix="fade-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

html.w-mod-js *[data-ix="fade-up-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

@media (max-width: 991px) {
  .homepage {
    width: 100%;
  }
  .splash-img {
    width: 100%;
    height: 610px;
    max-height: 610px;
    max-width: 800px;
  }
  .header-container__header {
    font-size: 28px;
  }
  .header-container__header.header--2 {
    font-size: 28px;
  }
  .splash-img__header-container {
    max-width: 800px;
  }
  .header__text {
    font-size: 38px;
  }
  .blurb-container__content {
    height: 285px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .heading-blurb__content--heading {
    margin-bottom: 0px;
    padding-right: 0px;
    font-size: 26px;
  }
  .blurb__content--text {
    display: block;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .inner-container__left--container {
    width: 400px;
    height: 100%;
    max-height: 243px;
    max-width: 400px;
  }
  .inner-container__right--container {
    width: 400px;
    height: 100%;
    max-height: 243px;
    max-width: 400px;
  }
  .blurb__text {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .blurb__text.text--alt {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .splash-expanding-how-steps {
    padding-top: 0px;
    transition: all 500ms ease-in-out;
  }
  .text--number {
    font-size: 30px;
  }
  .splash-reviews__slider {
    margin-top: 0px;
    padding-top: 0px;
  }
  .slide__blurb {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 21px;
  }
  .header-container__box {
    width: 610px;
    height: 350px;
  }
  .box__img {
    width: 350px;
    height: 53px;
  }
  .inner-container__blurb {
    width: 400px;
  }
  .content__text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__promotion-container {
    width: 375px;
    margin-left: 25px;
  }
  .splash-reviews {
    padding-top: 0px;
  }
  .content__button-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .splash-how {
    transition: all 500ms ease-in-out;
    padding-top: 0px;
  }
  .blurb__button--container {
    margin-top: 20px;
  }
  .container__heading--moving {
    font-size: 38px;
  }
  .how__curious-person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .curious-person__img {
    width: 390px;
    height: 332px;
    max-height: 332px;
    max-width: 390%;
    margin-left: 10px;
  }
  .splash-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .splash-reviews__header--text {
    font-size: 38px;
  }
  .image-container__img {
    height: 285px;
    max-height: 285px;
    max-width: 375px;
  }
  .container__nav-button {
    bottom: 0px;
  }
  .text-container__heading-blurb {
    padding-bottom: 10px;
  }
  .text-container__blurb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-container__header-button {
    font-size: 38px;
  }
  .how__action-btn {
    height: 332px;
  }
}

@media (max-width: 767px) {
  .homepage {
    width: 100%;
  }
  .splash-img {
    height: 549px;
    max-height: 549px;
    max-width: 720px;
    box-shadow: none;
  }
  .fastest-delivery__blurb-container {
    height: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blurb-container__content {
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .heading-blurb__content--heading {
    padding-right: 10px;
    font-size: 28px;
    text-align: center;
  }
  .blurb__content--text {
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  .large__button.button--phone-landscape {
    width: 149px;
    height: 36px;
  }
  .inner-container__left--container {
    width: 100%;
    max-height: 297%;
    max-width: 489px;
  }
  .inner-container__right--container {
    width: 100%;
    max-height: 304%;
    max-width: 500px;
    background-color: transparent;
  }
  .blurb__text {
    width: 80%;
    margin-bottom: 0px;
    padding: 10px 0px;
    font-size: 24px;
    line-height: 30px;
  }
  .blurb__text.text--alt {
    width: 80%;
  }
  .text--number {
    font-size: 34px;
  }
  .header-container__box {
    width: 450px;
    padding: 20px;
  }
  .large-button__text.text--phone-landscape {
    font-size: 18px;
  }
  .inner-container__blurb {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .content__text-container {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .blurb-container__img-container {
    width: 0%;
    height: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .splash-fastest-delivery {
    display: block;
    height: auto;
    padding-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blurb__button--container {
    margin-top: 30px;
  }
  .curious-person__img {
    width: 273%;
    height: 232px;
    max-height: 232px;
    max-width: 273px;
  }
  .image-container__img {
    max-width: 101%;
  }
  .how-steps__inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .how-steps__inner-container.inner-container--gradient {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .how-steps__inner-container.inner-container--white-background {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .how-steps__inner-container.inner-container--mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .blurb__text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-container__heading-blurb {
    padding-bottom: 15px;
  }
  .how__action-btn {
    height: 232px;
  }
  .show-me__button {
    width: 180px;
    margin-right: 10px;
  }
}

@media (max-width: 479px) {
  .splash-img {
    height: 100%;
    max-height: 316px;
    max-width: 415px;
  }
  .header-container__header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.1em;
  }
  .header-container__header.header--2 {
    font-size: 22px;
  }
  .header__text {
    font-size: 34px;
  }
  .heading-blurb__content--heading {
    font-size: 24px;
  }
  .blurb__content--text {
    font-size: 18px;
  }
  .splash-reviews__header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .inner-container__left--container {
    max-height: 252%;
    max-width: 414px;
  }
  .inner-container__right--container {
    max-height: 252%;
    max-width: 414px;
  }
  .blurb__text {
    font-size: 20px;
    line-height: 28px;
  }
  .text--number {
    font-size: 30px;
  }
  .splash-reviews__slider {
    height: 210px;
  }
  .splash-reviews__slider.splash-reviews__slide--portrait {
    height: 100%;
    min-height: 270px;
  }
  .slide__blurb {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .slide__blurb.slide__blurb--portrait {
    height: 100%;
    padding-bottom: 0px;
  }
  .blurb--fa-text {
    bottom: 8px;
  }
  .blurb--fa-text.review-special-text {
    bottom: 8px;
  }
  .blurb--fa-text.fa-text--signature-dash {
    bottom: 0px;
  }
  .header-container__box {
    width: 100%;
    height: 100%;
    max-height: 280px;
    max-width: 380px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .box__img {
    width: 280px;
    height: 42px;
  }
  .box__header-container {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box__button {
    width: 199px;
    height: 48px;
  }
  .box__button--text {
    font-size: 20px;
  }
  .inner-container__blurb {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .box__img--container {
    width: 100%;
    height: 42px;
  }
  .footer__promotion-container {
    width: 240px;
    height: 80px;
  }
  .splash-reviews {
    padding-bottom: 10px;
  }
  .splash-fastest-delivery {
    padding-top: 0px;
  }
  .container__heading--moving {
    font-size: 34px;
  }
  .promotion-top {
    height: 50%;
  }
  .tittle--header {
    font-size: 20px;
  }
  .promotion-bottom {
    height: 50%;
  }
  .discount-text {
    font-size: 20px;
  }
  .register-text {
    font-size: 20px;
  }
  .how__curious-person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .curious-person__img {
    width: 195px;
    height: 166px;
    max-height: 166px;
    max-width: 195px;
    margin-left: 5px;
  }
  .box__button-container {
    height: 50px;
  }
  .fastest-delivery__header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .splash-reviews__header--text {
    font-size: 34px;
  }
  .text-container__header-button {
    font-size: 34px;
  }
  .how__action-btn {
    height: 166px;
  }
  .show-me__button {
    width: 248.391px;
    height: 59.9375px;
  }
}
/*
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}*/
