@media only screen and (min-width: 931px) {
  & .bulk-modal {
    z-index: 30;
    @include prefixflex();
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    & .bulk-modal__dialogue {
      @include prefixflex();
      width: 50%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $p-white;
      & .dialogue__exit--container {
        width: 100%;
        height: 4em;
        @include prefixflex();
        justify-content: flex-end;
        & .exit-btn {
          height: 2em;
          width: 2em;
          font-size: 1.5em;
          color: $p-white;
          border: none;
          background-color: $p-red;
          cursor: pointer;
          transition: all .3s ease-in-out;
          &:hover,
          &:active,
          &:focus {
            outline: none;
            background-color: $p-blue;
          }
          span {
            @include prefixed(transform, rotate(45deg));
          }
        }
      }
      & .dialogue__product-title {
        @include prefixflex();
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 15em;
        p {
          font-family: $p-font;
          color: $p-blue;
          font-size: 1.8em;
          line-height: 1.38em;
          text-align: center;
          & .sub-title__bold {
            font-weight: bold;
          }
        }
      }
      & .dialogue__table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 2em;
        & thead.table__header {
          & tr.header__row {
            border-bottom: 1px solid rgba(0,0,0,.1);
            & th {
              padding: 1em;
            }
          }
        }
        & tbody.table__body {
          & tr.body__row--main {
            border-bottom: 1px solid rgba(0,0,0,.1);
            text-align: center;
          }
          & tr.body__row--totals {
            border-bottom: 1px solid rgba(0,0,0,.2);
            & td.body__totals--categories {
              text-align: right;
            }
            & td.body__totals--prices {
              text-align: right;
            }
          }
        }
      }
      & .dialogue__action-btns {
        @include prefixflex();
        justify-content: space-around;;
        align-items: flex-end;
        height: 13em;
        width: 100%;
        box-sizing: border-box;
        padding: 0 2em 2em 2em;
        & .action-btn__msg {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          padding: 2em;
          flex-direction: column;
          p {
            font-family: $p-font;
            color: $p-blue;
            font-size: 1.8em;
            line-height: 1.38em;
            text-align: center;
          }
          & .msg__sub-title {
            font-family: $p-font;
            color: $p-blue;
            font-size: 1.8em;
            line-height: 1.38em;
            margin-top: .5em;
            text-align: center;
            & span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
