@media only screen and (min-width: 931px) {
  .juice-page__main {
    max-width: 1080px;
    width: 100%;
    height: 111em;
    & .main__title {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      height: 8em;
      width: 100%;
      h1 {
        font-size: 5em;
        font-weight: 200;
        letter-spacing: 0.01em;
        color: $p-blue;
        @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
      }
    }
    & .main__parent {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      max-height: 71em;
      height: 100%;
      & .main__info--image {
        display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 60em;
        width: 100%;
        text-align: center;
        background-color: $p-white;
        & .image__src {
          position: relative;
          content: $pina-colada;
          margin: 0 auto;
          max-width: 60em;
          max-height: 71em;
          top: 100px;
        }
        & .image__promotion {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          &:active,
          &:focus,
          &:hover {
            outline: none;
          }
          @include prefixed(transform, rotate(-45deg));
          height: 6.2em;
          width: 47em;
          position: absolute;
          z-index: 2;
          background-color: $s-blue;
          font-family: $p-font;
          font-size: 1.5em;
          font-weight: 800;
          letter-spacing: .06em;
          line-height: .2em;
          text-transform: uppercase;
          left: -16.5em;
          top: 4em;
          @include prefixed(text-shadow, 0 2px 3px rgba(1,1,1,.5));
          box-shadow: 0px 4px 10px rgba(1,1,1,.5);
          p {
            color: $p-white;
          }
        }
      }
      & .main__info--desc {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 48.6em;
        width: 100%;
        & .desc__title {
          @include prefixflex();
          align-items: center;
          height: 7em;
          width: 100%;
          & h1 {
            font-size: 4em;
            line-height: 1.37em;
            padding-left: .25em;
            color: $p-blue;
            @include prefixed(text-shadow, 0px 1px 1px rgba(1,1,1,.25));
          }
        }
        & .desc__price-row {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 7em;
          max-width: 48.6em;
          width: 100%;
          & .price-row__list {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
            & .list--price,
            .list--tax,
            .list--stock {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              max-width: 21em;
              width: 21em;
              height: 7em;
              h1 {
                @include prefixflex();
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.36em;
                color: $p-blue;
                @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
                & .price__fa {
                  position: relative;
                  padding-right: .2em;
                  bottom: -.2em;
                }
              }
            }
            & .list--tax,
            .list--stock {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              max-width: 12.5em;
              width: 12.4em;
              height: 7em;
              flex-direction: column;
              & .tax__tax--title,
              .stock__sku--title {
                & p {
                  color: $s-grey;
                  font-size: 1.2em;
                  text-transform: uppercase;
                }
              }
              & .tax__shipping--title,
              .stock__stock--title{
                & p {
                  color: $p-blue;
                  font-size: 1.2em;
                }
                & h3 {
                  font-weight: 800;
                }
              }
            }
          }
        }
        & .desc__blurb {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          max-width: 47.6em;
          width: 47.6em;
          height: 12em;
          padding: 1em;
          p {
            font-family: $p-font;
            font-size: 2em;
            color: $p-blue;
            line-height: 1.35em;
          }
        }
        & .desc__promotion {
          @include prefixflex();
          justify-content: center;
          align-items: flex-start;
          height: 9em;
          max-width: 48.6em;
          width: 48.6em;
          & button {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            height: 3em;
            width: 28.33em;
            font-size: 1.5em;
            font-family: $p-font;
            font-weight: 800;
            color: $s-blue;
            letter-spacing: .06em;
            text-transform: uppercase;
            background-color: $p-grey;
            border: none;
            cursor: pointer;
            @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.5));
            box-shadow: 5px 5px 10px rgba(0,0,0,.25);
            &:hover,
            &:active,
            &:focus {
              outline: none;
              color: $p-white;
            }
          }
        }
        & .desc__nicotine {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          max-width: 48.6em;
          width: 48.6em;
          height: 12em;
          h3 {
            @include prefixflex();
            justify-content: center;
            font-weight: 800;
            margin: .5em;
          }
          & .nicotine__list {
            height: 6em;
            max-width: 35.5em;
            width: 100%;
            @include prefixflex();
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & .list--strength {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 3.33em;
              width: 3.33em;
              color: $p-white;
              font-family: $p-font;
              font-size: 1.5em;
              background-color: $p-red;
              margin: 0 1em;
              border: 1px solid $p-red;
              cursor: pointer;
              transition: all .3s ease-in-out;
              @include prefixed(box-shadow, 0px 3px 10px rgba(0,0,0,.5));
              &:hover,
              &:active,
              &:focus {
                background-color: $s-blue;
                border: 1px solid $p-blue;
              }
            }
          }
        }
        & .desc__actions {
          @include prefixflex();
          justify-content: center;
          align-content: space-between;
          align-items: center;
          flex-direction: column;
          max-width: 48.6em;
          width: 48.6em;
          height: 14em;
          border-bottom: 1px solid rgba(0,0,0,.25);
          & .actions__btn-container {
            @include prefixflex();
            justify-content: space-around;;
            align-content: space-between;;
            height: 9em;
            max-width: 46.6em;
            width: 46.6em;
            & .btn-container__qty--container {
              height: 6em;
              max-width: 19em;
              width: 19em;
              & .qty__list {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                height: 100%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                background-color: $p-grey;
                & .list--qty-title,
                .list--qty-readout,
                .list--qty-adjust {
                  p {
                    font-size: 1.8em;
                    font-family: $p-font;
                    color: $p-blue;
                  }
                }
                & .list--qty-title {
                  padding: 0 .5em;
                }
                & .list--qty-readout {
                  p {
                    @include prefixflex();
                    justify-content: center;
                    align-items: center;
                    height: 2.8em;
                    width: 2.8em;
                    line-height: 1em;
                    background-color: $p-white;
                    border: 1px solid $s-grey;
                    margin-right: .2em;
                  }
                }
                & .list--qty-adjust {
                  button {
                    font-size: 10px;
                    border: none;
                    height: 2.5em;
                    width: 4.5em;
                    padding: 0;
                    margin: 1px;
                    background-color: $p-red;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    span {
                      color: $p-white;
                    }
                    &:active,
                    &:hover,
                    &:focus {
                      outline: none;
                      background-color: $p-blue;
                    }
                  }
                }
              }
            }
            & .btn-container__add-to-cart {
              & .sp-cart-icon {
                font-size: 25px;
                position: relative;
                bottom: -2px;
                padding-right: .4em;
              }
              height: 3.33em;
              max-width: 10em;
              width: 10em;
              font-size: 1.8em;
              background-color: $p-red;
              border: none;
              cursor: pointer;
              transition: all .3s ease-in-out;
              @include prefixed(box-shadow, 0px 3px 20px rgba(0,0,0, .5));
              &:hover,
              &:active,
              &:focus {
                outline: none;
                background-color: $p-blue;
              }
              & .btn-flex-parent {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                color: $p-white;
                font-weight: 200;
                font-family: $p-font;
              }
            }
          }
          & .actions__warning-msg {
            text-align: center;
            p {
              color: $p-red;
              a {
                text-decoration: underline;
                color: $p-red;
              }
            }
          }
        }
        & .desc__smedia {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 6.5em;
          max-width: 48.6em;
          width: 48.6em;
          & .smedia__btn--list {
            @include prefixflex();
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & li {
              color: $p-white;
              height: 3em;
              width: 8.6em;
              span {
                font-size: 1.8em;
                padding: .27em;
              }
            }
            & .list__like-btn,
            .list__share-btn,
            .list__tweet-btn {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              background-color: $p-blue;
              font-size: 1.2em;
              line-height: 1.42em;
              margin: 0 1.5em;
              cursor: pointer;
              @include prefixed(box-shadow, 0px 3px 10px rgba(0,0,0,.25));
              p {
                color: $p-white;
                padding: 0 .5em;
              }
              & .like-btn__qty {
                font-size: 1em;
                padding-left: 0;
              }
            }
            & .list__tweet-btn {
              background-color: #1B95E0;
            }
          }
        }
      }
    }
    & .main__back-btn {
      @include prefixflex();
      justify-content: space-around;
      align-items: center;
      height: 26em;
      max-width: 1080px;
      width: 100%;
      & .back-btn,
      .juices-btn {
        height: 3.33em;
        width: 13.8em;
        border: none;
        background-color: $p-red;
        font-family: $p-font;
        font-size: 1.8em;
        font-weight: 200;
        color: $p-white;
        cursor: pointer;
        @include prefixed(box-shadow, 0px 3px 20px rgba(0,0,0, .5));
        &:hover,
        &:active,
        &:focus {
          background-color: $p-blue;
        }
        & .flex-btn-parent {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          & span {
            color: $p-white;
            font-size: 1.57em;
          }
        }
      }
    }
    @import './successModal_styles_web.scss';
    @import './bulkSaleModal_styles_web.scss';
    @import './registerModal_styles_web.scss';
  }
}
