.main__title {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.main__title.title--header {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 5em;
  font-weight: 200;
  letter-spacing: 0.01em;
  color: #365899;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  margin-bottom: 2.5rem;
}
