@media only screen and (min-width: 1079px) {
  .products__container {
    @include prefixflex();
    justify-content: space-between;
    align-items: center;
    max-width: 1086px;
    width: 100%;
    height: 100%;
    & .products__sidebar {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      height: 30.5em;
      width: 28.8em;
      
    }
  }
}
