@media only screen and (min-width: 1079px) and (max-width : 1921px) {
  .single-product-main {
    max-width: 1080px;
    width: 100%;
    & .single-product-breadcrumb-container {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 4em;
      padding-right: 3em;
      background-color: $p-white;
      & .single-product-breadcrumb-list {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0 1em;
        & .single-product-breadcrumb-path {
          font-size: 1.8em;
          font-family: $p-font;
          font-weight: normal;
          color: $p-blue;
          & .breadcrumb-chevron-right {
            font-size: 18px;
            color: $p-blue;
            margin: 0 .5em -1em .5em;
            bottom: -1px;
            position: relative;
          }
        }
      }
    }
    & .single-product-main-title {
      @include prefixflex();
      align-items: center;
      height: 5em;
      h1 {
        font-size: 5em;
        font-weight: 200;
        letter-spacing: 0.01em;
      }
    }
    & .single-product-info-parent {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      max-height: 71em;
      height: 100%;
      background-color: pink;
      & .single-product-info-image {
        display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 60em;
        width: 100%;
        text-align: center;
        background-color: $p-white;
        & .single-product-info-image-promotion {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include prefixed(transform, rotate(-45deg));
          height: 6.2em;
          width: 47em;
          position: absolute;
          z-index: 2;
          background-color: $p-red;
          font-family: $p-font;
          font-size: 1.5em;
          font-weight: 800;
          letter-spacing: .06em;
          line-height: .2em;
          text-transform: capitalize;
          left: -17.5em;
          top: 3em;
          @include prefixed(text-shadow, 0 2px 3px rgba(1,1,1,.5));
          @include prefixed(box-shadow, 0px 2px 4px rgba(1,1,1,.5));
          p {
            color: $p-white;
          }
        }
        & .single-product-info-image-src {
          position: relative;
          content: $pina-colada;
          margin: 0 auto;
          max-width: 60em;
          max-height: 71em;
          top: 100px;
        }
      }
      & .single-product-info-desc-parent {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 48.6em;
        width: 100%;
        & .single-product-info-desc-title {
          @include prefixflex();
          align-items: center;
          height: 7em;
          width: 100%;
          & h1 {
            font-size: 4em;
            line-height: 1.37em;
            padding-left: .25em;
            color: $p-blue;
            @include prefixed(text-shadow, 0px 1px 1px rgba(1,1,1,.25));
          }
        }
        & .single-product-info-desc-price-row {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 7em;
          max-width: 48.6em;
          width: 100%;
          & .single-product-info-desc-price-row-list {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
            & .single-product-info-desc-price-item,
            .single-product-info-desc-tax-item,
            .single-product-info-desc-instock-item {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              max-width: 21em;
              width: 21em;
              height: 7em;
              h1 {
                @include prefixflex();
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.36em;
                color: $p-blue;
                & .single-product-price-sign {
                  position: relative;
                  padding-right: .2em;
                  bottom: -.2em;
                }
              }
            }
            & .single-product-info-desc-taxbox-item,
             .single-product-info-desc-stockbox-item {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              max-width: 12.5em;
              width: 12.4em;
              height: 7em;
              flex-direction: column;
              & .single-product-info-desc-taxbox-item-msg-tax,
              .single-product-info-desc-stockbox-item-msg-sku {
                & p {
                  color: $p-grey;
                  font-size: 1.2em;
                  text-transform: capitalize;
                }
              }
              & .single-product-info-desc-taxbox-item-msg-shipping,
              .single-product-info-desc-stockbox-item-msg-instock {
                & p {
                  color: $p-blue;
                  font-size: 1.2em;
                }
              }
              & .single-product-info-desc-stockbox-item-msg-instock {
                h3 {
                  font-weight: 800;
                }
              }
            }
            & .single-product-info-desc-stockbox-item {
              max-width: 15.5em;
              width: 15.5em;
              height: 7em;
            }
          }
        }
        & .single-product-info-desc-blurb {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          max-width: 47.6em;
          width: 47.6em;
          height: 12em;
          padding: 1em;
          p {
            font-family: $p-font;
            font-size: 2em;
            color: $p-blue;
            line-height: 1.35em;
          }
        }
        & .single-product-info-desc-promotion {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 9em;
          max-width: 48.6em;
          width: 48.6em;
          & h3 {
            width: 42.5em;
            height: 4.5em;
            color: $p-white;
            background-color: $p-red;
          }
        }
      }
    }
  }
}
