@media only screen and (min-width: 1079px) {
  .products {
    &.products--container {
      max-width: 1086px;
      width: 100%;
      height: 100%;
    }
    & .products__breadcrumb {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 6em;
      padding-right: 3em;
      background-color: $p-white;
      & .products__breadcrumb--list {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0 1em;
        & .breadcrumb__path {
          font-size: 1.8em;
          font-family: $p-font;
          font-weight: normal;
          color: $p-blue;
          & .breadcrumb__path--link,
          .breadcrumb__path--label {
            font-size: 1em;
            color: $p-blue;
          }
          & .breadcrumb__path--right-chevron {
            font-size: 18px;
            color: $p-blue;
            margin: 0 .5em -1em .5em;
            bottom: -1px;
            position: relative;
          }
        }
      }
    }
    & .products__title {
      @include prefixflex();
      align-items: flex-start;
      height: 8em;
      h1 {
        font-size: 5em;
        font-weight: 200;
        letter-spacing: 0.01em;
        color: $p-blue;
        @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
      }
    }
    & .products__body {
      @include prefixflex();
      justify-content: space-between;;
      align-items: flex-start;
      & .body--main {
        height: 100%;
        width: 100%;
        background-color: pink;
        & .main--toolbar {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          padding: 1.2em;
          max-width: 106.2em;
          width: 100%;
          height: 5.5em;
          background-color: blue;
          & .toolbar--sort-position {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 17.7em;
            height: 3em;
            & .relative-parent {
              display: inline-block;
              position: relative;
              & .sort-position--title-bar {
                @include prefixflex();
                justify-content: space-between;
                align-items: center;
                background-color: $p-white;
                padding: 0 0 0 .5em;
                width: 17em;
                & p {
                  font-size: 1.4em;
                  font-weight: 200;
                  & .sort-position--label {
                    color: $p-blue;
                    font-family: $p-font;
                    font-weight: 400;
                  }
                }
                & .ddn-button {
                  height: 3em;
                  width: 3em;
                  border: none;
                  background-color: $p-red;
                  cursor: pointer;
                  & .btn-flex-parent {
                    @include prefixflex();
                    justify-content: center;
                    align-items: center;
                    & span {
                      color: $p-white;
                      font-weight: 400;
                      font-size: 1.4em;
                    }
                  }
                }
              }
              & .sort-position--dd-content {
                display: block;
                position: absolute;
                opacity: 1;
                height: 10em;
                width: 22em;
                z-index: 5;
                background-color: orange;
              }
            }
          }
          & .toolbar--view {

          }
          & .toolbar--show-per {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 17em;
            height: 3em;
          }
        }
        & .main--table {
          height: 100em;
          width: 100%;
          margin-top: 1em;
          background-color: green;
        }
      }
    }
  }
}
