<body>
  <div class="empty-cart">
    <div class="empty-cart__hdr-container">
      <h1 class="hdr-container__hdr-text" data-ix="slide-from-above">Shopping Cart Is Empty</h1>
    </div>
    <div class="empty-cart__fa-cart-container">
      <div class="fa-cart-container__fa-text" data-ix="cart-animation"></div>
    </div>
    <div class="empty-cart__sub-hdr-container">
      <h3 class="heading" data-ix="cart-animation">Oops :(</h3>
    </div>
    <div class="empty-cart__blurb-container">
      <p class="blurb-container__blurb-content test test2 test3" data-ix="cart-animation">You have no items in your shopping cart.</p>
    </div>
    <div class="empty-cart__lg-button">
      <div class="lg-button__container" data-ix="cart-animation">
        <a class="container__lg-button w-inline-block" data-ix="button-hover" href="#">
          <div class="lg-button__text"><strong class="text__fa-text">&nbsp;</strong>Back To Home Page</div>
          <div class="lg-button__alt"></div>
        </a>
      </div>
    </div>
  </div>
</body>
