.masonry-column.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.masonry-column.masonry-column__news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 404px;
  margin: 20px 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #d8d8d8, #d8d8d8);
  background-image: linear-gradient(180deg, #d8d8d8, #d8d8d8);
}

.masonry-column__news.news--content {
  width: 95%;
  margin-top: -30px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.masonry-column__news.news--heading-link {
  text-decoration: none;
}

.heading {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.news__content.content--header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 0px;
  font-weight: 600;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #385a97;
}

.news__content.content--header:hover {
  text-decoration: underline;
}

.news__content.content-article {
  margin-bottom: 0px;
  padding: 10px;
  font-family: Opensans, sans-serif;
  color: #385a97;
  font-size: 16px;
}

.news__content.content--read-more-link {
  margin-bottom: 0px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fc2525;
  font-size: 16px;
  font-style: italic;
  text-decoration: underline;
}

.news__content.content--read-more-link:hover {
  font-style: italic;
  font-weight: 600;
}
