.mainbtn {
  @extend .flex-center;
  height: 100%;
  cursor: pointer;
  & .mainbtn-mycart-link {
    @include prefixflex();
    text-decoration: none;
    & .mainbtn-mycart-link-title {
      @extend .flex-center;
      background-color: $p-red;
      color: $p-white;
      font-size: 1.8em;
      font-weight: 400;
      font-family: $p-font;
      width: 6rem;
      height: 2rem;
      border-right: 1px solid $p-white;
      @include prefixed(font-smoothing, antialiased);
      border-right-color: rgba(255, 255, 255, .5);
    }
    & .mainbtn-mycart-link-cartqty {
      width: 3rem;
      height: 2rem;
      @extend .flex-center;
      background-color: $p-red;
      color: $p-white;
      font-size: 1.8em;
      font-family: $p-font;
      font-weight: 200;
    }
  }
}
