& .mainbtn {
  @extend .flex-center;
  padding: .5em 0em;
  cursor: pointer;
  & .mainbtn-mycart-link {
    @include prefixflex();
    & .mainbtn-mycart-link-title {
      @extend .flex-center;
      background-color: $p-red;
      color: $p-white;
      font-size: 15px;
      font-weight: 400;
      font-family: $p-font;
      width: 6em;
      height: 2em;
      border-right: 1px solid $p-white;
      @include prefixed(font-smoothing, antialiased);
      border-right-color: rgba(255, 255, 255, .5);
    }
    & .mainbtn-mycart-link-cartqty {
      @extend .flex-center;
      background-color: $p-red;
      color: $p-white;
      font-size: 15px;
      font-family: $p-font;
      font-weight: 200;
      width: 3em;
      height: 2em;
    }
  }
}
