.navbar.actionSection {
  .upper {
    display: flex;
    & .language {
      display: inline-block;
      position: relative;
      justify-content: center;
      align-items: center;
      color: $p-blue;
      width: 11em;
      height: 4em;
      @extend .white-bg;
      cursor: pointer;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        color: $p-white;
        & .dropdown-content {
          transition: .5s;
          display: block;
        }
      }
      & .main-button {
        @extend .flex-center;
        height: 4em;
        background-color: inherit;
        color: inherit;
        & .flag-us {
          @extend .flex-center;
          width: 2.5em;
          height: 2.5em;
          margin: 0;
          & .image {
            height: 1.3em;
            width: 2.6em;
            background-image: $us-flag-icon;
            background-size: cover;
            margin: 0;
          }
        }
        & .title {
          @extend .flex-center;
          width: 6.2em;
          height: 2.5em;
          font-size: 10px;
          margin: 0;
          background-color: transparent;
          color: inherit;
          font-family: $p-font;
          font-weight: 400;
        }
        & .chevron {
          @extend .flex-center;
          width: 1.1em;
          height: 2.5em;
          font-size: 15px;
          margin: 0;
          background-color: transparent;
          color: inherit;
          &.icon {
            width: 1em;
            height: 1em;
            color: inherit;
          }
        }
      }
      & .dropdown-content {
        display: none;
        position: absolute;
        height: 7em;
        width: 13em;
        background-color: $p-white;
        z-index: 1;
        box-shadow: 1px 2px 5px rgba(0,0,0,.6);
        & .japanese-flag.container {
          height: 2.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.5em 2em;
          &:hover,
          &:focus,
          &:active {
            transition: .5s;
            background-color: $p-blue;
            & .nihongo {
              color: $p-white;
            }
          }
          & .image {
            height: 1.4em;
            width: 2.4em;
            background-image: $jpn-flag-icon;
            background-size: cover;
          }
          & .nihongo {
            padding-left: 1em;
            font-family: $s-font;
            font-weight: 400;
            color: $s-blue;
            font-size: 1em;
          }
        }
        & .us-flag.container {
          height: 2.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1em 2em;
          &:hover,
          &:focus,
          &:active {
            transition: .5s;
            background-color: $p-blue;
            & .english {
              color: $p-white;
            }
          }
          & .image {
            height: 1.4em;
            width: 2.4em;
            background-image: $us-flag-icon;
            background-size: cover;
          }
          & .english {
            padding-left: 1em;
            font-family: $s-font;
            font-weight: 400;
            color: $s-blue;
            font-size: 1em;
          }
        }
      }
    }
  }
}
