.promotion-text {
  text-transform: uppercase;
  font-family: $s-font;
  color: $p-red;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.3em;
  letter-spacing: 1.5px
}

.ddn-cart-p-font {
  font-family: $p-font;
  color: $p-blue;
  font-size: 1.2em;
  line-height: 1.25em;
}
