@import "./navbarOptions_language";

.navbar.actionSection {
  .upper {
    display: flex;
    &.currency {
      @extend .flex-center;
      width: 11em;
      height: 4em;
      margin-right: .5em;
      @extend .white-bg;
      .dollar {
        width: 1.4em;
        height: 2.5em;
        font-size: 15px;
        margin: 0;
        .icon {
          width: 1em;
          height: 1em;
          font-size: 1em;
          color: $p-blue;
        }
      }
      .title {
        width: 6.2em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        color: $p-blue;
        font-family: $p-font;
        font-weight: 200;
      }
      .chevron {
        width: 1.1em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        .icon {
          width: 1em;
          height: 1em;
          color: $p-blue;
        }
      }
    }
  }
}
