.navbar.actionSection {
  &.upper {
    display: flex;
    &.user-actions {
      @extend .white-bg;
      display: flex;
      &.signed-in {
        justify-content: flex-end;
        align-items: center;;
        margin: 0em;
        list-style-type: none;
        padding: 0em 1em 0em 3em;
        & .my-account-title {
          @extend .flex-center;
          @extend .white-bg;
          @extend .ua-font-opts;
          width: 7.33em;
          height: 2em;
          cursor: pointer;
          &:hover,
          &:active,
          &:focus {
            background-color: $p-blue;
            color: $p-white;
          }
        }
        & .checkout-title {
          @extend .flex-center;
          @extend .white-bg;
          @extend .ua-font-opts;
          width: 7.33em;
          height: 2em;
          margin-left: .66em;
          line-height: 1.33em;
          cursor: pointer;
          &:hover,
          &:active,
          &:focus {
            background-color: $p-blue;
            color: $p-white;
          }
        }
        & .sign-out-title {
          @extend .flex-center;
          @extend .white-bg;
          @extend .ua-font-opts;
          width: 5.33em;
          height: 2em;
          margin-left: .66em;
          line-height: 1.33em;
          cursor: pointer;
          &:hover,
          &:active,
          &:focus {
            background-color: $p-blue;
            color: $p-white;
          }
        }
      }
    }
  }
}
