@import "./navbarUserActions_signIn";
@import "./navbarUserActions_noSignIn";

.navbar.actionSection {
  &.upper {
    display: flex;
    &.user-actions {
      @extend .white-bg;
      display: flex;
      width: 45em;
      height: 4em;
      text-align: center;
    }
  }
}
