.navbar.actionSection {
  .upper {
    display: flex;
    &.language {
      @extend .flex-center;
      width: 11em;
      height: 4em;
      @extend .white-bg;
      &.flag-us {
        width: 2.8em;
        height: 2.5em;
        margin: 0;
        &.image {
          width: 2.6em;
          height: 1.3em;
          margin: 0;
        }
      }
      &.title {
        width: 6.2em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        color: $p-blue;
        font-family: $p-font;
        font-weight: bold;
      }
      &.chevron {
        width: 1.1em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        &.icon {
          width: 1em;
          height: 1em;
          color: $p-blue;
        }
      }
    }
    &.currency {
      @extend .flex-center;
      width: 11em;
      height: 4em;
      margin-right: .5em;
      @extend .white-bg;
      .dollar {
        width: 1.4em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        .icon {
          width: 1em;
          height: 1em;
          font-size: 1.5em;
          color: $p-blue;
        }
      }
      .title {
        width: 6.2em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        color: $p-blue;
        font-family: $p-font;
        font-weight: bold;
      }
      .chevron {
        width: 1.1em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        .icon {
          width: 1em;
          height: 1em;
          color: $p-blue;
        }
      }
    }
  }
}
