& .dropdown-content {
  display: none;
  align-items: center;
  position: absolute;
  right: 0;
  height: 28em;
  width: 25em;
  background-color: $p-white;
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);
  z-index: 1;
  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .promotion {
      @extend .flex-center;
      @include prefixed(font-smoothing, subpixel-antialiased);
      flex-direction: column;
      height: 4.5em;
      width: 22em;
      margin: 2em 1.5em .5em 1.5em;
      background-color: $p-blue;
      & .promotion-top-line {
        @extend .promotion-text;
      }
      & .promotion-bottom-line {
        @extend .promotion-text;
      }
    }
/* RECENTLY: ADDED; */
    & .recently-added {
      @extend .flex-center;
      @extend .ddn-cart-p-font;
      height: 2.08em;
      width: 18.33em;
      margin: 0em 1.25em .41em 1.25em;
      background-color: $p-white;
    }
/* PRODUCTS CARD */
    & .products {
      @extend .flex-center;
      @extend .ddn-cart-p-font;
      min-height: 5.83em;
      height: 5.83em;
      max-width: 18.33em;
      margin: 0em 1.25em .41em 1.25em;
      background-color: $p-white;
      & .products-list {
        font-size: 10px;
        @extend .flex-center;
        min-height: 7em;
        max-width: 22em;
        list-style: none;
        margin: 0;
        padding: 0;
        & .products-list-empty {
          background-color: inherit;
        }
        & .products-list-card {
          font-size: 1.2em;
          @extend .flex-center;
          background-color: $p-grey;
          height: 5.833em;
          width: 18.33em;
          & .products-list-cart-image {
            font-size: 10px;
            @extend .flex-center;
            height: 5em;
            width: 5em;
            padding: .5em;
          }
          & .products-list-card-info {
            font-size: 10px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            line-height: 1.33em;
            height: 5.4em;
            width: 10.5em;
            font-family: $p-blue;
          }
          & .products-list-card-actions {
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 5.5em;
            width: 4em;
            & .products-list-card-actions-edit {
              height: 1.5em;
              width: 1.5em;
              background-color: $p-red;
              cursor: pointer;
              color: $s-blue;
              box-shadow: 1px 2px 4px rgba(0,0,0,.5);
              &:hover,
              &:focus,
              &:active {
                transition: .5s;
                cursor: pointer;
                background-color: $s-blue;
                color: $p-white;
              }
              & .products-list-card-actions-edit-icon {
                @extend .flex-center;
                font-size: 15px;
                color: inherit;
              }
            }
            & .products-list-card-actions-delete {
              height: 1.5em;
              width: 1.5em;
              background-color: $p-red;
              cursor: pointer;
              color: $s-blue;
              border: none;
              box-shadow: 1px 2px 4px rgba(0,0,0,.5);
              &:hover,
              &:focus,
              &:active {
                transition: .5s;
                cursor: pointer;
                background-color: $s-blue;
                color: $p-white;
              }
              & .products-list-card-actions-delete-icon {
                @extend .flex-center;
                font-size: 15px;
                color: inherit;
              }
            }
          }
        }
      }
    }
/* TOTAL PRICE */
    & .total-price {
      @extend .flex-right;
      height: 2.66em;
      width: 14.66em;
      margin: 0em 1em 1em 1em;
      background-color: $p-grey;
      text-transform: uppercase;
      font-family: $s-font;
      color: $p-blue;
      font-weight: bold;
      font-size: 15px;
      line-height: 1.3em;
      & .total-price-amount {
        padding: 0 .66em;
      }
    }
/* ACTION BUTTONS */
    & .action-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4em;
      width: 22em;
      margin: 0em 1.5em 1.5em 1.5em;
      background-color: inherit;
      & .action-links-cart {
        @extend .flex-center;
        height: 2em;
        width: 6em;
        background-color: $p-red;
        color: $p-white;
        font-size: 1.5em;
        font-family: $p-font;
        font-weight: 200;
        padding: .33em .33em .33em .33em;
        margin-right: 1em;
        box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
          transition: .5s;
          background-color: $p-blue;
          color: $p-white;
          cursor: pointer;
        }
      }
      & .action-links-checkout {
        @extend .flex-center;
        height: 2em;
        width: 6em;
        color: $p-white;
        font-size: 1.5em;
        font-family: $p-font;
        font-weight: 200;
        padding: .33em .33em .33em .33em;
        margin-left: 1em;
        background-color: $p-red;
        box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
          transition: .5s;
          background-color: $p-blue;
          color: $p-white;
          cursor: pointer;
        }
      }
    }
  }
}
