/* Global Imports */

@import "../../../Styles/colors";
@import "../../../Styles/typography";
@import "../../../Styles/images";
@import "../../../Styles/mixins";

/* Local Imports */
@import "./navbarOptions";
@import "./navbarUserActions";
@import "./navbarCart";

/* Parent Styles - Navbar */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ua-font-opts {
  font-family: $p-font;
  font-weight: 200;
  font-size: 1.5em;
  color: $p-blue;
}

.white-bg {
  background-color: $p-white;
}

.navbar-comp-container {
  font-size: 10px;
}

nav {
  width: 100%;
  @extend .white-bg;
}
.navbar.navbar-header {
  display: flex;
  justify-content: center;
}

.navbar.logoContainer {
  max-width: 22em;
  height: 10em;
  padding-right: 2.5em;
}
.navbar.navbar-logo {
  height: 10em;
  width: 22em;
  max-width: 22em;
  background-image: $main-logo;
  background-size: cover;
}

.navbar.actionSection {
  height: 10em;
  @extend .white-bg;
  &.upper {
    height: 4em;
    width: 83.5em;
    margin-bottom: 2em;
  }

  &.lower {
    display: flex;
    height: 4em;
    width: 83.5em;
    font-size: 10px;
    @extend .white-bg;
    &.shop {
      @extend .flex-center;
      height: 4em;
      width: 12em;
      margin-right: 1em;
      background-color: $p-blue;
      box-shadow: 1px -2px 4px rgba(0,0,0,.5);
      & .title {
        background-color: $p-blue;
        font-size: 20px;
        font-family: $p-font;
        font-weight: 200;
        color: $p-white;
      }
    }
    &.media {
      @extend .flex-center;
      height: 4em;
      width: 12em;
      margin-right: 1em;
      background-color: $p-blue;
      box-shadow: 1px -2px 4px rgba(0,0,0,.5);
      & .title {
        background-color: $p-blue;
        font-size: 20px;
        font-family: $p-font;
        font-weight: 200;
        color: $p-white;
      }
    }
    &.info {
      @extend .flex-center;
      height: 4em;
      width: 12em;
      background-color: $p-blue;
      box-shadow: 1px -2px 4px rgba(0,0,0,.5);
      & .title {
        background-color: $p-blue;
        font-size: 20px;
        font-family: $p-font;
        font-weight: 200;
        color: $p-white;
      }
    }
  }
}
