<div class="shipping-body">
    <div class="shipping-body__hdr-container">
      <h1 class="hdr-container__hdr-text" data-ix="slide-from-top">Shipping</h1>
    </div>
    <div class="shipping-body__content-container">
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">PROCESSING AND SHIPPING</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">Orders will be processed within 2-5 business days after your full payment has been received. Shipment time will be between 2-7 business days depending on your physical address. The total wait time after you place your order will be between 2-10&nbsp;business days. Shipping time and cost vary depending on location, and product ordered.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">CODs</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">We do not Accept COD's.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">IN A HURRY?</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">We offer priority handling and delivery on most items upon request. For special instructions, PLEASE ORDER BY PHONE.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">RETURNS AND EXCHANGES</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">100% Money back guarantee for defective items. Defective items or missing parts must be reported within 15 days of purchase or delivery. Shipping damage(s) must be reported immediately upon receipt of package(s). Returns and exchanges for any other reason will not be accepted.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">CANCELLATIONS</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">Cancellations on orders are accepted without penalty before the close of business on the day purchased.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">SALES TAX</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">We collect sales tax in the state of California. All shipments to CA are subject to California Sales Tax.</p>
        </div>
      </div>
      <div class="content-container__shipping-content">
        <div class="shipping-content__hdr-container">
          <h4 class="hdr-container__hdr-blurb" data-ix="slide-from-left">CUSTOMER SERVICE</h4>
        </div>
        <div class="shipping-content__blurb-container">
          <p class="blurb-container__blurb-text" data-ix="slide-from-right">Our helpful customer service department is committed to assist you in every way. If you have a question or problem with your order, please call 1-855-587-8888 for Customer Service, Monday–Friday, 8am – 5pm PST. Or email us at support@vapeswitch.com 24 hours a day, 7 days a week. Special requests or adjustments need to be arranged with our Customer Service department before your order has shipped.</p>
        </div>
      </div>
    </div>
  </div>
