.carousel-container-slides {
  display: flex;
  position: absolute;
  left: -94.1em;
  transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
  & .carousel-couple {
    & .carousel-couple-image {
      @extend .flex-bottom;
      @extend .flex-bottom;
      height: 57.2em;
      width: 94.1em;
      background-image: $img-carousel-couple;
      background-position: cover;
      background-repeat: no-repeat;
      & .carousel-couple-description-container {
        @extend .flex-center;
        height: 15.5em;
        width: 72.5em;
        background-color: rgba(1,1,1,.75);
        margin-bottom: 3em;
        margin-bottom: 3em;
        & p {
          max-width: 680px;
          max-width: 680px;
          text-align: center;
          color: $p-white;
          font-size: 20px;
          font-weight: 400;
          line-height: 2em;
        }
      }
    }
  }
}
