<div className="navbar-big__cart-dropdown">
  <div className="cart-dropdown__nav-b-cart-container" data-ix="nav-b-cart-hover">
    <!-- <Link className="floating-cart-container__promotion-box w-inline-block" to="/login">
      <p className="promotion-box__promotion-blurb">
        BUY 4 BOTTLES
      </p>
      <p className="promotion-box__promotion-blurb">
        GET 25% OFF
      </p>
    </Link> -->
    <!-- <div className="floating-cart-container__recently-added">
      <p className="recently-added__blurb-text">
        Recently Added Item(s)
      </p>
    </div> -->
    <div className="floating-cart-container__product-stage">
      <div className="product-stage__product-list-card">
        <div className="product-list-card__img-container">
          <img alt="French Vanilla Mocha" className="img-container__cart-card-img" src="/images/nj2jp-fvm-small-shadow.png" />
        </div>
        <div className="product-list-card__product-info">
          <div className="product-info__product-title">
            <p className="product-title__nav-cart-blurb">
              French Vanilla Mocha
            </p>
          </div>
          <div className="product-info__qty-price">
            <p className="qty-price__nav-cart-blurb">
              1 x $ 30.00
            </p>
          </div>
          <div className="product-info__nicotine">
            <p className="nicotine__nav-cart-blurb">
              8 mg
            </p>
          </div>
        </div>
        <div className="product-list-card__card-btn">
          <div className="card-btn__nav-cart-edit">
            <p className="nav-cart-edit__fa-text">
              
            </p>
          </div>
          <div className="card-btn__nav-cart-delete">
            <p className="nav-cart-delete__fa-text">
              
            </p>
          </div>
        </div>
      </div>
      <div className="product-stage__product-list-card">
        <div className="product-list-card__img-container">
          <img alt="" className="img-container__cart-card-img" src="/images/nj2jp-fvm-small-shadow.png" />
        </div>
        <div className="product-list-card__product-info">
          <div className="product-info__product-title">
            <p className="product-title__nav-cart-blurb">
              French Vanilla Mocha
            </p>
          </div>
          <div className="product-info__qty-price">
            <p className="qty-price__nav-cart-blurb">
              1 x $ 30.00
            </p>
          </div>
          <div className="product-info__nicotine">
            <p className="nicotine__nav-cart-blurb">
              8 mg
            </p>
          </div>
        </div>
        <div className="product-list-card__card-btn">
          <div className="card-btn__nav-cart-edit">
            <p className="nav-cart-edit__fa-text">
              
            </p>
          </div>
          <div className="card-btn__nav-cart-delete">
            <p className="nav-cart-delete__fa-text">
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div className="floating-cart-container__loading-stage">
      <div className="loading-stage__loading-blurb">
        <p className="loading-blurb__nav-cart-blurb">
          Loading...
          &nbsp;
          <em className="nav-cart-blurb__fa-spinner">
            
          </em>
        </p>
      </div>
    </div> -->
    <!-- <div className="floating-cart-container__empty-stage">
      <div className="empty-stage__empty-blurb">
        <p className="empty-blurb__nav-cart-blurb">
          Your Cart Is Currently Empty
        </p>
      </div>
    </div> -->
    <div className="floating-cart-container__total-price-card">
      <div className="total-price-card__total-blurb">
        <p className="total-blurb__card-blurb">
          TOTAL PRICE
        </p>
      </div>
      <div className="total-price-card__total-price">
        <p className="total-price__cart-price">
          $ 30.00
        </p>
      </div>
    </div>
    <div className="floating-cart-container__btn-section">
      <Link className="btn-section__checkout-btn w-button" to="/express_checkout">
        Checkout
      </Link>
      <Link className="btn-section__view-cart-btn w-button" to="/cart">
        View Cart
      </Link>
    </div>
  </div>
</div>
