.under-construction {
  background-image: url('../images/NJ2JP-Construction-Final.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-attachment: scroll;
  line-height: 500px;
}

.under-construction.under-construction--desktop {
  height: 1300px;
  margin-top: 15px;
}

.under-construction.under-construction--desktop.under-construction--tablet.under-contruction--phone-landscape.under-construction--phone-portrait {
  background-image: url('../images/NJ2JP-Construction-Final_1.jpg');
}

.under-construction--container {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.under-construction--container.container--image {
  margin-top: 20px;
}

.under-construction--container.container--subheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -43px;
  margin-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container__header {
  margin-top: 132px;
  margin-right: 14px;
  margin-left: -130px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #d12027;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.container__header.header--desktop.header--tablet.header--phone-landscape.header--phone-portrait {
  margin-top: 14px;
}

.container__header.header--japanese.japanese--desktop {
  margin-top: 20px;
  margin-left: -241px;
  color: #365899;
}

.container--image {
  margin-top: -19px;
  text-align: center;
}

.container__sub-header {
  width: 55%;
  margin-top: 206px;
  margin-left: 27px;
  border-bottom: 3px none #d12027;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #d12027;
  font-size: 38px;
  line-height: 50px;
  text-align: left;
}

.container__sub-header.sub-header--desktop.sub-header--tablet.sub-header--phone-landscape.sub-header--phone-portrait {
  margin-top: 132px;
}

.container__sub-header.sub-header--japanese.japanese--desktop {
  margin-top: 2px;
  color: #365899;
}

.image {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .under-construction {
    background-size: 800px;
  }
  .under-construction.under-construction--desktop.under-construction--tablet {
    height: 650px;
    margin-top: 120px;
    background-position: 50% 0px;
    background-size: 1200px;
  }
  .container__header.header--desktop.header--tablet {
    margin-top: -41px;
    margin-bottom: 5px;
    margin-left: -200px;
    font-size: 34px;
  }
  .container__header.header--desktop.header--tablet.header--phone-landscape.header--phone-portrait {
    margin-top: -81px;
  }
  .container__header.header--japanese.japanese--desktop.japanese--tablet {
    margin-top: 0px;
    margin-left: -274px;
    font-size: 34px;
  }
  .container__sub-header.sub-header--desktop.sub-header--tablet {
    width: 40%;
    margin-top: 60px;
    margin-left: 5px;
    font-size: 20px;
    line-height: 30px;
  }
  .container__sub-header.sub-header--desktop.sub-header--tablet.sub-header--phone-landscape.sub-header--phone-portrait {
    margin-top: 76px;
  }
  .container__sub-header.sub-header--japanese.japanese--desktop.japanese--tablet {
    width: 40%;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .under-construction.under-construction--desktop.under-construction--tablet.under-contruction--phone-landscape {
    height: 410px;
    margin-top: 120px;
    background-size: 750px;
  }
  .container__header.header--desktop.header--tablet.header--phone-landscape {
    margin-top: -46px;
    margin-left: -134px;
    font-size: 26px;
  }
  .container__header.header--desktop.header--tablet.header--phone-landscape.header--phone-portrait {
    margin-top: -94px;
  }
  .container__header.header--japanese.japanese--desktop.japanese--tablet.japanese--phone-landscape {
    margin-top: -15px;
    margin-left: -185px;
    font-size: 26px;
  }
  .container__sub-header.sub-header--desktop.sub-header--tablet.sub-header--phone-landscape {
    position: static;
    width: 208px;
    margin-top: 54px;
    margin-left: 23px;
    font-size: 16px;
    line-height: 22px;
  }
  .container__sub-header.sub-header--desktop.sub-header--tablet.sub-header--phone-landscape.sub-header--phone-portrait {
    margin-top: 99px;
  }
  .container__sub-header.sub-header--japanese.japanese--desktop.japanese--tablet.japanese--phone-landscape {
    width: 210px;
    margin-top: -7px;
    margin-left: -198px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 479px) {
  .under-construction.under-construction--desktop.under-construction--tablet.under-contruction--phone-landscape.under-construction--phone-portrait {
    height: 300px;
    margin-top: 170px;
    background-size: 550px;
  }
  .under-construction--container.container--subheader {
    margin-left: 0px;
    padding-left: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container__header.header--desktop.header--tablet.header--phone-landscape.header--phone-portrait {
    margin: -177px 0px 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 25px;
  }
  .container__header.header--japanese.japanese--desktop.japanese--tablet.japanese--phone-landscape.japanese--phone-portrait {
    margin-left: -26px;
  }
  .container__sub-header.sub-header--desktop.sub-header--tablet.sub-header--phone-landscape.sub-header--phone-portrait {
    width: 310px;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 15px;
    line-height: 20px;
  }
  .container__sub-header.sub-header--japanese.japanese--desktop.japanese--tablet.japanese--phone-landscape.japanese--phone-portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 310px;
    margin-left: 0px;
    font-size: 15px;
    line-height: 20px;
  }
  .image.image--phone-portrait {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}