.shopping-cart-main {
  width: 100%;
  & .shopping-cart-breadcrumb-container {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6em;
    background-color: $p-white;
    & .shopping-cart-breadcrumb-list {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 1em;
      & .shopping-cart-breadcrumb-path {
        font-size: 1.8em;
        font-family: $p-font;
        font-weight: normal;
        color: $p-blue;
        & .breadcrumb-chevron-right {
          font-size: 18px;
          color: $p-blue;
          margin: 0 .5em -1em .5em;
          bottom: -1px;
          position: relative;
        }
        & .breadcrumb-link {
          color: $p-blue;
        }
      }
    }
  }
  & .shopping-cart-main-title {
    @include prefixflex();
    align-items: flex-start;
    height: 8em;
    h1 {
      font-size: 3.5em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
  & .shopping-cart-mobile-parent {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    & .shopping-cart-mobile-action-btn-top {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 14.5em;
      span {
        font-size: 1.8em;
        color: $p-white;
        margin-right: .5em;
      }
      button {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        font-weight: 100;
        border: none;
        height: 3.33em;
        width: 14.4em;
        font-size: 1.8em;
        color: $p-white;
        margin: .27em 0 .55em 0;
        background-color: $p-red;
        cursor: pointer;
        @include prefixed(box-shadow, 0 3px 3px rgba(0,0,0,.25));
      }
    }
    & .shopping-cart-mobile-product-list {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      & .shopping-cart-mobile-row {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border: 1px solid rgba(0,0,0,.25);
        margin-bottom: 1em;
        & .shopping-cart-mobile-product-parent {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          & .shopping-cart-mobile-product-img {
            height: 28.5em;
            overflow: hidden;
            img {
              position: relative;
              top: 15px;
              width: 7.3em;
            }
          }
          & .shopping-cart-mobile-product-infobox {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 15em;
            width: 100%;
            & .shopping-cart-mobile-product-infobox-title,
            & .shopping-cart-mobile-product-infobox-nicotine,
            .shopping-cart-mobile-product-infobox-sku {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 4.5;
              & h3 {
                font-size: 2em;
                line-height: 2.25em;
              }
              & p, i {
                font-size: 1.2em;
                font-family: $p-font;
                color: $p-blue;
              }
            }
            & .shopping-cart-mobile-product-infobox-nicotine,
            .shopping-cart-mobile-product-infobox-sku {
              height: 3em;
            }
            & .shopping-cart-mobile-product-infobox-sku {
              p {
                font-size: 1em;
              }
            }
          }
          & ul.shopping-cart-mobile-product-actions-list {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & li.shopping-cart-mobile-product-actions-price {
              & .shopping-cart-mobile-product-actions-price-title {
                @include prefixflex();
                justify-content: center;
                align-items: flex-end;
                width: 50%;
                p {
                  font-family: $p-font;
                  color: $p-blue;
                  padding-right: 1em;
                  font-size: 1.2em;
                }
              }
              & .shopping-cart-mobile-product-actions-price-amt {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                width: 50%;
                p {
                  font-family: $p-font;
                  color: $p-blue;
                  font-size: 1.8em;
                }
              }
            }
          }
        }
      }
    }


    & .shopping-cart-back-parent {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 15em;
      & button {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        font-weight: 100;
        border: none;
        height: 3.33em;
        width: 14.4em;
        font-size: 1.8em;
        color: $p-white;
        margin: .27em 0 .55em 0;
        background-color: $p-red;
        cursor: pointer;
        @include prefixed(box-shadow, 0 3px 3px rgba(0,0,0,.25));
      }
    }
  }
}
    /*
    & .shopping-cart-analysis-main {
    @include prefixflex();
    justify-content: center;
    align-items: flex-end;;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    & .shopping-cart-analysis-taxes,
    & .shopping-cart-analysis-grand-total {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 26em;
    background-color: $p-grey;
    border: 1px solid $s-grey;
    margin-top: .5em;
    & .shopping-cart-analysis-taxes-title,
    .shopping-cart-analysis-taxes-cost,
    .shopping-cart-analysis-grand-total-title,
    .shopping-cart-analysis-grand-total-cost {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 15em;
    h3 {
    font-weight: 600;
  }
  h3.title {
  text-align: center;
  width: 14em;
}
span {
font-size: 2em;
color: $p-blue;
}
}
& .shopping-cart-analysis-taxes-cost,
.shopping-cart-analysis-grand-total-cost {
width: 10em;
}
& .shopping-cart-analysis-taxes-title,
.shopping-cart-analysis-grand-total-title {
&:after {
content: '';
margin-bottom: -3px;
margin-left: 10px;
display: inline-block;
width: 1px;
height: 20px;
background-color: $s-grey;
}
}
}
& .shopping-cart-analysis-grand-total {
margin: 0 0 1em 0;
}
}

*/
