.dashboard__order-invoice {
  padding: 0 2em 4em 2em;

  & .dashboard__header-title {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    height: 6em;
    & h2 {
      margin-left: 1em;
    }
  }

  & .dashboard__header {
    @include prefixflex();
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    text-align: center;
    & p:nth-child(1) {
      padding-bottom: 1em;
    }
  }

  & .dashboard__header--status {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 100%;
  }

  & .dashboard__header--tracking {
    @include prefixflex();
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.15);
    & .tracking__serials {
      text-align: center;
      margin-bottom: 2em;
      & p:nth-child(1) {
        padding: 1em 0;
      }
    }
    & .tracking__price {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      & p {
        font-size: 2em;
      }
    }
  }

  & .invoice__addresses {
    @include prefixflex();
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2em;
    & .addresses--shipto,
    .addresses--billto {
      width: 100%;
      & fieldset {
        height: 22em;
        border-color: $p-blue;
        border-style: solid;
        & legend {
          & p {
            font-size: 2em;
            font-weight: 400;
          }
        }
        & div {
          & p {
            font-weight: 200;
          }
        }
        & .shipto__name,
        .billto__name,
        .shipto__city-prefecture,
        .billto__city-prefecture,
        .shipto__telephone,
        .billto__telephone {
          @include prefixflex();
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }

  & .invoice__order-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    & .order-summary--fieldset {
      border-color: $p-blue;
      border-style: solid;
      & .order-summary--legend {
        & p {
          font-size: 2em;
          font-weight: 400;
        }
      }
      & .order-summary__table {
        border-collapse: collapse;
        & .table--thead {
          & tr {
            border-bottom: 1px solid rgba(0,0,0,.15);
            & th {
              & p {
                font-size: 1.4em;
                font-weight: 400;
              }
            }
          }
        }
        & .table--body {
          & .body--shipping-status-row {
            height: 4em;
            background-color: $s-white;
            border-bottom: 1px solid rgba(0,0,0,.1);
            & td {
              width: 70%;
              text-align: center;
            }
            & p {
              font-weight: 200;
              & .tracking-id {
                font-weight: 200;
                color: $p-red;
                &:hover,
                &:focus,
                &:active {
                  text-decoration: underline;
                }
              }
            }
          }
          & .body--product-row {
            height: 10em;
            border-bottom: 1px solid rgba(0,0,0,.1);
            & td {
              text-align: center;
              & p {
                font-weight: 200;
              }
              & .product-row__list {
                padding: .5em;
                margin: 0;
                list-style-type: none;
                & .list--title {
                  & p {
                    font-weight: 400;
                  }
                }
                & .list--nic-strength {
                  p {
                    font-style: italic;
                    font-size: 1.2em;
                    font-weight: 200;
                  }
                }
                & .list--sku {
                  & p {
                    font-size: 1em;
                    font-weight: 200;
                  }
                }
              }
            }
            & td:nth-child(2) {
              text-align: left;
            }
            & td:nth-child(3) {
              text-align: right;
            }
          }
          & .body--total-analysis {
            & td {
              text-align: right;
              & .total-analysis--list-title,
              .total-analysis--list-value {
                margin: 0;
                list-style-type: none;
                & li {
                  & p {
                    font-weight: 200;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
