.dashboard__open-orders {
  & .dashboard__filter {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2.5em 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    & .filter__results-msg {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      margin-left: 3.5em;
      padding-bottom: 1em;
      & p {
        font-size: 1.6em;
        margin-right: .5em;
      }
      & p:nth-child(1),
      p:nth-child(3) {
        font-weight: 200;
      }
    }
    & .filter__periodcity-ddn--container {
      display: inline-block;
      position: relative;
      & .periodicity__ddn--readout {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        & .readout--msg {
          height: 2em;
          width: 7.5em;
          color: $p-blue;
          font-family: $p-font;
          font-size: 1.6em;
          font-weight: 200;
          padding-left: .5em;
          border: 1px solid rgba(0,0,0,.25);
        }
        & .readout--btn {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          border: none;
          padding: 0;
          margin: 0;
          height: 2.3em;
          width: 2.4em;
          font-size: 1.6em;
          background-color: $p-red;
          cursor: pointer;
          & span {
            font-size: 2em;
            line-height: 1em;
            color: $p-white;
          }
        }
      }
      & .periodicity__ddn--content {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        display: block;
        position: absolute;
        width: 100%;
        background-color: $p-white;
        box-shadow: 0 3px 4px rgba(0,0,0,.25);
        & .ddn--content__list {
          @include prefixflex();
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          list-style-type: none;
          padding: 1em 0;
          margin: 0 0 0 1em;
          & .list--option {
            padding: .5em;
            cursor: pointer;
            width: 90%;
            transition: all .3 linear;
            &:hover,
            &:active,
            &:focus {
              & p {
                color: $p-white;
              }
            }
            & p {
              font-weight: 200;
            }
          }
        }
      }
    }
  }

  & .dashboard__products--container {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
