html.w-mod-js *[data-ix="mobile-navbar-ppic-fade-in"] {
  opacity: 0;
  -webkit-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}

html.w-mod-js *[data-ix="mobile-navbar-authorization-change-enter"] {
  opacity: 0;
  -webkit-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate(200px, 0px);
}

@media (max-width: 991px) {
  .navbar {
    min-height: 60px;
    background-color: #365899;
  }
  .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar__hamburger-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hamburger-btn-top {
    width: 25px;
    margin-top: 5px;
    border-top: 2px solid #fc2525;
  }
  .navbar__logo-container.w--current {
    width: 22%;
  }
  .image {
    width: 100%;
  }
  .navbar__action-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .action-section__right-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .user-icon {
    display: block;
    width: 50px;
    margin-right: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
  }
  .image-2 {
    border-radius: 50%;
  }
  .mycart__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 60px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fc2525;
  }
  .mycart__container:active {
    background-color: #cf2c2c;
  }
  .cart-icon__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid hsla(0, 0%, 100%, .52);
    line-height: 10px;
  }
  .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
  }
  .cart-qty__container {
    width: 50%;
  }
  .navbar-expanded__container {
    position: relative;
    left: 0px;
    overflow: hidden;
    width: 270px;
    border-top: 2px solid #fc2525;
  }
  .expanded-header__container {
    background-color: #365899;
  }
  .expanded-content__container {
    height: 100%;
    min-height: 300px;
    padding: 10px 10px 30px;
    background-color: #365899;
  }
  .greetings__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #365899;
  }
  .greetings__container.not-logged-in {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fc2525;
  }
  .greetings__container.successsfully-logged-in {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #1c8b3e;
    background-color: #1ce700;
  }
  .greetings__container.expanded-status__logging-in {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #d8d8d8;
  }
  .greetings__container.error-loggin-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #fc2525;
    background-color: #8a8a8a;
  }
  .heading {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
  }
  .expanded-nav-title-normal {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .29);
  }
  .expanded-section__container {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid hsla(0, 0%, 85%, .35);
  }
  .option__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }
  .language-flag {
    width: 30px;
  }
  .language-title {
    margin-left: 10px;
  }
  .text-block-2 {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #d8d8d8;
    text-transform: capitalize;
  }
  .text-block-2:active {
    color: #fc2525;
  }
  .italic-text {
    font-size: 12px;
    font-style: normal;
  }
  .hamburger-btn-mid {
    width: 25px;
    margin-top: 5px;
    border-top: 2px solid #fc2525;
  }
  .hamburger-btn-bottom {
    width: 25px;
    margin-top: 5px;
    border-top: 2px solid #fc2525;
  }
  .social-media__title {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
  }
  .media-btns__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-media-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
    text-decoration: none;
  }
  .social-media-btn:active {
    box-shadow: none;
    color: #fc2525;
  }
  .section-title__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .dropdown-button__container {
    display: none;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }
  .plus-icon {
    position: relative;
    left: -3px;
    top: -1px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    font-weight: 700;
  }
  .expanded-nav-title-focused {
    position: absolute;
    left: -100px;
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fc2525;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  }
  .minus-icon {
    position: relative;
    top: -1px;
    right: -25px;
    display: block;
    opacity: 0;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fc2525;
    font-size: 18px;
    line-height: 1em;
    font-weight: 700;
  }
  .logging-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #365899;
    font-style: normal;
    font-weight: 400;
  }
  .italic-text-2 {
    margin-right: 3px;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
  }
  .success-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  }
  .error-title {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fc2525;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }
  .error-subtitle {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .navbar-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar__hamburger-container {
    height: 60px;
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar__logo-container.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mycart__container {
    width: 120px;
    height: 60px;
    background-color: #fc2525;
  }
  .navbar-expanded__container {
    position: relative;
    left: -270px;
    width: 270px;
  }
  .greetings__container.not-logged-in {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .heading {
    font-size: 21px;
  }
  .expanded-nav-title-normal {
    font-size: 21px;
  }
  .hamburger-btn-mid {
    width: 25px;
    margin-top: 5px;
    border-top: 2px solid #fc2525;
  }
  .hamburger-btn-bottom {
    width: 25px;
    margin-top: 5px;
    border-top-style: solid;
    border-top-width: 2px;
  }
}

@media (max-width: 479px) {
  .navbar-container {
    padding-left: 5px;
  }
  .navbar__hamburger-container {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .hamburger-btn-top {
    width: 20px;
  }
  .navbar__logo-container.w--current {
    width: 80px;
  }
  .image {
    margin-top: 5px;
  }
  .user-icon {
    width: 35px;
    margin-right: 5px;
  }
  .mycart__container {
    width: 100px;
  }
  .navbar-expanded__container {
    left: -270px;
    width: 270px;
  }
  .heading {
    font-size: 18px;
  }
  .expanded-nav-title-normal {
    font-size: 18px;
  }
  .hamburger-btn-mid {
    width: 20px;
  }
  .hamburger-btn-bottom {
    width: 20px;
  }
}
