@media only screen and (min-width: 641px) {
  .ordered--main {
    max-width: 1086px;
    width: 100%;
    @include prefixflex();
    justify-content: center;
    align-items: center;
    & .ordered--container {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: 5em auto;
      & .ordered__title {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        & .title--icon {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 10em;
          width: 10em;
          background-color: $p-green;
          & span {
            color: $p-white;
            font-size: 10em;
          }
        }
        & .title--msg {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 2em;
          & h1, h4 {
            color: $s-green;
          }
          & h4 {
            margin-top: 2em;
            line-height: 2em;
          }
        }
      }
      & .ordered__header {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 3em auto;
        & .header--date {
          @include prefixflex();
          justify-content: space-between;
          align-items: center;
          width: 100%;
          & p {
            padding: 1em;
          }
        }
        & .header--status {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          width: 100%;
          & h3 {
            line-height: 2em;
            font-style: italic;
            font-weight: 800;
          }
        }
        & .header--info {
          @include prefixflex();
          justify-content: space-between;
          align-items: center;
          width: 100%;
          & .header__price {
            @include prefixflex();
            justify-content: flex-end;
            align-items: flex-end;
          }
        }
      }
      & .ordered__addresses {
        
      }
    }
  }
}
