@import "./navbar_web_logo_styles/navbarLogo";
@import "./navbar_web_options_styles/navbarOptions";
@import "./navbar_web_userActions_styles/navbarUserActions";
@import "./navbar_web_cart_styles/navbarCart";

.navbar-actionSection-upper {
  @include prefixflex();
  height: 4em;
  width: 83.5em;
  margin-bottom: 1em;
}
