service: nj2jp

package:
  exclude:

provider:
  name: aws
  runtime: nodejs6.10
  cfLogs: true
  timeout: 20
  stage: development
  region: ap-northeast-1
  iamRoleStatements:
    - Effect: Allow
      Resource: "*"
      Action:
        - ec2:CreateNetworkInterface
        - ec2:DescribeNetworkInterfaces
        - ec2:DetachNetworkInterface
        - ec2:DeleteNetworkInterface
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
  environment:
    SLS_ENV: ${file(./config.yml):slsEnv}
    MONGO_URI: ${file(./config.yml):mongoURI}

plugins:
  - serverless-webpack

custom:
  webpackIncludeModules: true # enable auto including node_modules
  graphiql:
    babelOptions:
      presets: [es2015, es2016, stage-0]
      plugins: [transform-runtime]

functions:
  graphql:
    handler: handler.graphql
    vpc:
      securityGroupIds:
        - ${file(./config.yml):securityGroupId}
      subnetIds:
        - ${file(./config.yml):subnetId}
    iamRoleStatements:
      - Effect: Allow
        Resource: "*"
        Action:
          - ec2:CreateNetworkInterface
          - ec2:DescribeNetworkInterfaces
          - ec2:DetachNetworkInterface
          - ec2:DeleteNetworkInterface
          - logs:CreateLogGroup
          - logs:CreateLogStream
          - logs:PutLogEvents
    events:
      - http:
          path: graphql
          method: post
          integration: lambda
          memorySize: 256
          timeout: 10
          cors: true
          response:
            headers:
              Access-Control-Allow-Origin: "'*'"
