.primary-button {
  height: 3.33em;
  width: 13.8em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.8em;
  font-weight: 200;
  border: none;
  background-color: $p-red;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}

.primary-flex-button {
  height: 3.33em;
  width: 13.8em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.8em;
  font-weight: 200;
  border: none;
  background-color: $p-red;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
  & .flex-btn-parent {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    & span:nth-child(1) {
      color: $p-white;
      font-size: 1.5em;
      margin-right: .5em;
    }
  }
}

.primary-flex-button-saving,
.primary-flex-button-saved {
  height: 3.33em;
  width: 13.8em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.8em;
  font-weight: 200;
  border: none;
  background-color: $p-blue;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
  & .flex-btn-parent {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    & span {
      color: $p-white;
      font-size: 1.5em;
    }
  }
}
@media only screen and (min-width : 641px) {
  .breadcrumbs {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6em;
    background-color: $p-white;
    border-bottom: 1px solid rgba(0,0,0,.15);
    & .breadcrumb--list {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 1em;
      & .list--home,
      .list--your-account,
      .list--active {
        & a {
          font-size: 1.8em;
          font-family: $p-font;
          font-weight: normal;
          color: $p-blue;
          text-shadow: 1px 1px 1px rgba(0,0,0,.25);
          &:hover,
          &:active,
          &:focus {
            color: $p-red;
            text-decoration: underline;
          }
        }
        & p {
          font-size: 1.8em;
          color: rgba(0,0,0,.5);
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
        & span {
          font-size: 18px;
          color: $p-blue;
          margin: 0 .5em -1em .5em;
          bottom: -1px;
          position: relative;
        }
      }
      & .list--your-account {
        min-width: 12em;
      }
    }
  }

  .user-dash__welcome-msg {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    height: 8em;
    width: 100%;
    h1 {
      font-size: 5em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
  .admin-dash__welcome-msg {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    height: 8em;
    width: 100%;
    h1 {
      font-size: 5em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
}

@media only screen and (max-width : 640px) {
  .breadcrumbs {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6em;
    background-color: $p-white;
    border-bottom: 1px solid rgba(0,0,0,.15);
    & .breadcrumb--list {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 1em;
      & .list--home,
      .list--your-account,
      .list--active {
        & a {
          font-size: 1.4em;
          font-family: $p-font;
          font-weight: normal;
          color: $p-blue;
          text-shadow: 1px 1px 1px rgba(0,0,0,.25);
          &:hover,
          &:active,
          &:focus {
            color: $p-red;
            text-decoration: underline;
          }
        }
        & p {
          font-size: 1.4em;
          color: rgba(0,0,0,.5);
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
        & span {
          font-size: 18px;
          color: $p-blue;
          margin: 0 .5em -1em .5em;
          bottom: -1px;
          position: relative;
        }
      }
    }
  }

  .user-dash__welcome-msg {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    height: 8em;
    width: 100%;
    h1 {
      font-size: 3em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
  .admin-dash__welcome-msg {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    height: 8em;
    width: 100%;
    h1 {
      font-size: 3em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
}


.small-btn {
  height: 1.87em;
  width: 4.37em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.6em;
  font-weight: 200;
  border: none;
  background-color: $p-red;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}
.small-edit-btn {
  height: 1.87em;
  width: 4.37em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.6em;
  font-weight: 200;
  border: none;
  background-color: $p-red;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}

.medium-size-btn {
  height: 2.5em;
  width: 10.93em;
  color: $p-white;
  font-family: $p-font;
  font-size: 1.6em;
  font-weight: 200;
  border: none;
  background-color: $p-red;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}
