// $main-logo: url('./images/nj2jp-main-logo.png');
$main-logo: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-main-logo-white.png');
$us-flag-icon: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/english-flag.png');
$jpn-flag-icon: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/japan_flag.png');
// $jpn-flag-icon: url("./images/nihongo-flag.png");
$logo-one-line: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_oneLine_2.png');
$homepg-juices-pano: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-splash-blackPano-web.png');
$confused-emoji: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_confused_emoji.png');

$world-heatmap: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/world_heatmap.png');

// navbar web images
$img-contact-us: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/navbar_web_media_contactUs.png');
$img-juice-reviews: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/navbar_web_media_juiceReviews.png');
$img-vape-news: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/navbar_web_media_vapeNews.png');
$img-user-stories: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/navbar_web_media_userStories.png');

// splash web images
$img-fastest: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-scanner.png');
$img-carousel-couple: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-couple.png');
$img-carousel-distro: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-distribution.png');
$img-carousel-warehouse: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-warehouse.png');
$img-carousel-flight: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-flight.png');
$img-carousel-truck: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-truck.png');
$img-carousel-delivery: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-homepage-carousel-delivery.png');

// navigation images
$fa-left-chevron-white: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/chevron-left-fontAwesome.png');
$fa-right-chevron-white: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/chevron-right-fontawesome.png');

// juice card images
$jc-fbb: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_juice_card_fbb.png');
$jc-pc: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_juice_card_pc.png');
$jc-fvm: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_juice_card_fvm.png');
$jc-klp: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp_juice_card_klp.png');

// general juice images - large
$pina-colada: url('https://s3-ap-northeast-1.amazonaws.com/nj2jp-react/nj2jp-fvm.jpg');
