// $main-logo: url('./images/nj2jp-main-logo.png');
$main-logo: url('/images/nj2jp-main-logo-white.png');
$us-flag-icon: url('/images/english-flag.png');
$jpn-flag-icon: url('/images/japan_flag.png');
// $jpn-flag-icon: url("./images/nihongo-flag.png");
$logo-one-line: url('/images/nj2jp_oneLine_2.png');
$homepg-juices-pano: url('/images/nj2jp-splash-blackPano-web.png');
$confused-emoji: url('/images/nj2jp_confused_emoji.png');

$world-heatmap: url('/images/world_heatmap.png');

// navbar web images
$img-contact-us: url('/images/navbar_web_media_contactUs.png');
$img-juice-reviews: url('/images/navbar_web_media_juiceReviews.png');
$img-vape-news: url('/images/navbar_web_media_vapeNews.png');
$img-user-stories: url('/images/navbar_web_media_userStories.png');

// splash web images
$img-fastest: url('/images/nj2jp-homepage-scanner.png');
$img-carousel-couple: url('/images/nj2jp-homepage-carousel-couple.png');
$img-carousel-distro: url('/images/nj2jp-homepage-carousel-distribution.png');
$img-carousel-warehouse: url('/images/nj2jp-homepage-carousel-warehouse.png');
$img-carousel-flight: url('/images/nj2jp-homepage-carousel-flight.png');
$img-carousel-truck: url('/images/nj2jp-homepage-carousel-truck.png');
$img-carousel-delivery: url('/images/nj2jp-homepage-carousel-delivery.png');

// navigation images
$fa-left-chevron-white: url('/images/chevron-left-fontAwesome.png');
$fa-right-chevron-white: url('/images/chevron-right-fontAwesome.png');

// juice card images
$jc-fbb: url('/images/nj2jp_juice_card_fbb.png');
$jc-pc: url('/images/nj2jp_juice_card_pc.png');
$jc-fvm: url('/images/nj2jp_juice_card_fvm.png');
$jc-klp: url('/images/nj2jp_juice_card_klp.png');

// general juice images - large
$pina-colada: url('/images/nj2jp-fvm.jpg');
