.shopping-cart-main {
  max-width: 1080px;
  width: 100%;
  // height: 111em;
  & .shopping-cart-breadcrumb-container {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6em;
    padding-right: 3em;
    background-color: $p-white;
    & .shopping-cart-breadcrumb-list {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 1em;
      & .shopping-cart-breadcrumb-path {
        font-size: 1.8em;
        font-family: $p-font;
        font-weight: normal;
        color: $p-blue;
        & .breadcrumb-chevron-right {
          font-size: 18px;
          color: $p-blue;
          margin: 0 .5em -1em .5em;
          bottom: -1px;
          position: relative;
        }
        & .breadcrumb-link {
          text-decoration: none;
        }
      }
    }
  }
  & .shopping-cart-main-title {
    @include prefixflex();
    align-items: flex-start;
    height: 8em;
    h1 {
      font-size: 5em;
      font-weight: 200;
      letter-spacing: 0.01em;
      color: $p-blue;
      @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
    }
  }
  & .shopping-cart-parent {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    & table.shopping-cart-table {
      width: 100%;
      & thead.shopping-cart-table-header-container {
        width: 100%;
        & tr.shopping-cart-table-header-titles {
          max-width: 108.6em;
          width: 100%;
          & .shopping-cart-table-header-juice,
          .shopping-cart-table-header-price,
          .shopping-cart-table-header-qty,
          .shopping-cart-table-header-total {
            & h3 {
              line-height: 2.25em;
            }
          }
          & .shopping-cart-table-header-juice {
            max-width: 38em;
            width: 38em;
          }
          & .shopping-cart-table-header-price {
            max-width: 20.5em;
            width: 20.5em;
          }
          & .shopping-cart-table-header-qty {
            max-width: 20.5em;
            width: 20.5em;
          }
          & .shopping-cart-table-header-total {
            max-width: 29em;
            width: 29em;
          }
        }
      }
      & .shopping-cart-table-body-container {
        max-width: 108.6px;
        width: 100%;
        & tr.shopping-cart-table-body-row {
          & td.shopping-cart-table-body-infobox,
          td.shopping-cart-table-body-price,
          td.shopping-cart-table-body-qty,
          td.shopping-cart-table-body-total {
            height: 28.5em;
          }
          & td.shopping-cart-table-body-infobox {
            width: 38em;
            .shopping-cart-table-body-infobox-flexparent {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              & .shopping-cart-table-body-infobox-img {
                overflow: hidden;
                img {
                  position: relative;
                  max-width: 7.2em;
                  top: 6em;
                }
              }
              & ul.shopping-cart-table-body-infobox-list {
                list-style-type: none;
                padding: 0;
                margin: 0;
                & .shopping-cart-table-body-infobox-title,
                 .shopping-cart-table-body-infobox-nicotine,
                 .shopping-cart-table-body-infobox-sku,
                 .shopping-cart-table-body-infobox-trash {
                  @include prefixflex();
                  justify-content: center;
                  align-items: center;
                  height: 4.5em;
                  width: 23em;
                  p {
                    color: $p-blue;
                    font-family: $p-font;
                    font-size: 1.8em;
                  }
                  button {
                    border: none;
                    background-color: $p-red;
                    color: $p-white;
                  }
                }
              }
            }
          }
          & td.shopping-cart-table-body-price {
            width: 20.5em;
          }
          & td.shopping-cart-table-body-qty {
            width: 20.5em;
          }
          & td.shopping-cart-table-body-total {
            width: 29em;
          }
        }
      }
    }
  }
}
