.navbar-actionSection-upper-actions-notSignedIn {
  @extend .flex-center;
  justify-content: flex-end;
  align-items: center;;
  margin: 0em;
  list-style-type: none;
  padding: 0em 1em 0em 3em;
  & .sign-in-title {
    @extend .flex-center;
    @extend .white-bg;
    @extend .ua-font-opts;
    width: 7.33em;
    height: 2em;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-blue;
      & a {
        color: $p-white;
      }
    }
    & .navbar-userActions-sign-in-title-link {
      color: $p-blue;
      text-decoration: none;
    }
  }
  & .register-title {
    @extend .flex-center;
    @extend .white-bg;
    @extend .ua-font-opts;
    width: 7.33em;
    height: 2em;
    margin-left: .66em;
    line-height: 1.33em;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-blue;
      & a {
        color: $p-white;
      }
    }
    & .navbar-userActions-register-title-link {
      color: $p-blue;
      text-decoration: none;
    }
  }
}
