.info-main-button {
  @extend .flex-center;
  height: 4em;
  width: 12em;
  background-color: $p-blue;
  & .info-main-button-title {
    background-color: $p-blue;
    font-size: 20px;
    font-family: $p-font;
    font-weight: 200;
    color: $p-white;
  }
}
