.navbar-actionSection-lower-media {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 12em;
  margin-right: 1em;
  background-color: $p-blue;
  box-shadow: 1px -2px 4px rgba(0,0,0,.5);
}
