.media {
  @extend .flex-center;
  height: 4em;
  width: 12em;
  margin-right: 1em;
  background-color: $p-blue;
  box-shadow: 1px -2px 4px rgba(0,0,0,.5);
  & .title {
    background-color: $p-blue;
    font-size: 20px;
    font-family: $p-font;
    font-weight: 200;
    color: $p-white;
  }
}
