&.navbar-actionSection-lower-shop {
  @extend .flex-center;
  height: 4em;
  width: 12em;
  margin-right: 1em;
  background-color: $p-blue;
  box-shadow: 1px -2px 4px rgba(0,0,0,.5);
  & .shop-main-button {
    display: inline-block;
    position: relative;
    &:hover,
    &:active,
    &:focus {
      z-index: 2;
      & .shop-dropdown-content {
        display: block;
      }
    }
    & .shop-main-button-title {
      background-color: $p-blue;
      font-size: 20px;
      font-family: $p-font;
      font-weight: 200;
      color: $p-white;
    }
  }
  & .shop-dropdown-content {
    display: none;
    width: 108em;
    height: 63em;
  }
}
&.media {
  @extend .flex-center;
  height: 4em;
  width: 12em;
  margin-right: 1em;
  background-color: $p-blue;
  box-shadow: 1px -2px 4px rgba(0,0,0,.5);
  & .title {
    background-color: $p-blue;
    font-size: 20px;
    font-family: $p-font;
    font-weight: 200;
    color: $p-white;
  }
}
&.info {
  @extend .flex-center;
  height: 4em;
  width: 12em;
  background-color: $p-blue;
  box-shadow: 1px -2px 4px rgba(0,0,0,.5);
  & .title {
    background-color: $p-blue;
    font-size: 20px;
    font-family: $p-font;
    font-weight: 200;
    color: $p-white;
  }
}
