.navbar-actionSection-lower-media {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 12em;
  margin-right: 1em;
  background-color: $p-blue;
  &:hover,
  &:active,
  &:focus {
    box-shadow: 1px -2px 4px rgba(0,0,0,.5);
    &:before {
      content: '';
      width: 100%;
      height: 20px;
      position: absolute;
      top: 40px;
      z-index: 50;
      left: 0;
      background-color: $p-blue;
    }
    & .media-dropdown-content {
      display: block;
    }
    & .media-main-button {
      font-size: 10px;
      background-color: inherit;
      z-index: 2;

    }
  }
  & .media-main-button {
    cursor: pointer;
    text-decoration: none;
  }
}
