.media-dropdown-content {
  display: block;
  height: 35em;
  width: 108em;
  background-color: pink;
  position: absolute;
  z-index: 1;
  top: 5em;
  margin-left: -37.5em;
  & .media-dropdown-content-parent {
    @extend .flex-center;
    flex-direction: column;
    & .media-dropdown-content-topThird {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 16.5em;
      width: 104em;
      background-color: blue;
      margin-top: 1.5em;
      & .media-dropdown-content-topThird-images {
        @extend .flex-center;
        height: 15em;
        width: 20em;
        background-color: red;
        box-shadow: 3px 5px 5px rgba(1,1,1,0.5);
        & .media-dropdown-content-topThird-images-src {
          max-width: 20em;
        }
      }
    }
    & .media-dropdown-content-midThird {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 8.5em;
      width: 104em;
      background-color: green;
    }
    & .media-dropdown-content-bottomThird {
      @extend .flex-center;
      height: 6.5em;
      width: 104em;
      background-color: orange;
    }
  }
}
