.shop-main-button {
  @extend .flex-center;
  padding: .8em 0;
  & .shop-main-button-title {
    background-color: $p-blue;
    font-size: 20px;
    font-family: $p-font;
    font-weight: 200;
    color: $p-white;
  }
}
