.empty-cart {
  display: block;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.hdr-container__hdr-text {
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.empty-cart__fa-cart-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-cart-container__fa-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 210px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Fontawesome, sans-serif;
  color: #365899;
  font-size: 180px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.blurb-container__blurb-content {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-size: 18px;
  text-align: center;
}

.empty-cart__lg-button {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lg-button__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container__lg-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 248.391px;
  height: 59.9375px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FC2525;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .5);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.container__lg-button:active {
  box-shadow: none;
}

.lg-button__alt {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #fc2525;
}

.lg-button__text {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.text__fa-text {
  font-family: Fontawesome, sans-serif;
  font-size: 18px;
}

.empty-cart__subheader {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-weight: 700;
  text-align: center;
}

html.w-mod-js *[data-ix="empty-cart-animation"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="empty-cart-slide-from-above"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

@media (max-width: 991px) {
  .hdr-container__hdr-text {
    font-size: 24px;
  }
  .fa-cart-container__fa-text {
    width: 150px;
    height: 150px;
    font-size: 100px;
  }
  .heading {
    font-size: 18px;
  }
  .blurb-container__blurb-content {
    font-size: 16px;
  }
  .container__lg-button {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 479px) {
  .hdr-container__hdr-text {
    line-height: 1.5em;
  }
  .empty-cart__blurb-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blurb-container__blurb-content {
    max-width: 220px;
  }
  .blurb-container__blurb-content.test.test2.test3 {
    font-size: 16px;
  }
}
