& .newsletter__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @import './userDashboard_sidebar_styles_web';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
      & .newsletter--container {
        & .newsletter__title {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          height: 7.5em;
          padding-left: 3em;
          border-bottom: 1px solid rgba(0,0,0,.15);
        }

        & .newsletter__user-input {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          margin-left: 3em;
          padding: 2em 2em 5em 2em;
          height: 10em;
          & .user-input__check-box {
            height: 3em;
            width: 3em;
            cursor: pointer;
            border: 1px solid rgba(0,0,0,.25);
            background-color: $p-white;
            cursor: pointer;
          }
          & p {
            margin-left: 1em;
            font-size: 1.8em;
          }
        }
        & .newsletter__action-section--container {
          @include prefixflex();
          justify-content: space-around;
          align-items: center;
          padding: 2em;
        }
      }
    }
  }
}
