.homepage-reviews {
  @extend .galaxy-flex-center;
  flex-direction: column;
  height: 33em;
  width: 100%;
  margin-top: 0;
  background-color: $p-grey;
  & h1.homepage-reviews-title {
    color: $p-red;
    line-height: 1em;
    margin: .6em;
  }
  & .homepage-reviews-carousel-parent {
    @extend .galaxy-flex-center;
    flex-direction: column;
    height: 22em;
    width: 100%;
    background-color: $p-blue;
    & .homepage-reviews-carousel-container {
      height: 21em;
      width: 34.6em;
      overflow: hidden;
      position: relative;
      & .homepage-reviews-carousel-slides {
        display: flex;
        position: absolute;
        background-color: $p-blue;
        transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
        & .homepage-reviews-carousel-alpha {
          @extend .galaxy-flex-center;
          flex-direction: column;
          height: 21em;
          width: 34.6em;
          & .homepage-reviews-carousel-alpha-review {
            @extend .galaxy-flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-alpha-review-body {
              width: 32em;
              display: flex;
              & .homepage-reviews-carousel-alpha-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 2.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-alpha-review-body-main {
                color: $p-white;
                font-family: $p-font;
                height: 6em;
                font-size: 2em;
                line-height: 1.6em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-alpha-author-body {
              display: flex;
              margin-top: 2em;
              & .homepage-reviews-carousel-alpha-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 3em;
                font-weight: 800;
                line-height: .8em;
                margin: 0;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-alpha-author-body-main {
                font-family: $p-font;
                font-size: 2em;
                color: $p-white;
                // height: 2.5em;
                line-height: 1.6em;
                margin: 0;
              }
            }
          }
        }
        & .homepage-reviews-carousel-beta {
          @extend .galaxy-flex-center;
          flex-direction: column;
          height: 21em;
          width: 34.6em;
          & .homepage-reviews-carousel-beta-review {
            @extend .galaxy-flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-beta-review-body {
              display: flex;
              & .homepage-reviews-carousel-beta-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 2.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-beta-review-body-main {
                color: $p-white;
                font-family: $p-font;
                height: 6em;
                font-size: 2em;
                line-height: 1.6em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-beta-author-body {
              display: flex;
              margin-top: 1em;
              & .homepage-reviews-carousel-beta-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 3em;
                font-weight: 800;
                line-height: .8em;
                margin: 0;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-beta-author-body-main {
                font-family: $p-font;
                font-size: 2em;
                color: $p-white;
                line-height: 1.6em;
                margin: 0;
              }
            }
          }
        }
        // & .homepage-reviews-carousel-beta {
        //   @extend .galaxy-flex-center;
        //   flex-direction: column;
        //   height: 21em;
        //   width: 34.6em;
        //   & .homepage-reviews-carousel-beta-review {
        //     @extend .galaxy-flex-center;
        //     flex-direction: column;
        //     & .homepage-reviews-carousel-beta-review-body {
        //       display: flex;
        //       & .homepage-reviews-carousel-beta-review-body-quotes {
        //         color: $p-red;
        //         font-family: "Arial Black", sans-serif;
        //         font-size: 2.5em;
        //         font-weight: 800;
        //         line-height: 1em;
        //       }
        //       & .homepage-reviews-carousel-beta-review-body-main {
        //         color: $p-white;
        //         font-family: $p-font;
        //         font-size: 2.5em;
        //         text-align: center;
        //       }
        //     }
        //     & .homepage-reviews-carousel-beta-author-body {
        //       display: flex;
        //       & .homepage-reviews-carousel-beta-author-body-dash {
        //         color: $p-red;
        //         font-family: "Arial Black", sans-serif;
        //         font-size: 4.5em;
        //         font-weight: 800;
        //         line-height: 1.11em;
        //         margin-top: .88em;
        //         padding-right: .5em;
        //       }
        //       & .homepage-reviews-carousel-beta-author-body-main {
        //         font-family: $p-font;
        //         font-size: 2.5em;
        //         color: $p-white;
        //         line-height: 2em;
        //         margin-top: 1.6em;
        //       }
        //     }
        //   }
        // }
        & .homepage-reviews-carousel-gamma {
          @extend .galaxy-flex-center;
          flex-direction: column;
          height: 21em;
          width: 34.6em;
          & .homepage-reviews-carousel-gamma-review {
            @extend .galaxy-flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-gamma-review-body {
              display: flex;
              & .homepage-reviews-carousel-gamma-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 2.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-gamma-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-gamma-author-body {
              display: flex;
              & .homepage-reviews-carousel-gamma-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-gamma-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
        & .homepage-reviews-carousel-delta {
          @extend .galaxy-flex-center;
          flex-direction: column;
          height: 21em;
          width: 34.6em;
          & .homepage-reviews-carousel-delta-review {
            @extend .galaxy-flex-center;
            flex-direction: column;
            & .homepage-reviews-carousel-delta-review-body {
              display: flex;
              & .homepage-reviews-carousel-delta-review-body-quotes {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 2.5em;
                font-weight: 800;
                line-height: 1em;
              }
              & .homepage-reviews-carousel-delta-review-body-main {
                color: $p-white;
                font-family: $p-font;
                font-size: 2.5em;
                text-align: center;
              }
            }
            & .homepage-reviews-carousel-delta-author-body {
              display: flex;
              & .homepage-reviews-carousel-delta-author-body-dash {
                color: $p-red;
                font-family: "Arial Black", sans-serif;
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1.11em;
                margin-top: .88em;
                padding-right: .5em;
              }
              & .homepage-reviews-carousel-delta-author-body-main {
                font-family: $p-font;
                font-size: 2.5em;
                color: $p-white;
                line-height: 2em;
                margin-top: 1.6em;
              }
            }
          }
        }
      }
    }
  }
  & .homepage-reviews-carousel-dots {
    height: 2.5em;
    width: 100%;
    margin-top: 1.5em;
    @extend .galaxy-flex-center;
    & .homepage-reviews-carousel-dots-list {
      @extend .galaxy-flex-center;
      padding-left: 0;
      margin-left: 0;
      list-style-type: none;
      & li {
        & .homepage-reviews-carousel-dots-list-each {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
          border: 1px solid $s-grey;
          background-color: $s-grey;
          margin-left: .7em;
          cursor: pointer;
          transition: background-color .3s ease-in-out;
          &:hover,
          &:active,
          &:focus {
            background-color: $p-red;
            outline: none;
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
