.homepage-header-innner-container {
  @extend .galaxy-flex-center;
  flex-direction: column;
  width: 26.5em;
  height: 7.5em;
  border: 2px solid $p-red;
  background-color: rgba(1,1,1, 0.5);
  & .homepage-header-inner-container-img-src {
    content: $logo-one-line;
    width: 11.5em;
  }
  & .hompage-header-title-1 {
    color: $p-white;
    font-size: 1.2em;
    line-height: 1.25em;
  }
  & .hompage-header-title-2 {
    color: $p-white;
    font-size: 1.5em;
    line-height: 1.25em;
  }
}
