@media only screen and (max-width : 640px) {
  @import './_homepage_mobile_header';
  @import './_homepage_mobile_fastest_delivery';
  @import './_homepage_mobile_how';
  @import './_homepage_mobile_reviews';
  @import './_homepage_mobile_popjuices';

  .homepage-flex-center {
    @include prefixflex();
    justify-content: center;
    align-items: center;
  }
  .homepage-flex-right {
    @include prefixflex();
    justify-content: flex-end;
    align-items: center;
  }
  .homepage-flex-left {
    @include prefixflex();
    justify-content: flex-start;
    align-items: center;
  }
  .homepage-flex-bottom {
    @include prefixflex();
    justify-content: center;
    align-items: flex-end;
  }
  .homepage-white-bg {
    background-color: $p-white;
  }
  .homepage-blue-bg {
    background-color: $p-blue;
  }

  .homepage {
    @extend .homepage-flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $p-white;
    & .homepage-header-img-src {
      @extend .homepage-flex-center;

      min-height: 30.5em;
      background-image: $homepg-juices-pano;;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}