.homepage-header-innner-container {
  @extend .ipp-flex-center;
  flex-direction: column;
  width: 27em;
  height: 20.8em;
  border: 2px solid $p-red;
  background-color: rgba(1,1,1, 0.5);
  & .homepage-header-inner-container-img-src {
    content: $logo-one-line;
    width: 20em;
  }
  & .hompage-header-title-1 {
    color: $p-white;
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    margin-top: 1em;
  }
  & .hompage-header-title-2 {
    color: $p-white;
    font-size: 2em;
    line-height: 1.25em;
    margin-top: 1em;
  }
}
