/* NOTE iPhone 6 & 7 Plus Homepage Styles */

@media only screen
and (min-device-width : 414px)
and (device-width : 414px) {
  h1 {
    font-size: 2.5em;
    font-family: $p-font;
    font-weight: 800;
    @include prefixed(font-smoothing, antialiased);
    color: $p-blue;
    line-height: 1em;
    letter-spacing: 0.028em;
    margin: 0;
  }
  h2 {
    font-size: 2em;
    font-family: $p-font;
    font-weight: 800;
    @include prefixed(font-smoothing, antialiased);
    color: $p-blue;
    line-height: 1em;
    letter-spacing: .033em;
    margin: 0;
  }
  h3 {
    font-size: 1.8em;
    font-family: $p-font;
    font-weight: 200;
    @include prefixed(font-smoothing, antialiased);
    color: $p-blue;
    line-height: 1em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
  }
  h4 {
    font-size: 1.6em;
    font-family: $p-font;
    font-weight: 800;
    text-align: center;
    @include prefixed(font-smoothing, antialiased);
    color: $p-blue;
    line-height: 1em;
    letter-spacing: .055em;
    margin: 0;
  }

  h5 {
    font-size: 1.2em;
    font-family: $p-font;
    font-weight: 200;
    text-align: center;
    @include prefixed(font-smoothing, antialiased);
    color: $p-white;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    margin: 0;
  }

  p {
    font-family: $p-font;
    font-size: 1em;
    color: $p-blue;
    line-height: 1.78em;
    margin: 0;
  }
  $gxy-header-img: url('https://s3-ap-southeast-2.amazonaws.com/nj2jp/_galaxy_header_image.png');
  @import './ipp_home_mobile_header';
  @import './ipp_home_mobile_fastest_delivery';
  @import './ipp_home_mobile_how';
  @import './ipp_home_mobile_reviews';
  @import './ipp_home_mobile_popjuices';

  .ipp-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ipp-flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .ipp-flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .ipp-flex-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .ipp-white-bg {
    background-color: $p-white;
  }
  .ipp-blue-bg {
    background-color: $p-blue;
  }

  .homepage {
    @extend .ipp-flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $p-white;
    & .homepage-header-img-src {
      @extend .ipp-flex-center;
      width: 100%;
      min-height: 47.5em;
      background-image: url(https://s3-ap-southeast-2.amazonaws.com/nj2jp/homepage_black_juice_pano.jpg);
      background-size: 262%;
      background-position-x: -332px;
      background-repeat: no-repeat;
    }
  }
}
