& .terms-conditions__body,
.privacy-policy__body,
.shipping-policy__body,
.return-policy__body,
.newsletter__body,
.nicotine__body,
.faqs__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  @import './userDashboard_sidebar_styles_mobile';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);

      & .legal__title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        height: 7.5em;
        padding-left: 3em;
        border-bottom: 1px solid rgba(0,0,0,.15);
      }
      & .legal__body {
        & .faq-question {
          border-bottom: 1px solid rgba(0,0,0,.15);
          & h3 {
            padding: 1em 1em 0 1em;
            font-weight: bold;
          }
          & p {
            padding-top: 1em;
            & a {
              color: $p-blue;
              text-decoration: underline;
            }
          }
        }
        & p {
          padding: 2em;
        }
      }
      & .user__agree {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        padding: 2em 0;
        & .user-input__check-box {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 3em;
          width: 3em;
          cursor: pointer;
          border: 1px solid rgba(0,0,0,.25);
          background-color: $p-white;
          cursor: pointer;
          & span {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            width: 100%;
            & span {
              font-size: 2.5em;
              transform: rotate(45deg);
              color: $p-blue;
            }
          }
        }
        & p {
          margin-left: 1em;
          font-size: 1.2em;
        }
      }
      & .legal__action-section--container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em;
        & div {
          margin-bottom: 2em;
        }
      }
    }
  }
}
