.vape-news__container {
  max-width: 1086px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vape-news__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-stories__container {
  width: 100%;
  max-width: 1080px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #c5c5c5;
}

.user-stories__container.user-stories__container--tablet.animation__top-three {
  position: relative;
  left: -80px;
}

.user-stories__container.user-stories__container--tablet.animation--first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-story-card__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .3);
}

.user-story-card__container.user-story-card--portrait {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .3);
}

.user-story-card__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 170px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}

.user-story-card__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  min-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-hdr__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-hdr {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.content-date__container {
  width: 100%;
}

.content-date {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-weight: 700;
  padding: 10px 15px;
}

.content-blurb {
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  text-indent: 15px;
}

.user-stories__action-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc2525;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
}

html.w-mod-js *[data-ix="user-story-fade-in"] {
  opacity: 0;
  -webkit-transform: translate(-80px, 0px);
  -ms-transform: translate(-80px, 0px);
  transform: translate(-80px, 0px);
}

html.w-mod-js *[data-ix="user-story-fade-in-2"] {
  opacity: 0;
  -webkit-transform: translate(-80px, 0px);
  -ms-transform: translate(-80px, 0px);
  transform: translate(-80px, 0px);
}

html.w-mod-js *[data-ix="user-story-fade-in-3"] {
  opacity: 0;
  -webkit-transform: translate(-80px, 0px);
  -ms-transform: translate(-80px, 0px);
  transform: translate(-80px, 0px);
}

@media (max-width: 991px) {
  .user-stories__container.user-stories__container--tablet {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .user-story-card__container.user-story-card__container--landscape {
    width: 100%;
    max-width: 460px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .user-story-card__image.user-story-card__image--landscape {
    width: 100%;
    height: 100%;
    max-height: 150px;
    max-width: 150px;
  }
  .image.image--landscape {
    width: 140px;
    height: 140px;
    max-height: 150px;
    max-width: 150px;
  }
  .content-hdr__container.content-hdr__container--portrait {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content-hdr.content-hdr--landscape {
    font-size: 18px;
  }
  .content-date.content-date--landscape {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
  }
}

@media (max-width: 479px) {
  .user-stories__container.user-stories__container--tablet.user-stories__container--portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .user-story-card__container.user-story-card--portrait {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .content-hdr__container.content-hdr__container--portrait {
    width: 100%;
    max-width: 310px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content-hdr.content-hdr--portrait {
    padding-left: 0px;
  }
  .content-date__container.content-date__container--portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 310px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content-blurb__container.content-blurb__container--portrait {
    width: 100%;
    max-width: 290px;
  }
  .content-blurb.content-blurb--portrait {
    display: block;
    width: 100%;
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
}
