.media-dropdown-content {
  display: none;
  height: 35em;
  width: 108em;
  background-color: #EEE;
  position: absolute;
  z-index: 1;
  top: 5em;
  margin-left: -37.5em;
  box-shadow: 3px 3px 3px rgba(1,1,1,.5);
  & .media-dropdown-content-parent {
    @extend .flex-center;
    flex-direction: column;
    & .media-dropdown-content-topThird {
      @include prefixflex();
      justify-content: space-around;
      align-items: center;
      // height: 16.5em;
      width: 104em;
      background-color: #EEE;
      padding-bottom: 1.5em;
      border-bottom: 1px solid rgba(1,1,1,.25);
      & .media-dropdown-content-topThird-images {
        @extend .flex-center;
        height: 16em;
        width: 20em;
        & .media-dropdown-content-topThird-images-contactUs {
          width: 100%;
          height: 16em;
          content: $img-contact-us;
        }
        & .media-dropdown-content-topThird-images-juiceReviews {
          width: 100%;
          height: 16em;
          content: $img-juice-reviews;
        }
        & .media-dropdown-content-topThird-images-vapeNews {
          width: 100%;
          height: 16em;
          content: $img-vape-news;
        }
        & .media-dropdown-content-topThird-images-userStories {
          width: 100%;
          height: 16em;
          content: $img-user-stories;
        }
      }
    }
    & .media-dropdown-content-midThird {
      @include prefixflex();
      justify-content: space-around;
      align-items: center;
      height: 8.5em;
      width: 104em;
      background-color: #EEE;
      & .media-dropdown-content-midThird-links {
        text-decoration: none;
        cursor: pointer;
        & .media-dropdown-content-midThird-title {
          @extend .flex-center;
          height: 5em;
          width: 20em;
          cursor: pointer;
          &:hover,
          &:focus,
          &:active {
            transition: .5s;
            & h4 {
              color: $p-white;
            }
            background-color: $p-blue;
          }
        }
      }
    }
    & .media-dropdown-content-bottomThird {
      @extend .flex-center;
      height: 6.5em;
      width: 104em;
      background-color: #EEE;
      & .media-dropdown-content-bottomThird-outterContainer {
        @extend .flex-center;
        height: 6.5em;
        width: 104em;
        & .media-dropdown-content-bottomThird-innerContainer {
          @include prefixflex();
          justify-content: space-around;
          align-items: flex-end;
          height: 100%;
          width: 40em;
          & #media-dropdown-facebook-icon{
            background-color: $p-blue;
          }
          & #media-dropdown-twitter-icon{
            background-color: #4990E2;
          }
          & #media-dropdown-youtube-icon{
            background-color: #CC181E;
          }
          & #media-dropdown-linkedin-icon{
            background-color: #0077B5;
          }
          & #media-dropdown-instagram-icon{
            background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
          }
          & .media-dropdown-content-bottomThird-innerContainer-smedia {
            @extend .flex-center;
            height: 5em;
            width: 5em;
            text-decoration: none;
            cursor: pointer;
            &:hover,
            &:focus,
            &:active {
              transition: .5s;
              box-shadow: 3px 3px 3px rgba(1,1,1,.25);
            }
            & .media-dropdown-content-bottomThird-innerContainer-smedia-icon {
              font-size: 3em;
              color: $p-white;
              &:hover,
              &:focus,
              &:active {
                transition: .5s;
                text-shadow: 3px 3px rgba(1,1,1,.25);
              }
            }
          }
        }
      }
    }
  }
}
