.address-book__body {
  @include prefixflex();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @import './userDashboard_sidebar_styles_mobile';
  & .body__dashboard {
    max-width: 80em;
    width: 100%;
    background-color: $s-white;
    & .dashboard--container {
      width: 100%;
      box-shadow: 3px 3px 3px rgba(0,0,0,.25);
      padding-bottom: 2.5em;
      & .dashboard--title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        padding-left: 3em;
        height: 7.5em;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      & .address__form--container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        width: 100%;
        & .address__left--container,
        .address__right--container {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          margin: 3em auto;
          width: 40%;
          height: 72em;
          & .options__shipping-address,
          .options__billing-address {
            @include prefixflex();
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            & label {
              color: $p-blue;
              font-family: $p-font;
              font-size: 1.6em;
              font-weight: 200;
              margin-bottom: .5em;
            }
            & .options__ddn--container {
              display: inline-block;
              position: relative;
              transition: all .3s linear;
              & .ddn__readout {
                @include prefixflex();
                justify-content: center;
                align-items: center;
                & input, button {
                  height: 2.22em;
                  width: 8.88em;
                  color: $p-blue;
                  font-size: 1.6em;
                  font-family: $p-font;
                  font-weight: 200;
                  padding: 0 0 0 .5em;
                  border: 1px solid rgba(0,0,0,.25);
                }
                & button {
                  @include prefixflex();
                  justify-content: center;
                  align-items: center;
                  border: 0;
                  height: 2.4em;
                  width: 2.4em;
                  background-color: $p-red;
                  cursor: pointer;
                  padding: 0;
                  & span {
                    line-height: 1em;
                    color: $p-white;
                    font-size: 1.5em;
                  }
                }
              }
              & .ddn__content {
                display: block;
                position: absolute;
                background-color: $p-white;
                box-shadow: 0 3px 4px rgba(0,0,0,.25);
                width: 100%;
                // height: 0;
                // opacity: 0;
                & .content--list {
                  @include prefixflex();
                  justify-content: center;
                  align-items: center;
                  list-style-type: none;
                  padding: 1.5em;
                  margin: 0;
                  & .list--option {
                    @include prefixflex();
                    justify-content: center;
                    align-items: center;
                    padding: .3em;
                    color: $p-blue;
                    font-size: 1.6em;
                    font-family: $p-font;
                    cursor: pointer;
                    width: 70%;
                    &:hover,
                    &:active,
                    &:focus {
                      color: $p-white;
                    }
                  }
                }
              }
            }
          }
          & .left--title,
          .right--title {
            margin: 4em auto .5em 0;
            align-self: flex-start;
            & h3 {
              font-size: 1.8em;
            }
          }
          & .left--title {
            width: 17.5em;
          }
          & .usa,
          .japan {
            @include prefixflex();
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            & .usa__country,
            .usa__street,
            .usa__state,
            .usa__city,
            .usa__zip,
            .japan__country,
            .japan__postal,
            .japan__prefecture,
            .japan__ward,
            .japan__city,
            .japan__street {
              @include prefixflex();
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              width: 100%;
              & label {
                margin: 1em auto .5em 0;
                color: $p-blue;
                font-size: 1.8em;
                font-family: $p-font;
                font-weight: 400;
              }
              & input {
                height: 2.5em;
                width: 90%;
                color: $p-blue;
                font-size: 1.6em;
                font-family: $p-font;
                font-weight: 200;
                padding: 0 0 0 .5em;
              }
              & .street__input-alpha {
                margin-bottom: .5em;
              }
            }
          }
        }
        & .address__left--container {
          margin-right: 1em;
          border-right: 1px solid rgba(0,0,0,.1);
        }
        & .address__right--container {
          margin-left: 1em;
        }
      }

      & .address__address-same--container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        & .address-same__input {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          & .input-btn {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            height: 3em;
            width: 3em;
            padding: 0;
            margin: 0;
            height: 3em;
            width: 3em;
            border: 1px solid rgba(0,0,0,.25);
            cursor: pointer;
            background-color: $p-white;
            &:focus {
              outline: none;
            }
            & span {
              position: relative;
              top: 1px;
              right: 1px;
              font-size: 2.5em;
              color: $s-blue;
              line-height: 1em;
              transform: rotate(45deg);
            }
          }
          & p {
            font-weight: 2em;
            font-weight: 200;
            margin: 1em 0 1em .5em;
          }
        }
      }

      & .address__action-section--container {
        @include prefixflex();
        justify-content: space-around;
        align-items: center;
        margin: 5em 0 0 0;
        & .action-section__back-btn {
          & button {

          }
        }
      }
    }
  }
}
