@media only screen and (min-width : 931px) {
  .nicotine-disclaimer__main {
    max-width: 1080px;
    width: 100%;
    margin-bottom: 10em;
    & .main__body {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 5em;
      padding: 1em;
      & p {
        text-indent: 1.5em;
        text-align: left;
        line-height: 2em;
      }
    }
  }
}
