@media only screen and (min-width : 641px) {
  .userdash--main {
    max-width: 1086px;
    width: 100%;
    & .userdash--container {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: .5em auto;
      & .userdash__breadcrumb {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 6em;
        padding-right: 3em;
        background-color: $p-white;
        & .breadcrumb--list {
          @include prefixflex();
          justify-content: flex-start;
          align-items: center;
          list-style-type: none;
          margin: 0;
          padding: 0 1em;
          & .list--home,
          .list--your-account,
          .list--active {
            & a {
              font-size: 1.8em;
              font-family: $p-font;
              font-weight: normal;
              color: $p-blue;
              text-shadow: 1px 1px 1px rgba(0,0,0,.25);
              &:hover,
              &:active,
              &:focus {
                color: $p-red;
                text-decoration: underline;
              }
            }
            & p {
              font-size: 1.8em;
              color: rgba(0,0,0,.5);
              &:hover,
              &:active,
              &:focus {
                text-decoration: none;
              }
            }
            & span {
              font-size: 18px;
              color: $p-blue;
              margin: 0 .5em -1em .5em;
              bottom: -1px;
              position: relative;
            }
          }
        }
      }
      & .userdash__title {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        height: 8em;
        width: 100%;
        h1 {
          font-size: 5em;
          font-weight: 200;
          letter-spacing: 0.01em;
          color: $p-blue;
          @include prefixed(text-shadow, 0 1px 1px rgba(0,0,0,.25));
        }
      }
      & .userdash__body {
        @include prefixflex();
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        background-color: $s-white;
        & .body__sidebar {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          width: 27.5em;
          background-color: $p-white;
          & .sidebar--container {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            box-shadow: 3px 3px 3px rgba(0,0,0,.25);
            & .sidebar__title {
              @include prefixflex();
              justify-content: flex-start;
              align-items: center;
              height: 7em;
              width: 24.5em;
              background-color: $p-blue;
              & h3 {
                color: $p-white;
                margin-left: 1em;
                font-weight: 200;
              }
            }
            & .sidebar__menu-list {
              @include prefixflex();
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              list-style-type: none;
              margin: 1.5em 0 0 0;
              padding: 0 0 0 1em;
            }
          }
        }
        & .body__dashboard {
          max-width: 80em;
          width: 100%;
          background-color: $p-white;
          & .dashboard--container {
            width: 100%;
            box-shadow: 3px 3px 3px rgba(0,0,0,.25);
          }
        }
      }
    }
  }


  @import './userDashboard_sidebar/userDashboard_sidebar_styles_web';
  @import './userDashboard_home/userDashboard_home_styles_web';
  @import './userDashboard_addressBook/userDashboard_addressBook_styles_web';
  @import './userDashboard_orders/userDashboard_orders_styles_web';
  @import './userDashboard_productReviews/userDashboard_productReviews_styles_web';
  @import './userDashboard_loginApp/userDashboard_loginApp_styles_web';
  @import './userDashboard_newsletter/userDashboard_newsletter_styles_web';
  @import './userDashboard_legal/userDashboard_legal_styles_web';
  @import './userDashboard_auth/userDashboard_auth_styles_web';
}
