.upper-actions__notSignedIn {
  @include prefixflex();
  justify-content: flex-end;
  align-items: center;
  margin: 0em;
  list-style-type: none;
  padding: 0em 1em 0em 3em;
  & .notSignedIn__sign-in--title {
    @extend .flex-center;
    @extend .white-bg;
    @extend .ua-font-opts;
    width: 5.33em;
    height: 2em;
    line-height: 1.33em;
    cursor: pointer;
    transition: all .8s ease-in-out;
    & .sign-in__link {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: $p-white;
      text-decoration: none;
    }
    &:after {
      content: '';
      display: inline-block;
      width: .1rem;
      height: 2rem;
      margin-bottom: -.3rem;
      margin-left: 4.5rem;
      position: absolute;
      background-color: rgba(255, 255, 255, .5);
    }
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-red;
      & a {
        color: $p-white;
      }
    }
    &:hover {
      transition: none;
    }
  }
  & .notSignedIn__register--title {
    @extend .flex-center;
    @extend .white-bg;
    @extend .ua-font-opts;
    width: 5.33em;
    height: 2em;
    margin-left: .66em;
    line-height: 1.33em;
    cursor: pointer;
    transition: all .8s ease-in-out;
    & .register__link {
      @include prefixflex();
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: $p-white;
      text-decoration: none;
    }
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-red;
      & a {
        color: $p-white;
      }
      &:hover {
        transition: none;
      }
    }
  }
}
