.navbar-actionSection-upper-options-language {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $p-blue;
  width: 11em;
  height: 4em;
  @extend .white-bg;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    transition: .5s;
    background-color: $p-blue;
    color: $p-white;
    & .language-dropdown-content {
      height: 2.9em;
      opacity: 1;
    }
  }
  & .language-main-button {
    @extend .flex-center;
    height: 4em;
    background-color: inherit;
    color: inherit;
    & .language-main-button-us {
      @extend .flex-center;
      width: 2.5em;
      height: 2.5em;
      margin: 0;
      & .language-main-button-us-flag {
        height: 1.3em;
        width: 2.6em;
        background-image: $us-flag-icon;
        background-size: cover;
        margin: 0;
      }
    }
    & .language-main-button-us-title {
      @extend .flex-center;
      width: 6.2em;
      height: 2.5em;
      font-size: 10px;
      margin: 0;
      background-color: transparent;
      color: inherit;
      font-family: $p-font;
      font-weight: 400;
    }
    & .language-main-button-us-chevron {
      @extend .flex-center;
      width: 1.1em;
      height: 2.5em;
      font-size: 15px;
      margin: 0;
      background-color: transparent;
      color: inherit;
      &.language-main-button-us-chevron-icon {
        width: 1em;
        height: 1em;
        color: inherit;
      }
    }
  }
  & .language-dropdown-content {
    display: block;
    position: absolute;
    height: 0em;
    width: 12em;
    background-color: $p-white;
    z-index: 1;
    padding: .8em .5em;
    opacity: 0;
    clear: both;
    overflow: hidden;
    @include prefixed(box-shadow, 1px 2px 5px rgba(0,0,0,.6));
    @include prefixed(transition, all .3s ease-in-out);
    & .language-dropdown-content-japanese {
      @extend .flex-center;
      height: 2.5em;
      width: 9em;
      text-decoration: none;
      margin: .2em 0 0 1.5em;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .language-dropdown-content-japanese-nihongo {
          color: $p-white;
        }
      }
      & .language-dropdown-content-japanese-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $jpn-flag-icon;
        background-size: cover;
      }
      & .language-dropdown-content-japanese-nihongo {
        font-size: 1.4em;
        padding-left: 1em;
        font-family: $s-font;
        color: $s-blue;
      }
    }
    & .language-dropdown-content-us {
      @extend .flex-center;
      height: 2.5em;
      width: 9em;
      text-decoration: none;
      margin: .2em 0 0 1.5em;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .language-dropdown-content-us-english {
          color: $p-white;
        }
      }
      & .language-dropdown-content-us-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $us-flag-icon;
        background-size: cover;
      }
      & .language-dropdown-content-us-english {
        font-size: 1.4em;
        padding-left: 1em;
        font-family: $s-font;
        color: $s-blue;
      }
    }
  }
}
