.homepage__reviews {
  @extend .homepage-flex-center;
  flex-direction: column;
  height: 33em;
  width: 100%;
  margin-top: 0;
  background-color: $p-grey;
  & .reviews__content--container {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    & .content__title {
      color: $p-red;
      line-height: 1em;
      margin: .6em;
    }
    & .content__carousel--parent {
      @extend .homepage-flex-center;
      flex-direction: column;
      height: 22em;
      width: 100%;
      background-color: $p-blue;
      & .carousel--container {
        width: 100%;
        max-width: 34.6em;
        overflow: hidden;
        position: relative;
        & .carousel__slides {
          display: flex;
          position: absolute;
          background-color: $p-blue;
          transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
          & .slides--slide {
            @extend .homepage-flex-center;
            flex-direction: column;
            height: 21em;
            & .slides--slide__review {
              @extend .homepage-flex-center;
              flex-direction: column;
              padding: 1em;
              & .review__body {
                width: 100%;
                display: flex;
                & .body__quotes {
                  color: $p-red;
                  font-family: "Arial Black", sans-serif;
                  font-size: 2.5em;
                  font-weight: 800;
                  line-height: 1em;
                }
                & .body__main {
                  color: $p-white;
                  font-family: $p-font;
                  height: 6em;
                  font-size: 1.5em;
                  line-height: 1.6em;
                  text-align: center;
                }
              }
              & .review__author {
                display: flex;
                margin-top: 2em;
                & .author__dash {
                  color: $p-red;
                  font-family: "Arial Black", sans-serif;
                  font-size: 2em;
                  font-weight: 800;
                  line-height: 1em;
                  margin: 0;
                  padding-right: .5em;
                }
                & .author__main {
                  font-family: $p-font;
                  font-size: 1.5em;
                  color: $p-white;
                  line-height: 1.6em;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
    & .homepage-reviews-carousel-dots {
      height: 2.5em;
      width: 100%;
      margin-top: 1.5em;
      @extend .homepage-flex-center;
      & .homepage-reviews-carousel-dots-list {
        @extend .homepage-flex-center;
        padding-left: 0;
        margin-left: 0;
        max-width: 10em;
        list-style-type: none;
        & li {
          @extend .homepage-flex-center;
          height: 2.5em;
          width: 100%;
          & .homepage-reviews-carousel-dots-list-each {
            height: 1.5em;
            width: 1.5em;
            border-radius: 50%;
            border: 1px solid $s-grey;
            background-color: $s-grey;
            margin-left: .7em;
            padding: 0;
            cursor: pointer;
            transition: background-color .3s ease-in-out;
            &:hover,
            &:active,
            &:focus {
              background-color: $p-red;
              outline: none;
            }
          }
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  & .reviews__navBob {
    display: none;
  }
}
