.homepage__fastest-delivery {
  @extend .homepage-flex-center;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  padding-bottom: .5em;
  background-color: $p-grey;
  & .fastest-delivery__content--container {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    & .content__title {
      color: $p-red;
      line-height: 1.5em;
      margin: .6em;
    }
    & .content__description-container {
      @extend .homepage-flex-center;
      flex-direction: column;
      width: 100%;
      margin: 0;
      & .content__description-image {
        content: $img-fastest;
        max-width: 30em;
        height: 20.8em;
        margin: 0;
        @include prefixed(box-shadow, 3px 3px 3px rgba(1,1,1,.25));
      }
      & .content__message-container {
        @extend .homepage-flex-center;
        flex-direction: column;
        width: 29em;
        padding: 1em 0 1em 0;
        margin-top: 1em;
        background-color: $p-white;
        @include prefixed(box-shadow, 3px 3px 3px rgba(1,1,1,.25));
        & .message_container__title {
          color: $p-red;
          font-size: 18px;
          line-height: 1.38em;
          font-weight: bold;
        }
        & .message-contianer__body {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          height: 17em;
          width: 27em;
          margin-top: 2em;
          flex-direction: column;
          & p {
            font-size: 1.2em;
            line-height: 1.27em;
          }
        }
        & .message-container__btn--buy {
          width: 16.6em;
          height: 2.66em;
          color: $p-white;
          font-size: 1.6em;
          font-family: $p-font;
          font-weight: 400;
          letter-spacing: .02em;
          background-color: $p-red;
          border: none;
          cursor: pointer;
          margin: 0;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
      }
    }
  }
  & .fastest-delivery__navBob {
    display: none;
  }
}
