.homepage__how {
  @extend .homepage-flex-center;
  flex-direction: column;
  width: 100%;
  height: 40em;
  margin: 0 auto;
  & .how__content--container {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .content__title {
      color: $p-red;
      line-height: 1.5em;
      margin: 1em;
    }
    & .content__carousel--container {
      width: 100%;
      max-width: 34.6em;
      background-color: $p-white;
      overflow: hidden;
      position: relative;
      & .carousel__slides {
        display: flex;
        position: absolute;
        transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
        & .carousel__slides--slide__couple,
        .carousel__slides--slide__distro,
        .carousel__slides--slide__warehouse,
        .carousel__slides--slide__flight,
        .carousel__slides--slide__truck,
        .carousel__slides--slide__delivery {
          & .couple__image,
          & .distro__image,
          & .warehouse__image,
          & .flight__image,
          & .truck__image,
          & .delivery__image {
            @extend .homepage-flex-bottom;
            height: 25em;
            max-width: 34.6em;
            background-image: $img-carousel-couple;
            background-size: contain;
            background-repeat: no-repeat;
            & .couple__description--container,
            & .distro__description--container,
            & .warehouse__description--container,
            & .flight__description--container,
            & .truck__description--container,
            & .delivery__description--container {
              @extend .homepage-flex-center;
              height: 6.5em;
              width: 34.6em;
              background-color: $p-blue;
              margin-bottom: 0;
              & p {
                padding: .5em;
                max-width: 30em;
                text-align: center;
                color: $p-white;
                font-size: 10px;
                font-weight: 400;
                line-height: 2em;
              }
            }
            & .delivery__description--container {
              height: 9em;
              padding-bottom: 1em;
              & .delivery__btn--buy {
                @extend .homepage-flex-center;
                width: 10.66em;
                height: 2.66em;
                color: $p-white;
                font-size: 1.5em;
                font-family: $p-font;
                font-weight: bold;
                letter-spacing: .02em;
                background-color: $p-red;
                z-index: 1;
                margin-top: 0;
                cursor: pointer;
                text-decoration: none;
                @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
              }
            }
          }
          & .distro__image {
            background-image: $img-carousel-distro;
          }
          & .warehouse__image {
            background-image: $img-carousel-warehouse;
          }
          & .flight__image {
            background-image: $img-carousel-flight;
          }
          & .truck__image {
            background-image: $img-carousel-truck;
          }
          & .delivery__image {
            background-image: $img-carousel-delivery;
          }
        }
      }
      & .homepage-how-carousel-left-arrow,
      .homepage-how-carousel-right-arrow {
        color: $p-white;
        &:hover,
        &:active,
        &:focus {
          &:after {
            opacity: 1;
          }
        }
        &:after, {
          @extend .homepage-flex-center;
          content: $fa-right-chevron-white;
          background-size: content;
          position: absolute;
          top: 20%;
          right: .7em;
          height: 6em;
          width: 3em;
          opacity: 0.45;
          transition: opacity .3s linear;
          cursor: pointer;
        }
      }
      & .homepage-how-carousel-right-arrow:after {
        animation: pulse 3s ease-in-out infinite;
      }
      & .homepage-how-carousel-left-arrow {
        color: $p-white;
        &:after {
          @extend .homepage-flex-center;
          content: $fa-left-chevron-white;
          left: .7em;
        }
      }
    }

  }
  & .how__navBob {
    display: none;
  }
}
