.homepage-juices {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $p-white;
  & .homepage-juices-title {
    color: $p-red;
    line-height: 2.28em;
    margin: .8em;
  }
  & .homepage-juices-grid-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0 6em;
    padding: 0;
    background-color: $p-white;
    & .homepage-juices-grid-card-parent {
      @extend .flex-center;
      flex-direction: column;
      height: 45em;
      width: 25em;
      margin: 2.5em;
      background-color: $p-white;
      @include prefixed(box-shadow, 5px 5px 4px rgba(1,1,1,.25));
      & .homepage-juices-grid-card-image {
        content: '';
        width: 25em;
        height: 25em;
        background-color: black;
      }
      & .homepage-juices-grid-card-desc-parent {
        height: 17em;
        width: 24em;
        padding: .5em;
        background-color: $p-white;
        & .homepage-juices-grid-card-desc-title {
          @extend .flex-center;
          width: 11.3;
          color: #9012FE;
          line-height: 2.4em;
        }
        & .homepage-juices-grid-card-desc-price {
          @extend .flex-center;
          height: 3.5em;
          & .homepage-juices-grid-card-desc-price-title {
            @extend .flex-center;
            height: 1.16em;
            color: $p-red;
            font-size: 3em;
            line-height: 1.33em;
          }
          & .homepage-juices-grid-card-desc-price-tax {
            font-size: 11px;
            font-family: $p-font;
            padding-top: 15px;
            color: $s-grey;
            text-transform: capitalize;
          }
        }
        & .homepage-juices-grid-card-desc-shipping {
          @extend .flex-center;
          height: 2.5em;
          width: 24em;
          & p {
            color: $p-red;
            font-size: 1.3em;
          }
        }
        & .homepage-juices-grid-card-desc-nicotine-title {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 1.5em;
          width: 12em;
          font-family: $p-font;
          font-size: 2em;
          color: $s-grey;
        }
        & .homepage-juices-grid-card-desc-nicotine-options {
          height: 4em;
          width: 23em;
          & .homepage-juices-grid-card-desc-nicotine-options-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5em 0 0 .5em;
            margin: 0;
            list-style-type: none;
            & .homepage-juices-grid-card-desc-nicotine-options-2mg,
            .homepage-juices-grid-card-desc-nicotine-options-4mg,
            .homepage-juices-grid-card-desc-nicotine-options-6mg,
            .homepage-juices-grid-card-desc-nicotine-options-8mg {
              border-right: 1px solid rgba(1,1,1,.2);
              padding: 0 10px;
              font-size: 2em;
              font-family: $p-font;
              color: $s-grey;
            }
            & .homepage-juices-grid-card-desc-nicotine-options-8mg {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}
