.homepage-fastest-delivery {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  background-color: $p-grey;
  & .fastest-delivery__content--container {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    & h1.homepage-fastest-delivery-title {
      color: $p-red;
      line-height: 1.5em;
      margin: .8em;
    }
    & .homepage-fastest-delivery-description-container {
      @extend .flex-center;
      height: 31em;
      width: 100%;
      & .homepage-fastest-delivery-description-image {
        content: $img-fastest;
        width: 46em;
        height: 30.5em;
        margin: 1.1em;
      }
      & .homepage-fastest-delivery-description-message-container {
        @extend .flex-center;
        flex-direction: column;
        width: 43em;
        height: 27.5em;
        margin-top: 1em;
        padding: 1.5em;
        background-color: $p-white;
        @include prefixed(box-shadow, 3px 3px 3px rgba(1,1,1,.25));
        & h3 {
          color: $p-red;
          font-size: 22px;
          line-height: 2.045em;
          font-weight: bold;
        }
        & .homepage-fastest-delivery-description-message-body {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          height: 23.3em;
          width: 42.6em;
          flex-direction: column;
          & p {
            font-size: 1.6em;
            line-height: 1.27em;
          }
        }
        & .homepage-fastest-delivery-description-message-buy-btn {
          display: block;
          width: 7.33em;
          height: 2.66em;
          color: $p-white;
          font-size: 1.6em;
          font-family: $p-font;
          font-weight: 400;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          margin-top: -30px;
          margin-right: -320px;
          border: none;
          cursor: pointer;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
      }
    }
  }
  & .fastest-delivery__navBob {
    @include prefixflex();
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    @extend .navBob
  }
}
