.faq-body {
  display: block;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.hdr-container__hdr-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #365899;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.faq-body__content-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-container__faq-content {
  padding: 20px 10px;
}

.answer-container__blurb-text {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-size: 16px;
}

.question-container__blurb-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #365899;
  font-weight: 600;
}

.blurb-text__link {
  color: #365899;
}

.blurb-text__link:hover {
  text-decoration: underline;
}

html.w-mod-js *[data-ix="hdr-slide-from-top"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="slide-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-150px, 0px);
  -ms-transform: translate(-150px, 0px);
  transform: translate(-150px, 0px);
}

html.w-mod-js *[data-ix="hdr-slide-from-right"] {
  opacity: 0;
  -webkit-transform: translate(150px, 0px);
  -ms-transform: translate(150px, 0px);
  transform: translate(150px, 0px);
}

@media (max-width: 991px) {
  .hdr-container__hdr-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content-container__faq-content {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}