.actions__signedIn--list {
  @extend .mobile-flex-center;
  justify-content: flex-end;
  align-items: center;;
  margin: 0em;
  list-style-type: none;
  padding: 0em 0em 0em 0em;
  & .list--myAccount,
  .list--checkout,
  .list--signOut {
    @extend .mobile-flex-center;
    background-color: $p-grey;
    font-family: $p-font;
    font-weight: 200;
    font-size: 1.5em;
    color: $p-blue;
    width: 6.33em;
    height: 2em;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-blue;
      & a {
        color: $p-white;
      }
    }
    & .myAccount__link {
      color: $p-blue;
      text-decoration: none;
    }
  }
  & .navbar-mobile-actions-signedIn-checkout-title {
    @extend .mobile-flex-center;
    background-color: $p-grey;
    font-family: $p-font;
    font-weight: 200;
    font-size: 1.5em;
    color: $p-blue;
    width: 6.33em;
    height: 2em;
    margin-left: .66em;
    line-height: 1.33em;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-blue;
      & a {
        color: $p-white;
      }
    }
    & .navbar-mobile-actions-signedIn-checkout-title-link {
      color: $p-blue;
      text-decoration: none;
    }
  }
  & .navbar-mobile-actions-signedIn-signOut-title {
    @extend .mobile-flex-center;
    background-color: $p-grey;
    font-family: $p-font;
    font-weight: 200;
    font-size: 1.5em;
    color: $p-blue;
    width: 6.33em;
    height: 2em;
    margin-left: .66em;
    line-height: 1.33em;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      transition: .5s;
      background-color: $p-blue;
      & a {
        color: $p-white;
      }
    }
    & .navbar-mobile-actions-signedIn-signOut-title-button {
      font-size: 15px;
      font-weight: 200;
      font-family: $p-font;
      color: $p-blue;
      border: none;
      background-color: $p-grey;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
        color: $p-white;
      }
    }
  }
}
