.actions__signedIn--list {
  @extend .mobile-flex-center;
  justify-content: flex-end;
  align-items: center;;
  margin: 0em;
  list-style-type: none;
  padding: 0em 0em 0em 0em;
  & .list--checkout,
  .list--signOut {
    @extend .mobile-flex-center;
    background-color: $p-blue;
    font-family: $p-font;
    font-weight: 200;
    font-size: 1.5em;
    color: $p-white;
    width: 5em;
    height: 2em;
    cursor: pointer;
    &:hover,
    &:focus {
      transition: .5s;
      background-color: $p-red;
    }
    & .checkout__link,
    .signOut__button {
      color: $p-white;
      text-decoration: none;
      border: none;
      padding: none;
    }
    &:after {
      content: '';
      display: inline-block;
      width: .1rem;
      height: 2rem;
      margin-bottom: -.3rem;
      margin-left: 4.5rem;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  & .list--checkout {
    margin-left: 1em;
  }
  & .list--myAccount {
    @extend .mobile-flex-center;
    background-color: $p-blue;
    margin-left: 1.5em;
    & .myAccount__link {
      text-decoration: none;
      & img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        transition: all .3s ease-in-out;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }
        &:active {
          box-shadow: none;
        }
      }
    }
  }
  // & .navbar-mobile-actions-signedIn-checkout-title {
  //   @extend .mobile-flex-center;
  //   background-color: $p-grey;
  //   font-family: $p-font;
  //   font-weight: 200;
  //   font-size: 1.5em;
  //   color: $p-blue;
  //   width: 6.33em;
  //   height: 2em;
  //   margin-left: .66em;
  //   line-height: 1.33em;
  //   cursor: pointer;
  //   &:hover,
  //   &:active,
  //   &:focus {
  //     transition: .5s;
  //     background-color: $p-blue;
  //     & a {
  //       color: $p-white;
  //     }
  //   }
  //   & .navbar-mobile-actions-signedIn-checkout-title-link {
  //     color: $p-blue;
  //     text-decoration: none;
  //   }
  // }
  // & .navbar-mobile-actions-signedIn-signOut-title {
  //   @extend .mobile-flex-center;
  //   background-color: $p-grey;
  //   font-family: $p-font;
  //   font-weight: 200;
  //   font-size: 1.5em;
  //   color: $p-blue;
  //   width: 6.33em;
  //   height: 2em;
  //   margin-left: .66em;
  //   line-height: 1.33em;
  //   cursor: pointer;
  //   &:hover,
  //   &:active,
  //   &:focus {
  //     transition: .5s;
  //     background-color: $p-blue;
  //     & a {
  //       color: $p-white;
  //     }
  //   }
  //   & .navbar-mobile-actions-signedIn-signOut-title-button {
  //     font-size: 15px;
  //     font-weight: 200;
  //     font-family: $p-font;
  //     color: $p-blue;
  //     border: none;
  //     background-color: $p-grey;
  //     text-decoration: none;
  //     &:hover,
  //     &:active,
  //     &:focus {
  //       outline: none;
  //       background-color: transparent;
  //       color: $p-white;
  //     }
  //   }
  // }
}
