.navbar.logoContainer {
  max-width: 22em;
  height: 10em;
  padding-right: 2.5em;
}
.navbar.navbar-logo {
  height: 10em;
  width: 22em;
  max-width: 22em;
  background-image: $main-logo;
  background-size: cover;
}
