@media only screen and (min-width: 1079px) {
  .register--main {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    max-width: 1086px;
    width: 100%;
    & .register--container {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 78em;
      width: 64.5em;
      margin: 8em auto 5em auto;
      padding-bottom: 2em;
      background-color: $s-white;
      & .register__title {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        height: 6.5em;
        width: 31.5em;
        margin-top: 2.5em;
        & h1 {
          font-weight: 200;
        }
      }
      & .register__status-msg {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        & .success--icon,
        .error--icon {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 4.5em;
          width: 4.5em;
          background-color: $p-green;
          & span {
            font-size: 3.5em;
            color: $p-white;
          }
        }
        & .error--icon {
          background-color: $p-red;
          & .fa-error-icon {
            @include prefixed(transform, rotate(45deg));
          }
        }
        & .error--msg {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          padding: 1em;
          & .pwds-do-not-match,
          .missing-req-field,
          .duplicate-login-info,
          .register-success-email,
          .register-success-social {
            color: $p-red;
            text-align: center;
            font-weight: 200;
          }
          & .register-success-email,
          .register-success-social {
            color: $s-green;
          }
        }
      }
      & .register__social-container {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 18em;
        padding: 1em;
        & .social--title {
          & p {
            font-weight: 200;
          }
        }
        & .social--btns {
          & ul {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 1em 0 0 0;
            margin: 0;
            & .list--option:nth-child(1) {
              margin: 0;
            }
            & .list--option {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 8em;
              width: 8em;
              background-color: $p-blue;
              transition: all .3s ease-in-out;
              cursor: pointer;
              margin-left: .5em;
              &:hover,
              &:active,
              &:focus {
                background-color: $p-red;
              }
              & span {
                color: $p-white;
                font-size: 4.5em;
              }
            }
          }
        }
      }
      & .register__email--container {
        & .email--title {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          flex-direction: column;
          & ul {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & .left-break,
            .right-break {
              width: 11.5em;
              border-bottom: 1px solid rgba(0,0,0,.25);
            }
            & .or {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              height: 4em;
              width: 7em;
              & p {
                text-transform: uppercase;
              }
            }
          }
        }
        & .email__inputs--container {
          & form {
            @include prefixflex();
            justify-content: center;
            align-items: center;
            max-width: 60em;
            flex-wrap: wrap;
            & .inputs--personal-info,
            .inputer--login-info {
              @include prefixflex();
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 30em;
              & .input__first-name,
              .input__lastname,
              .input__email,
              .input__password,
              .input__confirm-pwd {
                @include prefixflex();
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                & h3 {
                  margin: 1em auto 1em auto;
                }
                & label {
                  color: $p-blue;
                  font-family: $p-font;
                  font-weigth: 200;
                  font-size: 1.4em;
                  margin-top: 1em;
                }
                & input {
                  color: $p-blue;
                  font-size: 1.2em;
                  font-family: $p-font;
                  font-weight: 200;
                  max-width: 23.3em;
                  height: 2.9em;
                  width: 100%;
                  padding-left: .7em;
                }
              }
            }
          }
        }
      }
    }
  }
}
