@media only screen and (min-width : 641px) {
  .admindashboard__small-title {
    @include prefixflex();
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 16.5em;
    margin: 1em;
    background-color: $p-blue;
    h3 {
      color: $p-white;
    }
  }
  // @import './adminDash_web_styles/userDashboard_sidebar_styles_web';
  .admindash--main {
    max-width: 1086px;
    width: 100%;
    & .admindash--container {
      @include prefixflex();
      justify-content: center;
      flex-direction: column;
      width: 100%;
      // @import './adminDash_web_styles/userDashboard_home_styles_web';
      // @import './adminDash_web_styles/userDashboard_addressBook_styles_web';
      // @import './adminDash_web_styles/userDashboard_orders_styles_web';
      // @import './adminDash_web_styles/userDashboard_productReviews_styles_web';
      // @import './adminDash_web_styles/userDashboard_loginApp_styles_web';
      // @import './adminDash_web_styles/userDashboard_newsletter_styles_web';
      // @import './adminDash_web_styles/userDashboard_legal_styles_web';
      // @import './adminDash_web_styles/userDashboard_manageLogin_styles_web';
    }
  }
}
