.navbar-mobile-nav-dropdown-content {
  display: block;
  z-index: 1;
  position: absolute;
  height: 16.5em;
  width: 40em;
  @extend .ipp-white-bg;
  @extend .ipp-flex-center;
  flex-direction: column;
  & .navbar-mobile-nav-dropdown-shop {
    @extend .ipp-flex-center;
    height: 4.5em;
    width: 35.5em;
    @extend .ipp-white-bg;
    & .navbar-mobile-nav-dropdown-shop-hover-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.5em;
      width: 34.5em;
      &:hover {
        transition: 0.5s;
        background-color: $p-blue;
        & .navbar-mobile-nav-dropdown-shop-title {
          color: $p-white;
        }
      }
      &:active,
      &:focus {
        & > .navbar-mobile-nav-dropdown-shop-expand-icon-minus {
          display: block;
          color: $p-white;
        }
      }
      & .navbar-mobile-nav-dropdown-shop-title {
        text-transform: uppercase;
        justify-content: flex-start;
        width: 50%;
        padding: .25em 0 .25em .25em;
        color: $p-blue;
      }
      & .navbar-mobile-nav-dropdown-shop-expand-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        & .navbar-mobile-nav-dropdown-shop-expand-icon {
          @extend .ipp-flex-center;
          height: 2.5em;
          width: 2.5em;
          margin-right: .5em;
          background-color: transparent;
          & .navbar-mobile-nav-dropdown-shop-expand-icon-plus-fa {
            font-size: 2em;
            line-height: 2em;
            color: $p-blue;
          }
          & .navbar-mobile-nav-dropdown-shop-expand-icon-minus-fa {
            font-size: 2em;
            line-height: 2em;
            color: $p-white;
          }
        }
      }
    }
  }
  & .navbar-mobile-nav-dropdown-media {
    @extend .ipp-flex-center;
    height: 4.5em;
    width: 35.5em;
    background-color: blue;
    & .navbar-mobile-nav-dropdown-media-hover-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.5em;
      width: 34.5em;
      &:hover,
      &:active,
      &:focus {
        transition: 0.5s;
        background-color: $p-blue;
      }
      & .navbar-mobile-nav-dropdown-media-title {
        text-transform: uppercase;
        justify-content: flex-start;
        width: 50%;
        padding: .25em 0 .25em .25em;
        color: $p-white;
      }
      & .navbar-mobile-nav-dropdown-media-expand-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        & .navbar-mobile-nav-dropdown-media-expand-icon {
          @extend .ipp-flex-center;
          height: 2.5em;
          width: 2.5em;
          margin-right: .5em;
          background-color: red;
          & .navbar-mobile-nav-dropdown-media-expand-icon-fa {
            font-size: 2em;
            line-height: 2em;
            color: $p-white;
          }
        }
      }
    }
  }
  & .navbar-mobile-nav-dropdown-info {
    @extend .ipp-flex-center;
    height: 4.5em;
    width: 35.5em;
    background-color: blue;
    & .navbar-mobile-nav-dropdown-info-hover-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.5em;
      width: 34.5em;
      &:hover,
      &:active,
      &:focus {
        transition: 0.5s;
        background-color: $p-blue;
      }
      & .navbar-mobile-nav-dropdown-info-title {
        text-transform: uppercase;
        justify-content: flex-start;
        width: 50%;
        padding: .25em 0 .25em .25em;
        color: $p-white;
      }
      & .navbar-mobile-nav-dropdown-info-expand-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        & .navbar-mobile-nav-dropdown-info-expand-icon {
          @extend .ipp-flex-center;
          height: 2.5em;
          width: 2.5em;
          margin-right: .5em;
          background-color: red;
          & .navbar-mobile-nav-dropdown-info-expand-icon-fa {
            font-size: 2em;
            line-height: 2em;
            color: $p-white;
          }
        }
      }
    }
  }
}
