@media only screen and (min-width: 641px) {
  .ordered--main {
    max-width: 1086px;
    width: 100%;
    @include prefixflex();
    justify-content: center;
    align-items: center;
    & .ordered--container {
      @include prefixflex();
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10em;
      & .ordered__title {
        @include prefixflex();
        justify-content: center;
        align-items: center;
        padding: 1em;
        & .title--icon {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          height: 10em;
          width: 10em;
          background-color: $p-green;
          padding: 1em;
          & span {
            color: $p-white;
            font-size: 10em;
          }
        }
        & .title--msg {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 2em;
          & h1, h4 {
            color: $s-green;
          }
          & h4 {
            margin-top: 2em;
            line-height: 2em;
          }
        }
      }
      & .ordered__header {
        @include prefixflex();
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 3em auto;
        & .loading-content {
          @include prefixflex();
          & h1 {
            text-align: center;
          }
        }
        & .header--date {
          @include prefixflex();
          justify-content: space-between;
          align-items: center;
          width: 100%;
          & p {
            padding: 1em;
          }
        }
        & .header--status {
          @include prefixflex();
          justify-content: center;
          align-items: center;
          width: 100%;
          & h3 {
            line-height: 2em;
            font-style: italic;
            font-weight: 800;
          }
        }
        & .header--info {
          @include prefixflex();
          justify-content: space-between;
          align-items: center;
          width: 100%;
          & div {
            padding: 1em;
          }
          & .header__price {
            @include prefixflex();
            justify-content: flex-end;
            align-items: flex-end;
            & p {
              font-size: 1.8em;
            }
          }
        }
      }
      & .ordered__addresses {
        @include prefixflex();
        justify-content: space-around;
        align-items: center;
        width: 100%;
        & .addresses--shipto,
        .addresses--billto {
          max-width: 35em;
          width: 100%;
          & fieldset {
            height: 22em;
            padding: 1em;
            border: solid;
            border-color: $p-blue;
            & legend {
              padding: 0em .5em;
              & p {
                font-size: 2em;
                font-weight: 400;
              }
            }
            & div {
              & p {
                font-weight: 200;
              }
            }
            & .shipto__name,
            .billto__name,
            .shipto__city-prefecture,
            .billto__city-prefecture,
            .shipto__telephone,
            .billto__telephone {
              @include prefixflex();
              justify-content: flex-start;
              align-items: flex-start;
            }
          }
        }
      }
      & .ordered__order-summary {
        width: 100%;
        margin-bottom: 10em;
        & fieldset {
          border-color: $p-blue;
          border: solid;
          padding: 1em;
          & legend {
            padding: 0em .5em;
            & p {
              font-size: 2em;
              font-weight: 400;
            }
          }
          & .order-summary__table {
            border-collapse: collapse;
            width: 100%;
            & .table--thead {
              & tr {
                border-bottom: 1px solid rgba(0,0,0,.15);
                & th {
                  & p {
                    font-size: 1.6em;
                    font-weight: 200;
                  }
                }
              }
            }
            & .table--body {
              & .body--shipping-status-row {
                height: 4em;
                background-color: $s-white;
                & td {
                  width: 70%;
                  text-align: center;
                }
                & p {
                  font-weight: 200;
                  & .tracking-id {
                    font-weight: 200;
                    color: $p-red;
                    &:hover,
                    &:focus,
                    &:active {
                      text-decoration: underline;
                    }
                  }
                }
              }
              & .body--product-row {
                text-align: center;
                height: 10em;
                border-bottom: 1px solid rgba(0,0,0,.1);
                & td {
                  text-align: center;
                  & p {
                    font-weight: 200;
                  }
                  & .product-row__list {
                    margin: 0;
                    list-style-type: none;
                    & .list--nic-strength {
                      p {
                        font-style: italic;
                        font-size: 1.2em;
                        font-weight: 200;
                      }
                    }
                    & .list--sku {
                      & p {
                        font-size: 1em;
                        font-weight: 200;
                      }
                    }
                  }
                }
                & td:nth-child(2) {
                  text-align: left;
                }
                & td:nth-child(3) {
                  text-align: right;
                }
              }
              & .body--total-analysis {
                & td {
                  text-align: right;
                  & .total-analysis--list-title,
                  .total-analysis--list-value {
                    text-align: right;
                    margin: 0;
                    list-style-type: none;
                    & li {
                      & p {
                        font-weight: 200;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}
