.navbar-mobile-options-language {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $p-blue;
  width: 11.5em;
  height: 3em;
  background-color: $p-grey;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    transition: .5s;
    background-color: $p-blue;
    color: $p-white;
    & .mobile-language-dropdown-content {
      height: 2.9em;
      opacity: 1;
    }
  }
  & .mobile-language-main-button {
    @extend .iphone-flex-center;
    height: 3em;
    background-color: inherit;
    color: inherit;
    & .mobile-language-main-button-us-parent {
      @extend .iphone-flex-center;
      & .mobile-language-main-button-us {
        @extend .iphone-flex-center;
        width: 2.5em;
        height: 2.5em;
        margin: 0;
        & .mobile-language-main-button-us-flag {
        height: 1.3em;
        width: 2.5em;
        background-image: $us-flag-icon;
        background-size: cover;
        margin: 0;
      }
      }
      & .mobile-language-main-button-us-title {
        @extend .iphone-flex-center;
        width: 6.2em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        background-color: transparent;
        color: inherit;
        font-family: $p-font;
        font-weight: 400;
      }
      & .mobile-language-main-button-us-chevron {
          @extend .iphone-flex-center;
          width: 1.1em;
          height: 2em;
          font-size: 15px;
          margin: 0;
          background-color: transparent;
          color: inherit;
          &.mobile-language-main-button-us-chevron-icon {
            width: 1em;
            height: 1em;
            color: inherit;
          }
        }
    }
    & .mobile-language-main-button-japanese-parent {
      @extend .iphone-flex-center;
      & .mobile-language-main-button-japanese {
        @extend .iphone-flex-center;
        width: 2.5em;
        height: 2.5em;
        margin: 0;
        & .mobile-language-main-button-japanese-flag {
        height: 1.5em;
        width: 2.5em;
        background-image: $jpn-flag-icon;
        background-size: cover;
        margin: 0;
      }
      }
      & .mobile-language-main-button-japanese-title {
        @extend .iphone-flex-center;
        width: 6.2em;
        height: 2.5em;
        font-size: 10px;
        margin: 0;
        background-color: transparent;
        color: inherit;
        font-family: $p-font;
        font-weight: 400;
      }
      & .mobile-language-main-button-japanese-chevron {
          @extend .iphone-flex-center;
          width: 1.1em;
          height: 2em;
          font-size: 15px;
          margin: 0;
          background-color: transparent;
          color: inherit;
          &.mobile-language-main-button-japanese-chevron-icon {
            width: 1em;
            height: 1em;
            color: inherit;
          }
        }
    }
  }
  & .mobile-language-dropdown-content {
    display: block;
    position: absolute;
    height: 0;
    width: 12em;
    background-color: $p-white;
    z-index: 1;
    padding: .8em .5em;
    opacity: 0;
    clear: both;
    overflow: hidden;
    @include prefixed(box-shadow, 1px 2px 5px rgba(0,0,0,.6));
    @include prefixed(transition, all .3s ease-in-out);
    & .mobile-language-dropdown-content-japanese {
      @extend .iphone-flex-center;
      height: 2.5em;
      width: 9em;
      text-decoration: none;
      margin: .2em 0 0 1.5em;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .mobile-language-dropdown-content-japanese-nihongo > span {
          color: $p-white;
        }
      }
      & .mobile-language-dropdown-content-japanese-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $jpn-flag-icon;
        background-size: cover;
      }
      & .mobile-language-dropdown-content-japanese-nihongo > span {
        font-size: 1.4em;
        padding-left: .71em;
        font-family: $s-font;
        color: $s-blue;
      }
    }
    & .mobile-language-dropdown-content-us {
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0em 2em 2em 2em;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .mobile-language-dropdown-content-us-english {
          color: $p-white;
        }
      }
      & .mobile-language-dropdown-content-us-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $us-flag-icon;
        background-size: cover;
      }
      & .mobile-language-dropdown-content-us-english > span {
        font-size: 1.4em;
        font-family: $s-font;
        color: $s-blue;
        padding-left: .71em;
      }
    }
  }
}
