.navbar-mobile-options-language {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $p-blue;
  width: 11em;
  height: 4em;
  @extend .ipp-white-bg;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    transition: .5s;
    background-color: $p-blue;
    color: $p-white;
    & .mobile-language-dropdown-content {
      display: block;
    }
  }
  & .mobile-language-main-button {
    @extend .ipp-flex-center;
    height: 4em;
    background-color: inherit;
    color: inherit;
    & .mobile-language-main-button-us {
      @extend .ipp-flex-center;
      width: 2.5em;
      height: 2.5em;
      margin: 0;
      & .mobile-language-main-button-us-flag {
        height: 1.3em;
        width: 2.6em;
        background-image: $us-flag-icon;
        background-size: cover;
        margin: 0;
      }
    }
    & .mobile-language-main-button-us-title {
      @extend .ipp-flex-center;
      width: 6.2em;
      height: 2.5em;
      font-size: 10px;
      margin: 0;
      background-color: transparent;
      color: inherit;
      font-family: $p-font;
      font-weight: 400;
    }
    & .mobile-language-main-button-us-chevron {
      @extend .ipp-flex-center;
      width: 1.1em;
      height: 2.5em;
      font-size: 15px;
      margin: 0;
      background-color: transparent;
      color: inherit;
      &.mobile-language-main-button-us-chevron-icon {
        width: 1em;
        height: 1em;
        color: inherit;
      }
    }
  }
  & .mobile-language-dropdown-content {
    display: none;
    position: absolute;
    height: 7em;
    width: 13em;
    background-color: $p-white;
    z-index: 1;
    box-shadow: 1px 2px 5px rgba(0,0,0,.6);
    & .mobile-language-dropdown-content-japanese {
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2em 2em;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .mobile-language-dropdown-content-japanese-nihongo {
          color: $p-white;
        }
      }
      & .mobile-language-dropdown-content-japanese-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $jpn-flag-icon;
        background-size: cover;
      }
      & .mobile-language-dropdown-content-japanese-nihongo {
        padding-left: 1em;
        font-family: $s-font;
        font-weight: 400;
        color: $s-blue;
        font-size: 1em;
      }
    }
    & .mobile-language-dropdown-content-us {
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0em 2em 2em 2em;
      &:hover,
      &:focus,
      &:active {
        transition: .5s;
        background-color: $p-blue;
        & .mobile-language-dropdown-content-us-english {
          color: $p-white;
        }
      }
      & .mobile-language-dropdown-content-us-image {
        height: 1.4em;
        width: 2.4em;
        background-image: $us-flag-icon;
        background-size: cover;
      }
      & .mobile-language-dropdown-content-us-english {
        padding-left: 1em;
        font-family: $s-font;
        font-weight: 400;
        color: $s-blue;
        font-size: 1em;
      }
    }
  }
}
