@media only screen and (min-width: 1079) and (max-width : 1921px) {
  .age-verification {
    position: fixed;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(1,1,1,.9);
    & .age-verification-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 38.6em;
      max-height: 40em;
      width: 26.6em;
      padding: 1.5em;
      margin: 10% auto;
      background-color: #FFFFFF;
      & .age-verification-logo-img {
        content: $logo-one-line;
        width: 27em;
        height: 4em;
        margin: 4em auto 5em auto;
      }
      & .age-verification-modal-description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 14.5;
        width: 100%;
        margin: 0 auto 6em auto;
        & p {
          text-align: center;
          font-size: 1.6em;
          line-height: 1.27em;
        }
      }
      & .age-verification-modal-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
        & .age-verification-modal-buttons-confirm {
          width: 7.33em;
          height: 2.66em;
          color: $p-white;
          font-size: 1.5em;
          font-family: $p-font;
          font-weight: bold;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          margin-right: 225px;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
        & .age-verification-modal-buttons-deny {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 7.33em;
          height: 2.66em;
          color: $p-white;
          font-size: 1.5em;
          font-family: $p-font;
          font-weight: bold;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          margin-left: 225px;
          text-decoration: none;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
      }
    }
  }

}

@media only screen and (max-width: 640px) {
  .age-verification {
    position: fixed;
    z-index: 10;
    display: none;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(1,1,1,.9);
    & .age-verification-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 38.6em;
      max-height: 40em;
      width: 26.6em;
      padding: 1.5em;
      margin: 10% auto;
      background-color: #FFFFFF;
      & .age-verification-logo-img {
        content: $logo-one-line;
        width: 27em;
        height: 4em;
        margin: 3em auto 5em auto;
      }
      & .age-verification-modal-description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 14.5;
        width: 100%;
        margin: 0 auto 4em auto;
        & p {
          text-align: center;
          font-size: 1.6em;
          line-height: 1.27em;
        }
      }
      & .age-verification-modal-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
        & .age-verification-modal-buttons-confirm {
          width: 75%;
          height: 2.8em;
          color: $p-white;
          font-size: 1.5em;
          font-family: $p-font;
          font-weight: bold;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          margin-bottom: 1em;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
        & .age-verification-modal-buttons-deny {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;
          height: 2.8em;
          color: $p-white;
          font-size: 1.5em;
          font-family: $p-font;
          font-weight: bold;
          letter-spacing: .02em;
          background-color: $p-red;
          z-index: 1;
          text-decoration: none;
          @include prefixed(box-shadow, 3px 3px 2px rgba(1,1,1,.25));
        }
      }
    }
  }
}
