// ------------------------------------------------------------
// NOTE: _Global_ Master Stylesheets
@import "Styles/images";
@import "Styles/colors";
@import "Styles/mixins";
@import "Styles/typography";
@import "Styles/transitions";
@import "Styles/elements";
@import "Styles/flexbox";

// ------------------------------------------------------------
// -------------------------- Utilities------------------------
// ------------------------------------------------------------
// NOTE: "Age Verification" Master Stylesheets
@import "Pages/AgeVerification/ageVerification_web";
@import "Pages/AgeVerification/ageVerification_mobile";

// // NOTE: "Navbar" Master Stylesheets
@import "Pages/Navbar/navbarStyles/navbar_styles_web";
@import "Pages/Navbar/navbarStyles/navbar_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Footer" Master Stylesheets
@import "Pages/Footer/footerStyles/footer_styles_web";
@import "Pages/Footer/footerStyles/footer_styles_mobile";

// ------------------------------------------------------------
// NOTE: "404" Master Stylesheets
@import "Pages/404/404_styles_web";
// @import "Pages/AgeVerification/ageVerification_mobile";

// ------------------------------------------------------------
// --------------------------- Auth ---------------------------
// ------------------------------------------------------------
// NOTE: "Login" Master Stylesheets
@import "Pages/Auth/Login/login_styles_web";
@import "Pages/Auth/Login/login_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Register" Master Stylesheets
@import "Pages/Auth/Register/register_styles_web";
@import "Pages/Auth/Register/register_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Forgot" Master Stylesheets
@import "Pages/Auth/Forgot/forgot_styles_web";
@import "Pages/Auth/Forgot/forgot_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Reset Password" Master Stylesheets
@import "Pages/Auth/ResetEmail/reset_styles_web";
@import "Pages/Auth/ResetEmail/reset_styles_mobile";

// ------------------------------------------------------------
// -------------------------- Products ------------------------
// ------------------------------------------------------------
// NOTE: "Homepage" Master Stylesheets
@import "Pages/Home/homeStyles/homepage_styles_web";
@import "Pages/Home/homeStyles/homepage_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Single Product" Master Stylesheets
@import "Pages/Products/productStyles/products_single_styles_web";
@import "Pages/Products/productStyles/products_single_styles_mobile";

// ------------------------------------------------------------
// NOTE: "All Products" Master Stylesheets
@import "Pages/Products/productStyles/products_all_styles_web";
@import "Pages/Products/productStyles/products_all_styles_mobile";

// ------------------------------------------------------------
// -------------------------- Checkout ------------------------
// ------------------------------------------------------------
// NOTE: "Cart" Master Stylesheets
@import "Pages/Cart/cart_styles_web";
@import "Pages/Cart/cart_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Checkout" Master Stylesheets
@import "Pages/ExpressCheckout/expressCheckout_styles_web";
@import "Pages/ExpressCheckout/expressCheckout_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Order Success" Master Stylesheets
@import "Pages/ExpressCheckout/orderSuccess_styles_web";
@import "Pages/ExpressCheckout/orderSuccess_styles_mobile";

// ------------------------------------------------------------
// ------------------------ Dashboards ------------------------
// ------------------------------------------------------------
// NOTE: "User Dashboard" Master Stylesheets
@import "Pages/UserDashboard/userDashStyles/userDashboard_styles_web";
@import "Pages/UserDashboard/userDashStyles/userDashboard_styles_mobile";
// ------------------------------------------------------------
// NOTE: "Admin Dashboard" Master Stylesheets
@import "Pages/AdminDashboard/adminDashStyles/adminDashboard_styles_web";
@import "Pages/AdminDashboard/adminDashStyles/adminDashboard_styles_mobile";

// ------------------------------------------------------------
html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
  color: $p-white;
}

.hide {
  display: none;
}

@media (min-width: 931px) {
  #main-section {
    @include prefixflex();
    justify-content: center;
    padding-top: 12rem;
    min-height: 52rem;
  }
}

@media (max-width: 930px) {
  #main-section {
    @include prefixflex();
    justify-content: center;
  }
}
