// ------------------------------------------------------------
// NOTE: _Global_ Master Stylesheets
@import "Styles/images";
@import "Styles/colors";
@import "Styles/mixins";
@import "Styles/typography";
@import "Styles/transitions";
@import "Styles/elements";

// ------------------------------------------------------------
// NOTE: "Age Verification" Master Stylesheets
@import "Pages/AgeVerification/ageVerification_web";
@import "Pages/AgeVerification/ageVerification_mobile";

// ------------------------------------------------------------
// NOTE: "Login" Master Stylesheets
@import "Pages/Auth/Login/login_styles_web";
@import "Pages/Auth/Login/login_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Register" Master Stylesheets
@import "Pages/Auth/Register/register_styles_web";
@import "Pages/Auth/Register/register_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Forgot" Master Stylesheets
@import "Pages/Auth/Forgot/forgot_styles_web";
@import "Pages/Auth/Forgot/forgot_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Reset Password" Master Stylesheets
@import "Pages/Auth/ResetEmail/reset_styles_web";
@import "Pages/Auth/ResetEmail/reset_styles_mobile";

// // ------------------------------------------------------------
// // NOTE: "Navbar" Master Stylesheets
@import "Pages/Navbar/navbarStyles/navbar_styles_web";
@import "Pages/Navbar/navbarStyles/navbar_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Homepage" Master Stylesheets
@import "Pages/Home/homeStyles/homepage_styles_web";
@import "Pages/Home/homeStyles/homepage_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Single Product" Master Stylesheets
@import "Pages/Products/productStyles/products_single_styles_web";
@import "Pages/Products/productStyles/products_single_styles_mobile";

// ------------------------------------------------------------
// NOTE: "All Products" Master Stylesheets
@import "Pages/Products/productStyles/products_all_styles_web";
@import "Pages/Products/productStyles/products_all_styles_mobile";


// ------------------------------------------------------------
// NOTE: "Cart" Master Stylesheets
@import "Pages/Cart/cart_styles_web";
@import "Pages/Cart/cart_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Checkout" Master Stylesheets
@import "Pages/ExpressCheckout/expressCheckout_styles_web";
@import "Pages/ExpressCheckout/expressCheckout_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Order Success" Master Stylesheets
@import "Pages/ExpressCheckout/orderSuccess_styles_web";
@import "Pages/ExpressCheckout/orderSuccess_styles_mobile";

// ------------------------------------------------------------
// NOTE: "Footer" Master Stylesheets
@import "Pages/Footer/footerStyles/footer_styles_web";
@import "Pages/Footer/footerStyles/footer_styles_mobile";

// ------------------------------------------------------------
// NOTE: "404" Master Stylesheets
@import "Pages/404/404_styles_web";
// @import "Pages/AgeVerification/ageVerification_mobile";

// ------------------------------------------------------------


body {
  font-size: 10px;
  background-color: #FFFFFF;
  margin: 0;
}

#main-section {
  @include prefixflex();
  justify-content: center;
}

a {
  text-decoration: none;
  color: $p-white;
}
