.hidden {
  display: none;
}
.mobile-flex-center {
  @include prefixflex();
  justify-content: center;
  align-items: center;
}
.mobile-flex-right {
  @include prefixflex();
  justify-content: flex-end;
  align-items: center;
}
.mobile-flex-left {
  @include prefixflex();
  justify-content: flex-start;
  align-items: center;
}
.navbar.navbar-web {
  display: none;
}
body {
  @include prefixflex();
  -webkit-box-orient: vertical;
  flex-direction: column;
  padding: 7px;
  box-sizing: border-box;
}
nav.navbar-mobile {
  height: 26em;
  width: 100%;
  background-color: $p-white;
  & .navbar-mobile-container {
    & .navbar-mobile-logo {
      height: 10em;
      @extend .mobile-flex-center;
      background-color: $p-white;
      background-color: $p-blue;
      & .navbar-mobile-logo-src {
        max-width: 20em;
        content: $main-logo;
      }
    }
    & .navbar-mobile-options {
      @extend .mobile-flex-center;
      height: 5em;
      width: 100%;
      background-color: $p-blue;
      border-bottom: 1px solid rgba(1,1,1,0.1);
    }
    & .navbar-mobile-actions {
      height: 5em;
      width: 100%;
      background-color: $p-blue;
    }
    & .navbar-mobile-nav {
      display: inline-block;
      position: relative;
      height: 6em;
      width: 100%;
      background-color: $p-blue;
    }
  }
}
@import './navbar_mobile_options/mobile_navbar_options';
@import './navbar_mobile_userActions/mobile_navbar_userActions';
@import './navbar_mobile_nav/navbar_mobile_nav_main/mobile_navbar_nav_main';
@import './navbar_mobile_nav/navbar_mobile_nav_dropdownContent/mobile_navbar_nav_dropdownContent';
