@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 3)
and (-webkit-device-pixel-ratio : 3) {
  @import './navbar_mobile_options/navbar_mobile_options';

  .ipp-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ipp-white-bg {
    background-color: $p-white;
  }
  .navbar.navbar-web {
    display: none;
  }
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    padding: 7px;
    box-sizing: border-box;
  }
  nav.navbar-mobile {
    height: 25em;
    width: 100%;
    background: pink;
    & .navbar-mobile-logo {
      @extend .ipp-flex-center;
      @extend .ipp-white-bg;
      width: 100%;
      height: 10em;
      & .navbar-mobile-logo-src {
        max-width: 20em;
        content: url("https://s3-ap-southeast-2.amazonaws.com/nj2jp/nj2jp.png");
      }
    }
    & .navbar-mobile-options {
      height: 5em;
      width: 100%;
      background-color: blue;
    }
    & .navbar-mobile-actions {
      height: 4em;
      width: 100%;
      background-color: green;
    }
    & .navbar-mobile-navbar {
      height: 6em;
      width: 100%;
      background-color: orange
    }
  }
}
