@import '../components/about/assets/about_web';
@import '../components/privacyPolicy/assets/privacyPolicy_web';
@import '../components/termsAndConditions/assets/termsAndConditions_web';
@import '../components/nicotineDisclaimer/assets/nicotineDisclaimer_web';
@import '../components/phone/assets/phone_web';
