@import '../components/about/assets/about_mobile';
@import '../components/privacyPolicy/assets/privacyPolicy_mobile';
@import '../components/termsAndConditions/assets/termsAndConditions_mobile';
@import '../components/nicotineDisclaimer/assets/nicotineDisclaimer_mobile';
@import '../components/phone/assets/phone_mobile';
@import '../components/contactUs/assets/contact_mobile';
